/**********************/
/***FULL SITE STYLES***/
/**********************/
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Cousine');

body {
	color: #777;
}
form {
  margin: 0;
}
p {
	font-size: 16px;
}
a {
	color: #7f3472;
}
a.button.button-sh-purple:hover:not(.button-fill),
#gotoTop:hover {
	background-color: #7f3472;
}
a.button.button-sh-purple {
	border: 2px solid #7f3472;
	color: #7f3472;
}
.dark #primary-menu:not(.not-dark) ul ul {
	border-top-color: #7f3472;
}
a:hover {
	color: #b5777d;
}
.font-18 {
	font-size: 18px;
}
.bold-purple {
  color: #7f3472;
  font-weight: 800;
}
/*STICKY NOTE FONT*/
.sticky-note-font p {
	font-family: 'Permanent Marker', cursive !important;
	font-size: 25px;
}
/*DOTTED UNDERLINE HYPERLINK*/
p span.p-link {
	border-bottom: 1px dotted #555;
}
/*IMAGE QUOTES*/

.image-quote .sh-quote,
.image-quote .sh-quote-author {
	color: #fff;
}
.image-definition .sh-definition-word,
.image-definition .sh-definition {
	color: #000;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
	font-family: 'Cousine';
}
.image-quote .sh-quote {
	width: 80%;
	margin-left: 10%;
	position: relative;
	top: -69px;
}
.image-quote .sh-quote p {
	font-size: 21px;
	font-weight: 300;
	line-height: 1.4;
}
.image-definition .sh-definition-word {
	letter-spacing: 1.5px;
	font-size: 18px;
}
.image-definition .sh-definition {
	margin-top: 10px;
}
.image-quote .sh-quote-sign{
	background-repeat: no-repeat;
	width: 125px;
	height: 90px;
}
.image-quote .sh-quote-sign.initial {
	background-image: url('../images/quotes.png');
	position: relative;
}
.image-quote .sh-quote-sign.after {
	background-image: url('../images/quotes-after.png');
	position: relative;
	top: -175px;
	right: -77%;
}

.emphasized-header {
	font-family: 'Crete Round', serif;
	font-style: italic;
	font-weight: 800 !important;
}
.entry-title h2 span.emphasized-header,
.entry-title h2 span.non-emphasized-header,
.heading-block span.emphasized-header,
.heading-block span.non-emphasized-header,
.inner-block span.emphasized-header,
.inner-block span.non-emphasized-header,
.footer-block span.emphasized-header,
.footer-block span.non-emphasized-header  {
	display: inline;
	font-size: 22px;
	color: #777;
}
.heading-block.two-lines:before {
  content: '';
  display:block;
  border-top:2px solid #444;
  width: 40px;
  margin: 30px auto;
}
.entry-title h2 span.emphasized-header,
.entry-title h2 span.non-emphasized-header{
	text-transform: none;
	letter-spacing: normal;
}
.entry-title h2 span.non-emphasized-header {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
/*****************/
/**FOOTER STYLES**/
/*****************/
.inner-block > span,
.footer-block > span {
    font-weight: 300;
    margin-top: 30px;
}
div.inner-block {
	margin-top: 30px;
}
footer .footer-social-icon {
	padding: 5px 8px 5px 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	color: #fff;
	background-color: #7f3472;
	border-radius: 5px;
}
footer .footer-social-icon:hover {
	color: #7f3472;
	background-color: #fff;
}
/*.footer-block::before{
	content: '';
	display: block;
	text-align: center;
	width: 40px;
	margin-left: 48.25%;
	margin-bottom: 30px;
	border-top: 2px solid #444;
}*/
/**************************//**************************/
/***END FULL SITE STYLES***//***END FULL SITE STYLES***/
/**************************//**************************/
/**************************//**************************/
/***HOME PAGE STYLES*******//***HOME PAGE STYLES*******/
/**************************//**************************/
#slider h1 {
	font-size: 52px;
	line-height: 1.2;
}
.slider-caption {
  max-width: none;
  width: 100%;
  left: 0;
}
#primary-menu ul li > a.button{
	padding: 8px 15px 10px;
	margin-top: 29px;
}
#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a.button {
    padding-top: 8px;
    padding-bottom: 19px;
    margin-top: 10px;
}
.slider-caption-left img.owl-header{
	position: relative;
	top: -258px;
}
.slider-caption-left img.curved-arrow-clicktrigger {
	-webkit-transform: translateY(20px) translateX(5px) rotate(5deg);
    position: relative;
    left: 169px;
}
.slider-caption-left h1.main-header {
	position: relative;
	right: -135px;
}
.slider-caption-left.opt2 h1.main-header {
	position: relative;
	right: 0px;
}
.slider-caption p {
	font-weight: 800;
}
p.cta {
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 0px;
}
.row.slider-caption a.button.cta {
	color: #fff;
  background-color: #7f3472;
  border: 1px solid #fff;
  font-size: 26px;
  padding: 10px;
  position: relative;
  margin: 10px 0;
  height: auto;
}
.hero-vid {
  margin: 20px 0;
}
#eventsPromo {
	background-color: #f9f9f9;
	border-bottom: 3px solid #EEE;
}
#eventsPromo .events .entry {
	border-bottom: none;
}
#actionItemsQuadrant .content-wrap {
	padding-top: 0px;
	padding-bottom: 70px;
	background-color: #f9f9f9;
}
#actionItemsQuadrant #siren {
	background-image: url('../images/siren.png');
}
#actionItemsQuadrant #donate {
	background-image: url('../images/donate.png');
}
#actionItemsQuadrant #shop {
	background-image: url('../images/shop.png');
}
#actionItemsQuadrant #helpingHand {
	background-image: url('../images/helping-hand.png');
}
#actionItemsQuadrant .action-item{
	background-size: 100px 100px;
	background-repeat: no-repeat;
	background-position: center;
	height: 250px;
	padding-top: 80px;
}
#actionItemsQuadrant .action-item:hover {
	cursor: pointer;
	border-top: 5px solid #893972;
}
#actionItemsQuadrant .action-item span.hover-text,
#actionItemsQuadrant .action-item:hover span.initial-text {
	display: none;
}
#actionItemsQuadrant .action-item:hover span.hover-text {
	display: inline-block;
}
#actionItemsQuadrant .action-item:hover span.hover-text a.button{
	position: relative;
	top: 70px;
}
#actionItemsQuadrant .action-item p {
	position: relative;
	top: 100px;
	font-size: 16px;
}
/***********************/
/***STANDARD NARRATIVE**/
/***********************/
#standardNarrative .section,
section.explanation-text-section .section  {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 60px;
}
#standardNarrative .heading-text span,
#standardNarrative .heading-block span {
	font-weight: 300;
    color: #777;
    font-size: 22px;
}
#standardNarrative .sticky-note {
	max-width: 300px;
  min-height: 250px;
	margin: 25px auto;
	padding: 15px;
}
#standardNarrative .sticky-correct-answer-heading{
	margin-top: 50px;
}
#standardNarrative .first-sticky,
#standardNarrative .second-sticky,
#standardNarrative .third-sticky {
	background: rgba(255,0,0,0.2)
}

#standardNarrative .sticky-correct-answer {
	background: rgba(75,211,57,0.2)
}

/***************************/
/***END STANDARD NARRATIVE**/
/***************************/
/********************/
/***RECENT STUDIES, LONG TERM HEALING***/
/********************/
section.section-image-left, section.section-image-right{
	background-color: #f9f9f9;
}
#longTermHealing .image-left,
#longTermHealing .image-center,
#longTermHealing .image-right{
	display: inline-block;
}

#longTermHealing .image-left,
#longTermHealing .image-center,
#longTermHealing .image-right{
	display: block;
}
#longTermHealing .image-caption{
	max-width: 165px;
	margin: 15px auto 50px;
	background-color: #431056;
	padding: 5px 10px;
	color: #fff;
}
#longTermHealing .image-center {
	padding-top: 45px;
}
/************************/
/***END RECENT STUDIES***/
/************************/
/***********************/
/**LEFT RIGHT PICTURES**/
/***********************/
#seekerDefinition .content-wrap{
	padding-bottom: 0px
}
#listenerDefinition .content-wrap{
	padding: 0px;
}
#connectionBoosterDefinition .content-wrap {
	padding-top: 0px;
}
/***************************/
/**END LEFT RIGHT PICTURES**/
/***************************/
#weAreMedicine.section  {
	margin-top: 0px;
}
#weAreMedicine .image-quote .sh-quote-sign.initial {
	left: 207px;
	top: -7px;
}
#weAreMedicine .image-quote .sh-quote-sign.after {
	top: -153px;
	right: -465px;
}
/**************************/
/***SUBSCRIBE STYLES*******/
/**************************/
.subscribe {
  background-color: #333;
  color: #CCC;
  padding: 35px;
}
.subscribe .input-group {
  width:50%;
  margin:0 auto 10px;
}
.btn-subscribe {
  margin: 0px;
  background-color: #7f3472;
  display: inline-block;
  color: #fff;
  border-color: #7f3472;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
}
.btn-subscribe:hover {
  color: #7f3472;
  background-color: #fff;
}
/**************************/
/***END SUBSCRIBE STYLES***/
/**************************/
/**************************//**************************/
/***END HOME PAGE STYLES***//***END HOME PAGE STYLES***/
/**************************//**************************/
/*/************************//**************************/
/****ABOUT PAGE STYLES****//*****ABOUT PAGE STYLES*****/
/**************************//**************************/
.sh-stickfigure-diagram {
	margin-top: 30px;
}
.sh-stickfigure-diagram img {
	margin-bottom: 15px;
}
.static-sticky {
	background-color: #dfcbf7; 
	opacity: 1;
	width: 80%;
	margin-left: 10%;
	height: 225px;
	padding: 10px 15px;
	line-height: 30px;
}
.sh-stickfigure-diagram .arrows {
	margin-top: 15px;
}
.arrows .left-arrow {
	-webkit-transform: translateY(20px) translateX(5px) rotate(-46deg);
    position: relative;
    top: -129px;
    left: 180px;
}
.arrows .left-mid-arrow {
	-webkit-transform: translateY(20px) translateX(5px) rotate(-21deg);
    position: relative;
    top: -65px;
    left: 133px;
}
.arrows .right-mid-arrow {
	-webkit-transform: translateY(20px) translateX(5px) rotate(21deg);
    position: relative;
    top: 16px;
    left: 76px;
}
.arrows .right-arrow {
	-webkit-transform: translateY(20px) translateX(5px) rotate(46deg);
    position: relative;
    top: 30px;
    left: -15px;
}
.stick-figure-family {
	position: relative;
    top: -97px;
}
.stick-figure-family img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.feature-box .heading-block.center:after {
	border-top: none;
}

.feature-box.fbox-outline .fbox-icon {
	border-color: #dfcbf7;
	
}
.feature-box .fbox-icon i {
	background-color: #dfcbf7;
}
#whyWeCare, #projectPlan, #galleryOwl, #owlScience, #owlFamily {
	background-size: 75px auto;
	background-repeat: no-repeat;
	background-position: center;
}
#whyWeCare {
	background-image: url('../images/WhyWeCare.png');	
}
#projectPlan {
	background-image: url('../images/projectPlan.png');	
}
#galleryOwl {
	background-image: url('../images/galleryOwl.png');	
}
#owlScience {
	background-image: url('../images/owlScienceCrop.png');		
}
#owlFamily {
	background-image: url('../images/owlFamilyCrop.png');		
}
.col_one_third .feature-box .fbox-icon a #donateImg {
	background-image: url('../images/donate-dark.png');
	background-size: cover;
}
.col_one_third .feature-box .fbox-icon a:hover #donateImg {
	background-image: url('../images/donate-white.png');
}
.col_one_third .feature-box .fbox-icon a #shopImg {
	background-image: url('../images/shop-dark.png');
	background-size: cover;
}
.col_one_third .feature-box .fbox-icon a:hover #shopImg {
	background-image: url('../images/shop-light.png');
}
.col_one_third .feature-box .fbox-icon a #volunteerImg {
	background-image: url('../images/volunteer-dark.png');
	background-size: cover;
}
.col_one_third .feature-box .fbox-icon a:hover #volunteerImg {
	background-image: url('../images/volunteer-light.png');
}
/**************************/
/***THE HEROIN EPIDEMIC****/
/**************************/
.explanation-text-section img.pull-right{
	position: relative;
	top: -53px;
	left: -50px;
}
#weCareBecause {
	background-color: #f9f9f9;
}
#weCareBecause.section {
	background-image: url('../images/because-bkgrnd.png');			
	background-repeat: repeat;
	margin-top: 0px;
}
.because-ending {
	background-color: rgba(0,0,0,0.8);
	padding: 30px;
	border-radius: 5px;
}
/******************************/
/***END THE HEROIN EPIDEMIC****/
/******************************/
/**************************/
/******OUR PROGRAMS********/
/**************************/
#three-phase-plan{
	margin-top: 30px;
}
#three-phase-plan .plan {
	background-color: #611bb8;
	text-align: center;
	padding: 30px 15px 30px 15px;
}
#three-phase-plan .plan-body {
	background-color: #fff;
	padding: 25px 15px;
    margin: -15px -10px -25px;
}
#three-phase-plan .plan-title .heading-block .emphasized-header,
#three-phase-plan .plan-title .heading-block .super-header {
	color: #fff;
}
#three-phase-plan .plan-title .heading-block .super-header {
	margin-bottom: 10px;
}
#three-phase-plan .plan-title .heading-block:after {
	border-top:2px solid #fff;
}
.button.button-plan-purple {
	background-color: #611bb8;
	color: #fff;
	border: 3px solid #611bb8;
	padding-bottom: 5px;
}
a.button.button-plan-purple.button-3d:hover {
	background-color: #fff !important;
	color: #611bb8;
	border: 3px solid #611bb8;
}
.plan-description p,
.plan-description ul,
.plan-description ul li{
	color: #fff;
	text-align: left;
}
.plan-description ul{
	padding-left: 15px;
	font-size: 16px;
}
.plan-description {
	padding-left: 75px;
}
#seekListening .image-left, 
#seekListening .image-right{
	display: inline-block;
}
#seekListening .image-left {
	margin-right: 45px;
}
#seekListening .image-right {
	margin-left: 45px;
}
#seekConnection .content-wrap, 
#seekListening .content-wrap,
#healingHubs .content-wrap{
    padding: 0px 0;
}
.split-bkgrnd-images {
	padding: 0px;
}
.split-bkgrnd-images .row {
	margin-left: 0px;
	margin-right: 15px;
}
.split-bkgrnd-images p {
	font-size: 22px;
	margin-bottom: 5px;
}
.split-bkgrnd-images p.lefthand-text {
	text-align: left;
	margin-left: 15px;
	margin-top: 10px;
}
.split-bkgrnd-images p.middle-text {
	color: #713a82;
}
.split-bkgrnd-images p.righthand-text {
	text-align: right;
	margin-bottom: 10px;
	margin-right: 15px;
}
.program-card {
	background-color:#E6E6FA; 
	padding: 25px;
	min-height: 435px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #AE9BDA;
}
.program-card.small {
	background-color:#E6E6FA; 
	padding: 20px;
	min-height: 120px;
	border-radius: 0 0 20px 20px;
	border-top: 1px solid #4A158A;
	box-shadow: none
}
.testimonial-card {
  background-color:#E6E6FA; 
  padding: 25px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #AE9BDA;
}
.testimonial-card p {
  margin-bottom: 10px;
}
.testimonial-card p strong {
  font-weight: 800;
  color: #4A158A;
}
.seekhealing {
	border: 1px solid #4A158A;
	border-radius: 20px;
	box-shadow: 5px 5px 15px #888888;
}
.seekhealing-logo {
	width: 120px;
	margin-right: 4px;
	margin-bottom: 7px;
}
.seekhealing img {
	padding: 30px;
	margin: 0 auto;
}
.traditional-model {
	margin: 0 auto;
  width: 75%;
  padding-bottom: 20px;
}
.program-card ol {
	padding: 0 0 0 20px;
}
.program-card li {
	padding-left: 10px;
	margin: 15px 0;
	line-height: 18px;
}
.program-card ul {
	padding: 0 17px;
	list-style: disc;
}
.program-card p {
	font-size:14px;
	font-weight:800;
	color:#4A158A;
	margin:20px 0;
}
.relapse {
	background-color: #9c1722;
	color: #fff;
	padding: 30px;
	font-family: 'Lato', sans-serif;
  font-size: 22px;
}
.program-authentic {
	margin: 50px auto 0;
	padding: 0 30px 0 0;
}
.authentic-label {
	background-color: #611bb8;
  padding: 20px;
  display: inline-block;
  color: #fff;
	font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.program-authentic ul {
	list-style-position: outside;
  padding: 10px 10px 10px 40px;
}
.program-sc {
	width: 75%;
}
.program-hh {
	width: 60%;
}
.program-desc {
	padding: 10px 30px;
}
.red-border {
	border: 1px solid #ca5753;
  padding: 20px;
}
.citations {
	list-style-position: inside;
  padding: 30px 0 0;
  margin: 0;
  font-size: 12px;
  line-height: 25px;
}
/**************************/
/****END OUR PROGRAMS******/
/**************************/
/**************************/
/*******ABOUT US***********/
/**************************/
.feature-box .fbox-icon a #boardDirectors {
	background-image: url('../images/board-directors-dark.png');
	background-size: cover;
}
.feature-box .fbox-icon a:hover #boardDirectors {
	background-image: url('../images/board-directors-light.png');
}
.feature-box .fbox-icon a #contactUs {
	background-image: url('../images/contact-dark.png');
	background-size: cover;
}
.feature-box .fbox-icon a:hover #contactUs {
	background-image: url('../images/contact-light.png');
}
.GaugeMeter {
  position: relative;
  text-align: center;
  overflow: hidden;
  cursor: default;
  display: inline-block;
  margin: 0 40px;
}
.GaugeMeter span, .GaugeMeter B {
  width: 54%;
  position: absolute;
  text-align: center;
  display: inline-block;
  color: #777;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 23%;
}
.GaugeMeter[data-style="Semi"] B {
  width: 80%;
  margin: 0 10%;
}
.GaugeMeter S, .GaugeMeter U {
  text-decoration: none;
  font-size: .60em;
  font-weight: 200;
  opacity: .6;
}
.GaugeMeter B {
  color: #777;
  font-weight: 200;
  opacity: .8;
}
.GaugeDate {
	font-size: 10px;
	line-height: 10px;
	font-weight: 300;
}
.heading-block.customHeader:after { margin: 0 auto; }
/**************************/
/*****END ABOUT US*********/
/**************************/
/**************************/
/*****GET INVOLVED*********/
/**************************/
.shop-thumbnails img {
  width: 23%;
  display: inline-block;
}
.volunteers {
	text-align: center;
	margin-top: 30px;
}
.subheader {
	font-size: 20px;
}
.positions-list {
	list-style-type: none;
}
/******************************************************************************
/* Form Styling */
#ciForm, #cuForm {
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  padding: 20px;
  /*margin: 40px 0;*/
  background-color: #fff;
  font-size: 16px;
}

.req {
  color:#db4437;
}

label {
  font-size: 16px;
  font-family: Lato, sans-serif;
}

a.definition {
  border-bottom: 1px dashed #7f3472;
  padding-bottom: 5px;
}

.tooltip {
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 2px 5px);
}

.tooltip.top .tooltip-inner{
  max-width:310px;
  padding:8px;
  color:#fff;
  text-align:center;
  background-color:#333;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px
}
select {
  margin: 10px 0 0 0;
  width: 100%;
}
textarea {
  width: 100%;
  border: 1px solid #ccc;
}

.form-control, .btn.form-control, .form-control:focus, .form-control.focus, 
.form-control.active.focus, .form-control>span:focus, label, label:focus,
.btn.active:focus {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  outline: 0;
}

.form-control {
  background-color: transparent;
}

input[type="text"].form-control, input[type="email"].form-control  {
  padding: 6px 0px;
  border-bottom: 1px solid #ccc;
}

input[type="text"].form-control.other {
  display: inline;
  margin: 0;
  padding: 0;
  height: 75%;
  width: 75%;
}

.btn.form-control {
  text-align: left;
  padding-left: 0px;
}

.fa-big {
  font-size: 20px;
}

.alert.alert-success {
	display: none;
}

.radio-inline + .radio-inline {
	margin-left: 0;
}

.row.invalid-row {
  background-color: #ffebee;
}

#ciForm .row, #cuForm .field {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.error-message {
  color: red;
  padding-top: 10px;
}

.form-subheader {
  margin-left: -35px;
  padding: 40px 0 20px;
}

.form-subheader-container {
  background-color: #7f3472;
  padding: 10px 0px 10px 20px;
  color: #fff;
  float: left;
}

.form-subheader-triangle {
  float:left;
}

.form-subheader-triangle svg {
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.form-subheader-triangle svg polygon {
  fill: #7f3472;
  stroke: #7f3472;
  stroke-width: 1;
}

.form-question-desc {
  font-size: 12px;
}

.form-question-example {
  font-size: 12px;
  color: #7f3472;
  font-style: italic;
  text-transform: none;
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 16px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input[type="radio"]:checked ~ .reveal-if-active,
input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px;
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow: visible;
}


input#mce-EMAIL {
  width: 100%;
}

/******************************************************************************
/***********************/
/*****MOBILE STYLES*****/
/***********************/
/**************************/
/*******CONTACT US*********/
/**************************/
#contact-content h3 {
	font-size: 22px;
	color: #777;
	line-height: 1.5;
	font-weight: 300;
    font-family: 'Lato', sans-serif;
}
/**************************/
/*****BOARD OF DIRECTORS***/
/**************************/
.team-title span {
	color: #7f3472;
}
/**************************/
/*****CONTACT***/
/**************************/
.feature-box h3 span.subtitle {
	font-size: 16px;
}
.feature-box.fbox-bg.fbox-center.fbox-plain .fbox-icon{
	background-color: transparent;
}
.testimonial .text-center .i-plain{
	float: none;
	color: #7f3472 !important;
}
.testimonial a {
	padding: 18px;
	display: inline-block;
}
.feature-box.fbox-plain .fbox-icon i {
	color: #7f3472;
}
blockquote {
  font-size: 18px;
  font-style: italic;
  margin: 0 auto;
  line-height: 1.45;
  position: relative;
  border: 0;
  text-align: center;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  font-family: Georgia, serif;
  font-size: 85px;
  font-weight: bold;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
 
blockquote cite:before {
  content: "\2014 \2009";
}
/**************************/
/*****THEY WERE HERE***/
/**************************/
.remembered ul {
	list-style-type: none;
}
.remembered ul>li {
	padding-bottom: 30px;
}
.remembered span {
	font-size: 12px;
}
.remembered span.by {
  font-style: italic;
}
ul.resources {
  list-style: none;
}
.resources li {
  margin-bottom: 30px;
}
.resources i {
  font-size: 35px;
  margin: 5px 10px 0 0;
}
.resources-item {
  display:table-cell;
}
/***********************/
/*****MOBILE STYLES*****/
/***********************/
.show-under-1024 {
	display: none;
}
.hide-under-1024 {
	display: block;
}
@media(max-width: 1199px) {
	.testimonial a {
		padding: 15px 30px;
	}	
}
@media(max-width: 1024px){
	.show-under-1024 {
		display: block;
	}
	.hide-under-1024 {
		display: none;
	}
	#slider .slider-caption-left.opt2 {
		top: 10px;
	}
	#slider .slider-caption-right {
		top: 0px;
		left: 0px;
		float: none;
	}
	#slider img.curved-arrow-clicktrigger {
		display: none;
	}
	#slider .slider-caption {
		max-width: none;
		text-align: center;
	}
  #slider:not(.swiper_wrapper) .slider-caption{
    display: block !important;
  }
  .slider-caption {
    position: relative;
  }
}
@media(max-width: 992px){
	.program-card {
		padding: 20px;
		min-height: 445px;
	}
	.program-card.small {
		padding: 10px;
		min-height: 125px;
	}
	.traditional-model {
	  width: 100%;
	}
  .subscribe .input-group {
    width: 70%;
  }
}
@media(max-width: 768px){
	#standardNarrative .sticky-note {
	  min-height: 110px;
	}
	.sticky-note-font p {
	    font-size: 20px;
	}
	.arrows .left-arrow {
	    top: -98px;
    	left: 83px;
    	-webkit-transform: translateY(20px) translateX(5px) rotate(-46deg);
	}
	.arrows .left-arrow img,
	.arrows .right-arrow img {
		width: 21%;
	}
	.arrows .left-mid-arrow {
	    top: -56px;
	    left: 61px;
	}
	.arrows .right-mid-arrow {
	    top: -10px;
	    left: 38px;
	}
	.arrows .right-arrow {
    	top: -4px;
    	left: -15px;
	}
	.stick-figure-family {
    	top: -60px;
	}
	.seekhealing img {
		padding: 0 0 10px 0;
	}
	.program-card.small {
		min-height: auto;
	}
}
@media(max-width: 736px){
  .subscribe .input-group {
    width: 100%;
  }
  #slider h1 {
    font-size: 34px;
  }
  .slider-caption p, p.cta {
    font-size: 18px;
  }
  .row.slider-caption a.button.cta {
    font-size: 20px;
  }
  .hero-area {
    margin: 0 0 25px 0;
  }
	#slider .slider-caption{
		position: relative;
	}
	#slider .slider-caption-left.opt2 {
		top: 10px;
	}
	#slider .slider-caption-right {
		top: 0px;
		left: -69px;
		float: none;
	}
	#slider .slider-caption-right h1 {
		font-size: 40px;
	}
	#slider img.curved-arrow-clicktrigger {
		display: none;
	}
	#slider .slider-caption {
		max-width: none;
		text-align: center;
	}
	.sticky-note-font p {
	    font-size: 16px;
	    line-height: 18px;
	    letter-spacing: 0.5px;
	}
	.static-sticky {
		margin-left: 5%;
	}
	.arrows .left-arrow,
	.arrows .left-mid-arrow,
	.arrows .right-mid-arrow,
	.arrows .right-arrow {
		top: 0px;
    	left: 30px;
    	-webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
	}
	.arrows .left-mid-arrow img,
	.arrows .right-mid-arrow img {
		width: 21%;
	}
	.arrows .left-arrow img,
	.arrows .right-arrow img {
		width: 15%;
	}
	.stick-figure-family {
    	top: -10px;
	}
	#longTermHealing .image-center {
		padding-top: 0px;
	}
	.program-card {
		padding: 25px;
		min-height: auto;
	}
	.program-authentic {
		margin: 0 auto;
		padding: 0 30px 0 15px;
  }
	.shop-thumbnails img {
	  width: 48%;
	}
  ul.resources {
    font-size: 12px;
  }
}
@media(max-width: 414px){
	.sticky-note-font p {
	    font-size: 13px;
	}
	.static-sticky {
		padding-left: 5px;
		padding-right: 5px;
	}
  blockquote {
    font-size: 12px;
  }
}
