---
page_title: About Us
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					{% include nav.html %}
				</div>

			</div>

		</header><!-- #header end -->

		<section class="explanation-text-section">
			<div class="section" >
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="non-emphasized-header">About </span>
						<span class="emphasized-header">
							Us
						</span>						
					</div>
					<div class="col_one_third">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="board-of-directors.html"><i id="boardDirectors"></i></a>
							</div>
							<h3>Board of Directors<span class="subtitle">Meet our dedicated leadership team</span></h3>
						</div>
					</div>

					<div class="col_one_third">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="/financials.html"><i id="donateImg"></i></a>
							</div>
							<h3>Financials<span class="subtitle">Take a look at our financials and documentation for your tax deductions</span></h3>
						</div>
					</div>

					<div class="col_one_third col_last">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="contact.html"><i id="contactUs"></i></a>
							</div>
							<h3>Contact<span class="subtitle">Just saying hello could open up a world of possibility</span></h3>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Content
		============================================= -->
		
		

{% include footer.html %}
