---
page_title: Our Programs
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					{% include nav.html %}
				</div>

			</div>

		</header><!-- #header end -->

		<section class="pilot-program-section">
				<div class="container clearfix">
					<div class="row">
						<div class="col-xs-12 text-center">
							<div class="heading-block center">
								<span class="emphasized-header">Asheville Pilot Program</span>
								<p class="bull-subheader">
									Where: Asheville, NC
									<span class="bull-elements">&bull;</span>
									When: March-Oct 2018
									<span class="bull-elements">&bull;</span>
									Phone: 828-547-0222
								</p>
							</div>
						</div>
					</div>

					<div class="row text-center">
						<div class="col-xs-12 text-center">
							<img src="/images/purplesticks.png" alt="purple stick figures">
							<h2>Seekers</h2>
							<p>Human beings who’ve made a commitment to become the happiest, healthiest humans they can be.</p>
							<img src="/images/asheville-seeker-arrows.png" alt="Two Groups of Seekers" class="split-graphic">
						</div>
					</div>

					<div class="row text-center">
						<div class="col-xs-6 text-center">
							<p>Seekers who aren’t in crisis, who volunteer to help, and who have been trained in the art of listening.</p>
						</div>

						<div class="col-xs-6 text-center">
							<p>Seekers who are actively healing from an addiction crisis.</p>
						</div>
					</div>

					<div class="row text-center rowmargin">
						<div class="col-xs-12 col-sm-6 text-center">
							<img src="/images/asheville-connection-agent-acts.png" alt="Connection Agent Activities">
						</div>

						<div class="col-xs-12 col-sm-6 text-center">
							<img src="/images/asheville-basketball.png" alt="Connection agent basketball graphic" class="ashe-bball">
							<h2 class="green-hdr">Connection Agent</h2>
							<p>Small business owners &amp; nonprofit leaders who are willing to offer discounted introductions to their communities.</p>
						</div>
					</div>

					<div class="row text-center rowmargin">
						<div class="col-xs-12 text-center">
							<img src="/images/asheville-gathering.png" alt="SeekHealing Monthly Gathering image">
							<h2>SeekHealing Monthly Gathering</h2>
							<p><span class="bold">First Sunday of every month:</span> all seekers gather for an evening of food, hanging out, and playing games designed to inspire vulnerability and to teach the art of building healthy relationships.</p>
						</div>
					</div>

					<div class="row text-center rowmargin">
						<div class="col-xs-12 text-center">
							<div class="match-left">
								<img src="/images/asheville-big.png" alt="Big Stick Figure">
							</div>
							<div class="match-right">
								<div class="row">
									<div class="match-inner-left">
										<p><span class="bold">We match each seeker with their <span class="blue">Person</span>.</span></p>
									</div>
									<div class="match-inner-right">
										<img src="/images/asheville-match.png" alt="Two Stick Figures">
									</div>
									<div class="match-inner-p">
										<p>
											You meet with your Person once a week. In each session, you decide together who will listen, and who will share. Both people receive the medicine of authentic connection.
										</p>
									</div>
								</div>
								<div class="row">
									<div class="match-inner-left">
										<p><span class="bold">We match each seeker with <span class="green">Connection Agents</span>.</span</p>
									</div>
									<div class="match-inner-right">
										<img src="/images/asheville-yoga.png" alt="Yoga Activity Stick Figures">
									</div>
									<div class="match-inner-p">
										<p>
											You talk to your Person about what interests you, or browse our library to find a thing you want to try. The Connection Agent for that thing introduces you to it through intro classes or meetings, for free or cheap.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row text-center rowmargin">
						<div class="col-xs-12 text-center">
							<img src="/images/asheville-data.png" alt="SeekHealing Weekly Data Collection">
							<h2>Weekly Data Collection</h2>
							<p><span class="bold">Every week:</span> all seekers meet in their Person pairs, fill out a data collection form and submit an (optional) selfie video to document your experience.</p>
						</div>
					</div>

					<div class="row text-center rowmargin">
						<div class="col-xs-12 text-center">
							<h3>And together, we heal.</h3>
						</div>
					</div>

					<div class="row text-center">
						<div class="col-xs-12 text-center">
							<h4>APPLY TO JOIN TODAY</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-md-offset-2 col-md-8 apply-rows">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-5 apply-btns">
									<a href="//bit.ly/seekAVL" class="button button-3d button-rounded button-purple" target="_blank">bit.ly/seekAVL</a>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-7">
									<p><span class="bold">Register as a <span class="purple">seeker</span> actively recovering from an addiction crisis.</span></p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-5 apply-btns">
									<a href="bit.ly/listenAVL" class="button button-3d button-rounded button-purple" target="_blank">bit.ly/listenAVL</a>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-7">
									<p><span class="bold">Volunteer and get trained to <span class="blue">listen.</span></span> (Three 8-hour training days spanning 2 weekends)</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-5 apply-btns">
									<a href="bit.ly/connectAVL" class="button button-3d button-rounded button-purple" target="_blank">bit.ly/connectAVL</a>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-7">
									<p><span class="bold">Become a <span class="green">Connection Agent</span> for your business or non-profit.</span></p>
								</div>
							</div>
						</div>
					</div>

					<div class="row text-center">
						<div class="col-xs-12 text-center">
							<p>SeekHealing is a 501(c)3 non-profit. All program participation is free of charge. Donations for listener training and connection agent contracts are suggested, but not required.</p>
						</div>
					</div>

				</div>
		</section>

		<!-- Content
		============================================= -->
		
		

{% include footer.html %}
