---
page_title: Board of Directors
---
{% include header.html %}

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					{% include nav.html %}

				</div>

			</div>

		</header><!-- #header end -->

		<section class="explanation-text-section">
			<div class="section" >
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="emphasized-header">Board </span>
						<span class="non-emphasized-header">
							of
						</span>
						<span class="emphasized-header">Directors </span>
						
					</div>
					<div class="row">
						<div class="col-md-6 bottommargin">

							<div class="team team-list clearfix">
								<div class="team-image">
									<img src="images/jennifer-headshot.jpg" alt="Jennifer Nicolaisen, Executive Director">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Jennifer Nicolaisen</h4><span>Executive Director </span></div>
									<div class="team-content">
										<p>Background: Strategic business consulting, team development & capital project management</p>
										<p>R&R: interface management, strategic decision-making</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 bottommargin">
							<div class="team team-list clearfix">
								<div class="team-image">
									<img src="images/kyla-headshot.jpg" alt="Kyla Trainor, Vice president global operations">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Kyla Trainor</h4><span>Vice President Global Operations</span></div>
									<div class="team-content">
										<p>Background: Business development, sales & marketing</p>
										<p>R&R: fundraising and business operations</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 bottommargin">
							<div class="team team-list clearfix">
								<div class="team-image">
									<img src="images/rachel-headshot.jpg" alt="Rachel Wurzman, PhD, Chief Science Officer">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Rachel Wurzman, PhD</h4><span>Chief Science Officer </span></div>
									<div class="team-content">
										<p>Background: Neuroscience PhD, post-doctoral research fellow in the LCNS at the University of Pennsylvania</p>
										<p>R&R: development and publication of academic research exploring the neuroscience of addiction behaviors& patterns.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 bottommargin">
							<div class="team team-list clearfix">
								<div class="team-image">
									<img src="images/amanda-headshot.jpg" alt="Amanda Straughn, MSW, Director of Program Administration">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Amanda Straughn, MSW</h4><span>Director of Program Administration</span></div>
									<div class="team-content">
										<p>Background: Masters in social work & 10+ years experience in recovery program management</p>
										<p>R&R: Recovery program design and development, volunteering training development & implementation, volunteer management.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 bottommargin">
							<div class="team team-list clearfix">
								<div class="team-image">
									<img src="http://placehold.it/800x800" alt="Joshua Ginsberg, Chief Technology Officer">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Joshua Ginsberg</h4><span>Chief Technology Officer</span></div>
									<div class="team-content">
										<p>Background: Chief Architect at Ansible by Red Hat, Inc</p>
										<p>R&R: identify opportunities for automation and greater technical efficiency within the organization, design database architecture and provide oversight to web development services</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Content
		============================================= -->
		
		

		<!-- Footer
		============================================= -->
		

	</div><!-- #wrapper end -->
	{% include footer.html %}
