---
page_title: Board of Directors
---
{% include header.html %}

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					{% include nav.html %}

				</div>

			</div>

		</header><!-- #header end -->

		<section class="explanation-text-section">
			<div class="section" >
				<div class="container clearfix">
					<div class="heading-block customHeader center">
						<span class="emphasized-header">Board </span>
						<span class="non-emphasized-header">
							of
						</span>
						<span class="emphasized-header">Directors </span>
						<p>100% volunteer</p>

					  <div class="GaugeMeter" id="hoursGauge" 
					  	data-percent="75"
					  	data-text="<font style='font-size:.75em;'>410</font>"
					  	data-size="200"
					  	data-color="#333"
					  	data-back="RGBa(0,0,0,.1)"
					  	data-width="15"
					  	data-label="Board Hours"
					  	data-style="Semi"
					  	data-label_color="#777"
					  ><div class="GaugeDate">As of October 2017</div></div>

					  <div class="GaugeMeter" id="donationGauge"
					  	data-percent="100"
					  	data-text="<font style='font-size:.75em;'>$6000</font>"
					  	data-size="200"
					  	data-color="#333"
					  	data-back="RGBa(0,0,0,.1)"
					  	data-width="15"
					  	data-label="Board Donations"
					  	data-style="Semi"
					  	data-label_color="#777"
					  ><div class="GaugeDate">As of October 2017</div></div>

					</div>
					<div class="row">
						<div class="col-md-6 bottommargin">

							<div class="team team-list clearfix">
								<div class="team-image">
									<img src="images/jennifer-headshot.jpg" alt="Jennifer Nicolaisen, Executive Director">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Jennifer Nicolaisen</h4><span>Executive Director </span></div>
									<div class="team-content">
										<p>Background: Strategic business consulting, team development &amp; capital project management</p>
										<p>Responsibilities: strategic vision, interface management, strategic networking, capital fundraising, SeekListening IP development</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 bottommargin">
							<div class="team team-list clearfix">
								<div class="team-image">
									<img src="images/kyla-headshot.png" alt="Kyla Trainor, Director of Development">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Kyla Trainor</h4><span>Director of Development</span></div>
									<div class="team-content">
										<p>Background: Business development, sales &amp; marketing</p>
										<p>Responsibilities: SeekConnection program oversight</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 bottommargin">
							<div class="team team-list clearfix">
								<div class="team-image">
									<img src="images/rachel-headshot.jpg" alt="Rachel Wurzman, PhD, Director of Science">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Rachel Wurzman, PhD</h4><span>Director of Science</span></div>
									<div class="team-content">
										<p>Background: Neuroscience PhD, post-doctoral research fellow in the LCNS at the University of Pennsylvania</p>
										<p>Responsibilities: development and publication of academic research exploring the neuroscience of addiction behaviors &amp; patterns.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 bottommargin">
							<div class="team team-list clearfix">
								<div class="team-image">
									<img src="/images/jag-headshot.jpg" alt="Joshua Ginsberg, Director of Technology">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Joshua Ginsberg</h4><span>Director of Technology</span></div>
									<div class="team-content">
										<p>Background: Chief Architect at Ansible by Red Hat, Inc</p>
										<p>Responsibilities: automation design, technology implementation, database design, and Project Director for phased web development project</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!-- Content
		============================================= -->
		
		

		<!-- Footer
		============================================= -->
		

	</div><!-- #wrapper end -->
	{% include footer.html %}
