---
page_title: Contact Us
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					{% include nav.html %}
				</div>

			</div>

		</header><!-- #header end -->

		<section id="contact-content" class="explanation-text-section">
			<div class="section" >
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="non-emphasized-header">Serving the </span>
						<span class="emphasized-header">Mid Atlantic Region </span>
						<span class="non-emphasized-header">of the USA </span>
					</div>
					<div class="row clear-bottommargin">

						<div class="col-md-3 col-sm-6 bottommargin clearfix">
							<div class="feature-box fbox-center fbox-bg fbox-plain">
								<div class="fbox-icon">
									<a href="#"><i class="icon-map-marker2"></i></a>
								</div>
								<h3>Washington DC<span class="subtitle"><a href="mailto:erin@seekhealing.org">erin@seakhealing.org</a></span></h3>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 bottommargin clearfix">
							<div class="feature-box fbox-center fbox-bg fbox-plain">
								<div class="fbox-icon">
									<a href="#"><i class="icon-map-marker2"></i></a>
								</div>
								<h3>Nashville TN<span class="subtitle"><a href="mailto:kyla@seekhealing.org">kyla@seakhealing.org</a></span></h3>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 bottommargin clearfix">
							<div class="feature-box fbox-center fbox-bg fbox-plain">
								<div class="fbox-icon">
									<a href="#"><i class="icon-map-marker2"></i></a>
								</div>
								<h3>Asheville NC<span class="subtitle"><a href="mailto:jennifer@seekhealing.org">jennifer@seakhealing.org</a></span></h3>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 bottommargin clearfix">
							<div class="feature-box fbox-center fbox-bg fbox-plain">
								<div class="fbox-icon">
									<a href="#"><i class="icon-map-marker2"></i></a>
								</div>
								<h3>Columbia SC<span class="subtitle"><a href="mailto:amanda@seekhealing.org">amanda@seakhealing.org</a></span></h3>
							</div>
						</div>

					</div><!-- Contact Info End -->
					<div class="heading-block center">
						<span class="emphasized-header">Connect </span>
						<span class="non-emphasized-header">With </span>
						<span class="emphasized-header">Us</span>
					</div>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-4 col-xs-offset-4 text-center">
							<div class="testimonial">
								<div class="col-md-3 text-center">
									<a href="https://www.facebook.com/seekhealing/" target="_blank"><i class="i-plain color icon-facebook nobottommargin" style="margin-right: 15px;"></i>
								</div>
								<div class="col-md-3 text-center">
									<a href="https://twitter.com/seek_healing" target="_blank"><i class="i-plain color icon-twitter nobottommargin" style="margin-right: 15px;"></i>
								</div>
								<div class="col-md-3 text-center">
									<a href="https://www.instagram.com/seekhealing/" target="_blank"><i class="i-plain color icon-instagram nobottommargin" style="margin-right: 15px;"></i>
								</div>
								<div class="col-md-3 text-center">
									<a href="mailto:info@seekhealing.org" target="_blank"><i class="i-plain color icon-envelope nobottommargin" style="margin-right: 15px;"></i>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- Content
		============================================= -->
		
		

{% include footer.html %}
