---
page_title: Contact Us
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					{% include nav.html %}
				</div>

			</div>

		</header><!-- #header end -->

		<section id="contact-content" class="explanation-text-section">
			<div class="section" >
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="non-emphasized-header">Contact </span>
						<span class="emphasized-header">
							Us
						</span>
						
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-2 text-center">
							
							<h3>Serving the mid atlantic region of the USA</h3>
							<p style="text-align: left;">Offices:</p>
							<ul style="text-align: left; padding-left: 15px;">
								<li>Washington DC (<a href="mailto:erin@seekhealing.org">erin@seakhealing.org</a>)</li>
								<li>Nashville TN (<a href="mailto:kyla@seekhealing.org">kyla@seakhealing.org</a>)</li>
								<li>Asheville NC (<a href="mailto:jennifer@seekhealing.org">jennifer@seakhealing.org</a>)</li>
								<li>Columbia SC (<a href="mailto:amanda@seekhealing.org">amanda@seakhealing.org</a>)</li>
							</ul>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4 text-center">
							
							<h3>Connect with us:</h3>
							<p style="text-align: left;">Find us on social media:</p>
							<ul style="text-align: left; padding-left: 15px;">
								<li>Instagram: <a href="https://www.instagram.com/seekhealing/">https://www.instagram.com/seekhealing/</a></li>
								<li>Twitter: <a href="https://twitter.com/seek_healing">https://twitter.com/seek_healing</a></li>
								<li>Facebook: <a href="https://www.facebook.com/seekhealing/">https://www.facebook.com/seekhealing/</a></li>
								<li>Email: <a href="mailto:info@seekhealing.org">info@seakhealing.org</a>)</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- Content
		============================================= -->
		
		

{% include footer.html %}
