---
page_title: Guidance for Detox
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					{% include nav.html %}
				</div>

			</div>

		</header><!-- #header end -->

		<section class="explanation-text-section">
			<div class="section" >
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="non-emphasized-header">Coming Soon... </span>						
					</div>

					<p>First year fiscal data will be available in Q2 2018. Please email <a href="mailto:kyla@seekhealing.org">kyla@seekhealing.org</a> for documentation of your tax-deductible donation.</p>
				</div>
			</div>
		</section>

{% include footer.html %}
