---
page_title: Get Involved
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					{% include nav.html %}
				</div>

			</div>

		</header><!-- #header end -->
		<section class="explanation-text-section">
			<div class="section" >
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="non-emphasized-header">Get </span>
						<span class="emphasized-header">
							Involved
						</span>						
					</div>
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center">
							
							<p>We are always trying to join forces with other open hearts and talented seekers!</p>
						</div>
					</div>
					<div class="col_one_third">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="#donate"><i id="donateImg"></i></a>
							</div>
							<h3>Donate<span class="subtitle">SeekHealing is a 501(c)3 not-for-profit organization, and your donation may be tax deductible.</span></h3>
						</div>
					</div>

					<div class="col_one_third">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="#shop"><i id="shopImg"></i></a>
							</div>
							<h3>Shop<span class="subtitle">Support the SeekHealing project by sporting swag from our store!</span></h3>
						</div>
					</div>

					<div class="col_one_third col_last">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="#volunteer"><i id="volunteerImg"></i></a>
							</div>
							<h3>Volunteer<span class="subtitle">Find out how you can volunteer to help create lasting healing.</span></h3>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="donate" class="explanation-text-section">
			<div class="section" style="background-color: #fff;">
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="emphasized-header">Donate </span>
					</div>
					<div class="row">
						<div class="col-sm-6 col-xs-12">
							<p>Our mission depends upon the generosity and support of donors like you. A financial or in-kind contribution of any amount can make all the difference in helping a seeker struggling with opioid addiction find a pathway toward the authentic connection experiences that create lasting, life-long healing.</p>
							<p>SeekHealing is a Virginia not-for-profit corporation and a public charity under section 501(c)3 of the Internal Revenue Code. Your donation to SeekHealing may be tax-deductible.</p>
						</div>
						<div class="col-sm-6 col-xs-12 text-center">
							<div class="row">
								<div class="col-md-12">
									<img src="images/owlHeartDollar.png" width="130px" height="auto" />
									<a href="https://seekhealing.kindful.com/" class="button button-3d button-rounded button-purple" target="_blank">Donate today</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<section id="shop" class="explanation-text-section">
			<div class="section" style="background-color: #fff;">
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="emphasized-header">Shop </span>
					</div>
					<div class="row">
						<div class="col-sm-6 col-sm-push-6 col-xs-12">
							<p>Show your support for SeekHealing by purchasing apparel and more from our online store. From t-shirts to hoodies, our stylish designs carry the logo and the message of the SeekHealing project.</p>
							<p>While your purchase may not be tax-deductible, you can help spread the message and mission of SeekHealing to your friends, family, and colleagues and show your personal commitment to seeking healing in your life.</p>

							<div class="shop-thumbnails">
								<img src="images/founders-tee.png" alt="Thumbnail of Founders T-Shirt" class="thumbnail" />
								<img src="images/watm-tee.png" alt="Thumbnail of WATM T-Shirt" class="thumbnail" />
								<img src="images/logo-tee.png" alt="Thumbnail of Logo T-Shirt" class="thumbnail" />
								<img src="images/good-vibes-tank.png" alt="Thumbnail of SeekHealing Tank Top" class="thumbnail" />
							</div>

						</div>
						<div class="col-sm-6 col-sm-pull-6 col-xs-12 text-center">
							<div class="row">
								<div class="col-md-12">
									<img src="images/owl-shopping-cart.png" width="200px" height="auto" />
									<a href="http://shop.seekhealing.org/" class="button button-3d button-rounded button-purple" target="_blank">Shop now</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<section id="volunteer" class="explanation-text-section">
			<div class="section" style="background-color: #fff;">
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="emphasized-header">Volunteer </span>
					</div>
					<div class="row">
						<div class="col-sm-6 col-xs-12">
							<p>All of us can be seekers, searching for connection, for meaning, and for growth in our lives. All of us can support other seekers in their own journeys.</p>
							<p>You can volunteer to help SeekHealing in its mission to facilitate the healing journey of seekers struggling with heroin or opioid addiction.</p>
							<p>Whatever your background, wherever you are in live, reach out today to find out how you can help a fellow seeker through the SeekHealing project.</p>
						</div>
						<div class="col-sm-6 col-xs-12 text-center">
							<div class="row">
								<div class="col-md-12">
									<img src="images/owl-volunteer.png" width="200px" height="auto" />
									<a href="mailto:info@seekhealing.org?subject=Volunteer+inquiry" class="button button-3d button-rounded button-purple">Volunteer today</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 text-center volunteers">
							<span class="subheader">CURRENTLY RECRUITING VOLUNTEERS WITH THE FOLLOWING SKILLS:</span>
							<ul class="positions-list">
								<li>Fundraising</li>
								<li>Press relations</li>
								<li>Accounting work</li>
								<li>Grant writing</li>
								<li>SEO & social media marketing</li>
								<li>Event planning in DC, Maryland, Virginia, WVA, Tennessee, North or South Carolina</li>
							</div>
					</div>

				</div>
			</div>
		</section>

		<!-- Content
		============================================= -->
		
		

		<!-- Footer
		============================================= -->
{% include footer.html %}
