---
page_title: Home
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					{% include nav.html %}

				</div>

			</div>

		</header><!-- #header end -->

		<section id="slider" class="slider-parallax full-screen dark" style="background: url(images/home-bkgrnd.jpg) center center no-repeat; background-size: cover">

			<div class="slider-parallax-inner">
				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="container clearfix">
								<div class="slider-caption">
									<div class="slider-caption-right">
										<h1 class="main-header show-under-1024" data-caption-animate="fadeInUp">It's time to <span class="emphasized-header" style="color: #fff">#RethinkRehab</span></h1>
										<iframe width="560" height="315" src="https://www.youtube.com/embed/lpa80nrOg2o" frameborder="0" allowfullscreen></iframe>
									</div>
									<div class="slider-caption-left opt2">
										<h1 class="main-header hide-under-1024" data-caption-animate="fadeInUp">It's time to <span class="emphasized-header" style="color: #fff">#RethinkRehab</span></h1>
										<p data-caption-animate="fadeInUp" data-caption-delay="200">Unlocking the benefits of authentic connection experiences to empower sustainable healing after detox from heroin &amp; opioid addiction.</p>
										<img src="images/curved-white-arrow.png" class="curved-arrow-clicktrigger">
									</div>
																	
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
		<section id="eventsPromo">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="nobottommargin">

						<div id="posts" class="events small-thumbs">

							<div class="entry clearfix">
								<div class="entry-image">
									<a href="#">
										<img src="images/smile.jpg" alt="'smile' by Luciane Lazzaris. Used with permission under the CC BY-ND 2.0 license.">
										<!-- <div class="entry-date">06<span>May</span></div> -->
									</a>
								</div>
								<div class="entry-c">
									<div class="entry-title">
										<h2>
											<!-- <span class="non-emphasized-header">SeekHealing </span> -->
											<span class="emphasized-header">SeekConnection Fundraising Drive</span>
										</h2>
									</div>
									<!-- <ul class="entry-meta clearfix">
										<li><a href="#"><i class="fa fa-clock-o"></i> 4:00pm - 7:00pm</a></li>
										<li><a href="#"><i class="fa fa-map-marker"></i> Washington, DC</a></li>
									</ul> -->
									<div class="entry-content">
										<p>Please donate today to help us reach our first goal of $30,000. Donations will be 100% used to fund the development and launch of the SeekConnection library. The library is an online database and global network of expert practitioners that will help seekers identify the best connection booster for them and then facilitate their transition into a community that supports that interest. (<a href="our-programs.html#seekConnection">Learn more...</a>)</p>
										<a href="https://seekhealing.kindful.com" target="_blank" class="button button-border button-rounded button-sh-purple">Donate today!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>				
		</section>

		<!-- Content
		============================================= -->
		<!--
		<section id="actionItemsQuadrant">
			<div class="content-wrap">
				<div class="container clearfix">
					<div class="col-md-3 col-sm-3 col-xs-6 text-center action-item" id="siren">
						<span class="initial-text">
							<p>
								<span class="p-link">I need help now</span>
							</p>
						</span>
						<span class="hover-text">
							<p>Connect with our healers now to get the help you need</p>
							<a href="get-help-now.html#donate" class="button button-3d button-rounded button-purple">Learn More</a>
						</span>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 text-center action-item" id="donate">
						<span class="initial-text">
							<p>
								<span class="p-link">Donate</span>
							</p>
						</span>
						<span class="hover-text">
							<p>Contribute to the project with time or resources</p>
							<a href="get-involved.html" class="button button-3d button-rounded button-purple">Learn More</a>
						</span>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 text-center action-item" id="shop">
						<span class="initial-text">
							<p>
								<span class="p-link">Shop</span>
							</p>
						</span>
						<span class="hover-text">
							<p>Get meaningful merchandise to help support the project</p>
							<a href="shop.html" class="button button-3d button-rounded button-purple">Learn More</a>
						</span>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 text-center action-item" id="helpingHand">
						<span class="initial-text">
							<p>
								<span class="p-link">I want to help</span>
							</p>
						</span>
						<span class="hover-text">
							<p>Get involved by becoming a community agent or a listener</p>
							<a href="get-involved.html" class="button button-3d button-rounded button-purple">Learn More</a>
						</span>
					</div>
				</div>
			</div>
		</section>
		-->
		<section id="aboutHeader" class="explanation-text-section">
			<div class="section">
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="non-emphasized-header">About </span>
						<span class="emphasized-header">
							SeekHealing
						</span>
					</div>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
							<p>SeekHealing is a detox aftercare model that unlocks the neurochemical benefits of authentic connection experiences. This non-profit organization provides equal-opportunity programs that use principles of connection & community to facilitate sustainable healing after detox from opioid &amp; heroin addiction.</p>

							<p><a href="downloads/SH Info Packet.pdf">For more information about SeekHealing</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>
		

{% include footer.html %}
