---
page_title: Home
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul>
							<li><a href="learn.html"><div>Learn</div></a>
								<ul>
									<li><a href="why-we-care.html"><div>The Heroin Epidemic</div></a></li>
									<li><a href="rethinking-rehab.html"><div>Rethinking Rehab</div></a></li>
									<li><a href="science-of-connection.html"><div>The Science of Connection</div></a></li>
								</ul>
							</li>
							<li><a href="our-programs.html"><div>Our Programs</div></a></li>
							<li><a href="get-involved.html"><div>Get Involved</div></a></li>
							<li><a href="blog.html"><div>Stay Connected</div></a>
								<ul>
									<li><a href="blog.html"><div>Blog</div></a></li>
									<!--<li><a href="gallery.html"><div>Gallery</div></a></li>-->
									<li><a href="upcoming-events.html"><div>Upcoming Events</div></a></li>
								</ul>
							</li>
							<li><a href="about.html"><div>About Us</div></a>
								<ul>
									<li><a href="board-of-directors.html"><div>Board of Directors</div></a></li>
									<!--<li><a href="legal-financial.html"><div>Legal & Financial Statements</div></a></li>-->
									<li><a href="contact.html"><div>Contact</div></a></li>
								</ul>
							</li>
							<li><a href="get-help-now.html" class="button button-border button-rounded button-sh-purple">I need help now</a></li>
						</ul>
					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<section id="slider" class="slider-parallax full-screen dark" style="background: url(images/home-bkgrnd.png) center center no-repeat; background-size: cover">

			<div class="slider-parallax-inner">
				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="container clearfix">
								<div class="slider-caption">
									<div class="slider-caption-right">
										<iframe width="560" height="315" src="https://www.youtube.com/embed/u3ivr41yxGs?list=RDu3ivr41yxGs" frameborder="0" allowfullscreen></iframe>
									</div>
									<div class="slider-caption-left opt2">
										<h1 class="main-header" data-caption-animate="fadeInUp">It's time to <span class="emphasized-header" style="color: #fff">#RethinkRehab</span></h1>
										<p data-caption-animate="fadeInUp" data-caption-delay="200">Fighting the heroin & opioid epidemic with the only medicine that works for everyone: <span class="emphasized-header" style="color: #fff">authentic connection. </span> Find out how:</p>
										<img src="images/curved-white-arrow.png" class="curved-arrow-clicktrigger">
									</div>
																	
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
		<section id="eventsPromo">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="nobottommargin">

						<div id="posts" class="events small-thumbs">

							<div class="entry clearfix">
								<div class="entry-image">
									<a href="#">
										<img src="images/events-placeholder.jpg" alt="Inventore voluptates velit totam ipsa tenetur">
										<div class="entry-date">06<span>May</span></div>
									</a>
								</div>
								<div class="entry-c">
									<div class="entry-title">
										<h2>
											<span class="non-emphasized-header">SeekHealing </span>
											<span class="emphasized-header">Launch Party</span>
										</h2>
									</div>
									<ul class="entry-meta clearfix">
										<li><a href="#"><i class="fa fa-clock-o"></i> 4:00pm - 7:00pm</a></li>
										<li><a href="#"><i class="fa fa-map-marker"></i> Washington, DC</a></li>
									</ul>
									<div class="entry-content">
										<p>Join us on Saturday May 6th at 4pm for our first public fundraising event: come dance, donate, and connect! We'll be hanging out at at the Lost Society in Washington D.C. and live-launching a Crowdrise campaign to reconnect those who have lost themselves or others to opioid & heroin addiction.</p>
										<a href="https://www.eventbrite.com/e/seekhealing-launch-party-tickets-32637108470" target="_blank" class="button button-border button-rounded button-sh-purple">Buy Tickets</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>				
		</section>

		<!-- Content
		============================================= -->
		<section id="actionItemsQuadrant">
			<div class="content-wrap">
				<div class="container clearfix">
					<div class="col-md-3 col-sm-3 col-xs-3 text-center action-item" id="siren">
						<span class="initial-text">
							<p>
								<span class="p-link">I need help now</span>
							</p>
						</span>
						<span class="hover-text">
							<p>Connect with our healers now to get the help you need</p>
							<a href="get-help-now.html#donate" class="button button-3d button-rounded button-purple">Learn More</a>
						</span>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-3 text-center action-item" id="donate">
						<span class="initial-text">
							<p>
								<span class="p-link">Donate</span>
							</p>
						</span>
						<span class="hover-text">
							<p>Contribute to the project with time or resources</p>
							<a href="get-involved.html" class="button button-3d button-rounded button-purple">Learn More</a>
						</span>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-3 text-center action-item" id="shop">
						<span class="initial-text">
							<p>
								<span class="p-link">Shop</span>
							</p>
						</span>
						<span class="hover-text">
							<p>Get meaningful merchandise to help support the project</p>
							<a href="shop.html" class="button button-3d button-rounded button-purple">Learn More</a>
						</span>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-3 text-center action-item" id="helpingHand">
						<span class="initial-text">
							<p>
								<span class="p-link">I want to help</span>
							</p>
						</span>
						<span class="hover-text">
							<p>Get involved by becoming a community agent or a listener</p>
							<a href="get-involved.html" class="button button-3d button-rounded button-purple">Learn More</a>
						</span>
					</div>
				</div>
			</div>
		</section>
		<section id="aboutHeader" class="explanation-text-section">
			<div class="section">
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="non-emphasized-header">About </span>
						<span class="emphasized-header">
							SeekHealing
						</span>
					</div>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-2 col-xs-offset-2 text-center">
							<p>SeekHealing is a non-profit, non-partisan project organization. Our mission is to help people feel safe enough and connect deeply enough to catalyze transformational, sustainable healing from opioid addiction.</p>
							<p>To accomplish this, the project creates the conditions for symbiotic relationships to occur organically between lonely or disconnected subcultures and individuals.</p>
						</div>
					</div>
					<div class="sh-stickfigure-diagram">
						<div class="row">
							<div class="col-md-3 col-sm-3 col-xs-3">
								<div class="row text-center">
									<img src="images/indifferent-stick-figure.png"/>
								</div>
								<div class="row">
									<div class="sticky-note static-sticky sticky-note-font">
										<p>Older Adults who experience disconnectedness in retirement</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3">
								<div class="row text-center">
									<img src="images/indifferent-stick-figure.png"/>
								</div>
								<div class="row">
									<div class="sticky-note static-sticky sticky-note-font">
										<p>Adults with Opiate Bonds</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3">
								<div class="row text-center">
									<img src="images/indifferent-stick-figure.png"/>
								</div>
								<div class="row">
									<div class="sticky-note static-sticky sticky-note-font">
										<p>Adults in recovery, or seeking next step in personal growth</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3">
								<div class="row text-center">
									<img src="images/indifferent-stick-figure.png"/>
								</div>
								<div class="row">
									<div class="sticky-note static-sticky sticky-note-font">
										<p>Younger adults who want to make a difference & feel a lack of purpose</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row arrows">
							<div class="col-md-3 col-sm-3 col-xs-3 left-arrow">
								<img src="images/long-purple-arrow.png"/>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3 left-mid-arrow">
								<img src="images/short-purple-arrow.png"/>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3 right-mid-arrow">
								<img src="images/short-purple-arrow.png"/>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3 right-arrow">
								<img src="images/long-purple-arrow.png"/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-2 col-xs-offset-2 text-center stick-figure-family">
								<img src="images/happy-stick-figure-family.png"/>
								<img src="images/color-logo-300.png"/>
								<p>We connect people or groups of people in order to facilitate measurable improvements to health & happiness to all parties. By rejecting the medicalization model of therapist-patient relationships, we can capitalize on the natural byproducts of community interdependence where people get better by helping each other. This approach drives permanent changes to addiction patterns while also promoting the health & happiness of volunteers. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		

{% include footer.html %}
