---
page_title: Home
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					{% include nav.html %}

				</div>

			</div>

		</header><!-- #header end -->

		<section id="slider" class="slider-parallax full-screen dark" style="background: url(images/home-bkgrnd.jpg) center center no-repeat; background-size: cover">

			<div class="slider-parallax-inner">

				<div class="hero-area">
					<div class="container clearfix">
						<div class="row slider-caption">
							<div class="col-md-6 col-xs-12">
								<h1 class="main-header" data-caption-animate="fadeInUp">It's time to <span class="emphasized-header" style="color: #fff">#RethinkRehab</span></h1>
								<p data-caption-animate="fadeInUp">Detox aftercare services that liberate human beings from opioid addiction relapse.</p>
								<p data-caption-animate="fadeInUp" class="cta">Be a part of the solution to the opioid epidemic in the Mid-Atlantic US &rarr;</p>
								<a href="https://seekhealing.kindful.com" target="_blank" class="button button-border button-rounded cta">Donate today!</a>
							</div>
							<div class="col-md-6 col-xs-12">
								<div class="embed-responsive embed-responsive-16by9 hero-vid">
								   <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/lpa80nrOg2o" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>


		</section>
		<section id="eventsPromo">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="nobottommargin">

						<div id="posts" class="events small-thumbs">

              <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-12">
                  <blockquote>
                    I have been a seeker and still am </br>
                    but I stopped asking the books and the stars.</br>
                    I started listening to the teaching of my soul.</br>
                    <cite>Rumi</cite>
                  </blockquote>
                </div>
              </div>

						</div>
					</div>
				</div>
			</div>				
		</section>

		<!-- Content
		============================================= -->

		<section id="aboutHeader" class="explanation-text-section">
			<div class="section">
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="non-emphasized-header">About </span>
						<span class="emphasized-header">
							SeekHealing
						</span>
					</div>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
							<p class="font-18">A detox aftercare model that unlocks the neurochemical benefits of authentic connection experiences. This non-profit organization provides equal-opportunity programs that use principles of connection &amp; community to empower sustainable healing after detox from opioid &amp; heroin addiction.</p>

							<p><a href="downloads/SH Info Packet.pdf">Click here to download a brochure for more information</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="subscribe" class="subscribe">
			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
				<form action="https://seekhealing.us14.list-manage.com/subscribe/post?u=b5ccdb9ee0337d7a627a1c1a5&amp;id=800ac4eef4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate text-center" target="_blank" novalidate="">
    			<h3 for="mce-EMAIL" style="color: #fff;">Subscribe to our mailing list</h3>
  				<div id="mc_embed_signup_scroll" class="text-center">

						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div class="sr-only" aria-hidden="true">
							<input type="text" name="b_b5ccdb9ee0337d7a627a1c1a5_800ac4eef4" tabindex="-1" value="">
						</div>

						<div class="input-group">
    					<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required="">
    					<span class="input-group-btn">
      					<input type="submit" class="btn btn-default btn-subscribe" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
    					</span>
  					</div><!-- /input-group -->

  				</div>
				</form>
			</div><!--End mc_embed_signup-->
		</section>

		<section id="personalStories" class="explanation-text-section">
			<div class="section">
				<div class="container clearfix">

					<div class="row">
						<div class="col-xs-12">
							<div class="testimonial-card bottommargin">
								<div class="heading-block nobottomborder nobottommargin center">
									<span class="emphasized-header">My name is Michael, and I'm a seeker.</span>
								</div>
								<p><strong>Age:</strong> 29</p>
								<p><strong>Occupation:</strong> Judicial Law Clerk</p>
								<p><strong>Hardest part of my journey:</strong> The crushing feeling of loneliness. I had this feeling that life was a zero-sum game, and it was me against everyone else - always trying to get one over on them. It wore on me more than anything else.</p>
								<p><strong>How connection helped me heal:</strong> Once I found a community of people like me; people who thought like me, who felt like me, who I could relate with; it started to get easier. For me it was awesome sober people who are diehard fans of touring jam-bands like Phish. I met people who were just like me who had found their way into recovery, and I identified with them. It made me feel like it was possible for me too.</p>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="testimonial-card bottommargin">
								<div class="heading-block nobottomborder nobottommargin center">
									<span class="emphasized-header">My name is Courtney, and I'm a seeker.</span>
								</div>
								<p><strong>Age:</strong> 26</p>
								<p><strong>Occupation:</strong> Full-time Mom</p>
								<p><strong>Hardest part of my journey:</strong> Going to prison for seven months. I did things in active addiction that make my soul cringe now.</p>
								<p><strong>How connection helped me heal:</strong> Meeting and learning how to trust others who have been through what I've been through has helped me tremendously. I wouldn't be where I am today without joining an amazing church as well as a relapse prevention group. Building a strong and real relationship with my partner who has also been critical to my success. Knowing my resources and taking advantage of them was a huge step for me to take in my personal growth, and I also fully believe that you can't keep something without giving it away; I help others change every chance I get because if no one had stepped up to help me, God only knows where I'd be today.</p>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="testimonial-card bottommargin">
								<div class="heading-block nobottomborder nobottommargin center">
									<span class="emphasized-header">My name is Wesley, and I'm a seeker.</span>
								</div>
								<p><strong>Age:</strong> 33</p>
								<p><strong>Occupation:</strong> Ibogaine-Assisted Detox Therapy Provider</p>
								<p><strong>Hardest part of my journey:</strong> Learning to live in a world best described by tears.</p>
								<p><strong>How connection helped me heal:</strong> I chose a new family for myself, I think it's important we have a passion and a reason to wake up in the morning. Iboga offered me that and I ended up doing something where I was supported by others. I spent a lot of my life isolated, and I had to find people who supported me, and who I didn't feel so weird around all the time - and if I was, it would be ok. The people I met through Iboga Life gave me that. They accepted me as I was and loved me and I loved them in return.</p>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="testimonial-card bottommargin">
								<div class="heading-block nobottomborder nobottommargin center">
									<span class="emphasized-header">My name is Tyler, and I'm a seeker.</span>
								</div>
								<p><strong>Age:</strong> 31</p>
								<p><strong>Occupation:</strong> Small Busines Owner</p>
								<p><strong>Hardest part of my journey:</strong> The physical pain I had to manage only to realize that the pain management method a doctor prescribed me was worsening my overall health.</p>
								<p><strong>How connection helped me heal:</strong> Teaching myself and becoming passionate about how to cultivate plants and tend to a garden. Taking care of a plant that has complex needs and being responsible for its life. Feeling that sense of belonging &amp; purpose by literally getting my hands dirty and learning how to feel what a growing thing needs in order to survive.</p>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="testimonial-card bottommargin">
								<div class="heading-block nobottomborder nobottommargin center">
									<span class="emphasized-header">My name is Don, and I'm a seeker.</span>
								</div>
								<p><strong>Age:</strong> 45</p>
								<p><strong>Occupation:</strong> Landscaping architect</p>
								<p><strong>Hardest part of my journey:</strong> Choosing to be homeless and sleeping outside in the woods for a month rather than continuing in the direction I was going, which would have killed me.</p>
								<p><strong>How connection helped me heal:</strong> Regularly attending NA meetings with people who loved me and challenged me and supported me. Then, I discovered how much it helped me heal and stay sober to talk about journey and help other people, meeting other people in recovery and having hard conversations with them about where they're at. For me it has ben all about meeting and making friends with people who understand what I went though and who don't judge me.</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		

{% include footer.html %}
