---
page_title: Learn
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					{% include nav.html %}

				</div>

			</div>

		</header><!-- #header end -->
		<section class="explanation-text-section">
			<div class="section" >
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="emphasized-header">
							Learn
						</span>						
					</div>
					<div class="col_one_third">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="why-we-care.html"><i id="whyWeCare"></i></a>
							</div>
							<h3>The Heroin Epidemic<span class="subtitle">Why are we doing this?</span></h3>
						</div>
					</div>

					<div class="col_one_third">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="rethinking-rehab.html"><i id="projectPlan"></i></a>
							</div>
							<h3>Rethinking rehab<span class="subtitle">We are changing the narrative and helping foster authentic connection experiences</span></h3>
						</div>
					</div>

					<div class="col_one_third col_last">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="science-of-connection.html"><i id="owlScience"></i></a>
							</div>
							<h3>The science of connection<span class="subtitle">We are exploring the science of addiction and following what works</span></h3>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Content
		============================================= -->
		
		

{% include footer.html %}
