---
page_title: Our Programs
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					{% include nav.html %}
				</div>

			</div>

		</header><!-- #header end -->

		<section class="explanation-text-section">
			<div class="section" >
				<div class="container clearfix">
<!-- 					<div class="heading-block center">
						<span class="non-emphasized-header">Heal</span>						
					</div> -->

					<div class="row">
						<div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
							<div class="program-card bottommargin">
								<div class="heading-block nobottomborder nobottommargin center">
									<span class="non-emphasized-header">Goal:</span>
									<p>enhance neuroplasticity in program participants<sup>3</sup></p>
								</div>
								<ol>
									<li>Frequent experiences of authentic social and spiritual connection</li>
									<li>Repetition and neurochemical rewards for learning new patterns</li>
									<li>Adaptation to a complete change in daily living environment</li>
									<li>Healthy biochemistry</li>
								</ol>
							</div>
						</div>
						<div class="col-md-5 col-sm-6 col-xs-12">
							<div class="program-card bottommargin">
								<div class="heading-block nobottomborder nobottommargin center">
									<span class="non-emphasized-header">By:</span>
									<p>providing intentional experiences of authentic connection</p>	
								</div>
								<div class="sticky-note second-sticky sticky-note-font start">
									<ol>
										<li>Peer-based therapy trained for shame elimination</li>
										<li>Guided exposure to new learning experiences, jobs, hobbies, practices, activities, using:
											<ul>
												<li>Scalable technology platform + grassroots affiliate network with local small businesses & non-profits</li>
											</ul>
										</li>
										<li>Co-housing projects for short-term biochemical health improvement</li>
										<li>Personalized treatment plans & durations</li>
									</ol>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 text-center">
							<div class="heading-block center">
								<span class="emphasized-header">Traditional Recovery Model</span>
								<p>Create a space for sober connections that is separate from “normal” communities</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<img src="images/traditional-recovery-model-graphic.png" alt="Traditional Recovery Model Graphic" class="img-responsive traditional-model">
						</div>
					</div>
				</div>

				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 relapse text-center bottommargin">
							Average relapse rate: 80% within first month<sup>2</sup>
						</div>
					</div>
				</div>

				<div class="container clearfix">
					<div class="row">
						<div class="col-xs-12 text-center">
							<div class="heading-block center">
								<span class="non-emphasized-header"><img src="images/seekhealing-logo.png" class="seekhealing-logo" alt="SeekHealing"></span>
								<span class="emphasized-header"> Model</span>
								<p>Integrate humans through authentic connections to reduce 1-year relapse rate by 50%</p>
							</div>
						</div>

						<div class="col-sm-4 col-xs-12 bottommargin">
							<div class="seekhealing">
								<img src="images/seekhealing-1.png" class="img-responsive">
								<div class="program-card small">
									<div class="heading-block nobottomborder nobottommargin center">
										<p>Match people in peer-based therapy for shame elimination</p>	
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-4 col-xs-12 bottommargin">
							<div class="seekhealing">							
								<img src="images/seekhealing-2.png" class="img-responsive">
								<div class="program-card small">
									<div class="heading-block nobottomborder nobottommargin center">
										<p>A safe place to heal + guided exposure to new communities &amp; activities</p>	
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-4 col-xs-12 bottommargin">
							<div class="seekhealing">
								<img src="images/seekhealing-3.png" class="img-responsive">
								<div class="program-card small">
									<div class="heading-block nobottomborder nobottommargin center">
										<p>Personalized community &amp; work transitions</p>	
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 text-center">
							<div class="heading-block center">
								<span class="emphasized-header">Authentic Connection Is Symbiotic</span>
								<p>
									The model delivers mental health &amp; business benefits to each of the user groups involved in the healing network.
								</p>
							</div>
						</div>

						<div class="col-sm-6 col-xs-12 program-authentic">
							<div class="authentic-label">Seekers</div>
							<ul>
								<li>after detox from active addiction</li>
							</ul>
							<div class="authentic-label">Listeners</div>
							<ul>
								<li>after a major life transition; like retirement, mental illness recovery, academic graduation, or targeted career development</li>
							</ul>
							<div class="authentic-label">Connection Agents</div>
							<ul>
								<li>as representatives for communities and businesses that promote healing through connection</li>
							</ul>
						</div>

						<div class="col-sm-6 col-xs-12">
							<img class="img-responsive" src="images/venn-diagram.png" alt="Humans of all kinds can help each other">
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 text-center">
							<div class="heading-block center">
								<span class="emphasized-header">SeekHealing Programs:</span>
								<p>
									The model delivers mental health &amp; business benefits to each of the user groups involved in the healing network.
								</p>
							</div>
						</div>

						<div class="col-sm-6 col-xs-12 text-center">
							<img src="images/seekconnection.png" class="program-sc" alt="SeekConnection">

							<p class="program-desc">The world’s first online social network for healing &amp; recovery that functions alongside a bridge program between traditional rehab programs and connection agents in the local community.</p>
						</div>
						<div class="col-sm-6 col-xs-12 text-center">
							<img src="images/healing-hubs.png" class="program-hh" alt="Healing Hubs">

							<p class="program-desc">Co-housing projects that are self-sustaining, create microfinancing opportunities, and provide healing-focused housing for diverse populations who have similar needs for authentic connection experiences.</p>
						</div>

						<div class="col-xs-12 red-border">
							Program features in both the bridge program &amp; Healing Hubs include peer-based therapy, shame elimination, guided exposure to connection-enhancing practices/activities/communities, individual CBT and/or EMDR therapy, guided group sessions, and social gatherings.
						</div>
					</div>

					<div class="row bottommargin" id="three-phase-plan">
						<div class="col-sm-6 col-sm-offset-3 col-xs-12">
							<div class="plan">
								<div class="plan-title">
									<div class="heading-block center">
										<span class="emphasized-header">
											PLEASE DONATE TODAY
										</span>
									</div>
								</div>
								<div class="plan-body">
									<p>To fund web development for SeekConnection and empower 25 seekers break the relapse cycle by finding authentic connection in their local community.</p>
									<a href="https://seekhealing.kindful.com" class="button button-3d button-rounded button-plan-purple" target="_blank">Donate</a>
								</div>
							</div>
								
						</div>
					</div>

					<div class="row">
						<ol class="citations">
							<li>Rachel Wurzman, Ph.D, Neuroscientist; Research Fellow at the University of Pennsylvania, 2016</li>
							<li>Smyth, B. P., Barry, J., Keenan, E. &amp; Ducray, K. (2010). Lapse and relapse following inpatient treatment of opiate dependence. Irish Medical Journal. 103(6),176–179.
						<ol>
					</div>
				</div>
			</div>
		</section>

		<!-- Content
		============================================= -->
		
		

{% include footer.html %}
