---
page_title: Our Programs
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					{% include nav.html %}
				</div>

			</div>

		</header><!-- #header end -->

		<section class="explanation-text-section">
			<div class="section" >
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="non-emphasized-header">Our </span>
						<span class="emphasized-header">
							Programs
						</span>
						
					</div>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-2 text-center">
							
							<p>Our programs target populations of disconnected individuals and intentionally connects them to each other in virtual and real recovery environments.</p>
							<p><img class="image-center" src="images/venn-diagram.png" alt="Humans of all kinds can help each other"></p>
							<p>By deliberately building connecting seekers and listeners, we can create financially self-sustaining communities that promote healing for everyone involved: volunteers, staff, and people actively seeking healing, alike.</p>
							<p>Right now, we have a three-phase plan to establish those environments:</p>
						</div>
					</div>
					<div class="row" id="three-phase-plan">
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="plan">
								<div class="plan-title">
									<div class="heading-block center">
										<div class="super-header">
											Phase 1:
										</div>
										<span class="emphasized-header">
											SeekConnection
										</span>									
									</div>
								</div>
								<div class="plan-body">
									<p>Help people figure out what psychospiritual practices resonate with them personally and help them transition into a community of their choice</p>
									<a href="#seekConnection" class="button button-3d button-rounded button-plan-purple">Learn More</a>
								</div>
							</div>
								
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="plan">
								<div class="plan-title">
									<div class="heading-block center">
										<div class="super-header">
											Phase 2:
										</div>
										<span class="emphasized-header">
											SeekListening
										</span>									
									</div>
								</div>
								<div class="plan-body">
									<p>Connect people in <b>peer-based therapy</b> relationships that reject the classic medicalization model and emphasizes symbiotic personal growth in both parties.</p>
									<a href="#seekListening" class="button button-3d button-rounded button-plan-purple">Learn More</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="plan">
								<div class="plan-title">
									<div class="heading-block center">
										<div class="super-header">
											Phase 3:
										</div>
										<span class="emphasized-header">
											Healing Hubs
										</span>									
									</div>
								</div>
								<div class="plan-body">
									<p>Build detox aftercare facilities that are self-sustaining farming communities and which require daily practice of authentic connection experiences.</p>
									<a href="#healingHubs" class="button button-3d button-rounded button-plan-purple">Learn More</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<section id="seekConnection" class="section-image-left">
			<div class="content-wrap">
				<div class="row clearfix common-height">

					<div class="col-md-6 center col-padding plan-description" style="background: url('images/seekconnection-bkgrnd.jpg') center center no-repeat; background-size: cover; min-height: 610px;">

					</div>

					<div class="col-md-6 center col-padding" style="background-color: #ffffff; min-height: 610px;">
						<div>
							<div class="heading-block nobottomborder">
								<span class="emphasized-header">
									<strong>SeekConnection</strong>
								</span>
							</div>

							<div class="center bottommargin">
								<img src="images/owlFriends.png" width="200px" height="auto">
							</div>
							<p class="lead">
								A virtual library of activities, traditions, and practices from all over the world and human culture. The SeekConnection platform catalogs clear and unbiased information about anything that is a "connection booster;" then guides the seeker to volunteers and representatives who can teach them about it; and then connects them to a local community where they can begin to practice it.
							</p>
							<p>Practices and activities that are documented in the library include but are not limited to:
exercise & sports science &middot; yoga &middot; natural medicine &middot; Bible study &middot; 12-step programs &middot; parkour &middot; barre &middot; animal healing &middot; equine therapy &middot; open-source programming &middot; mindfulness meditation &middot; dance &middot; painting &middot; martial arts &middot; cognitive behavioral therapy &middot; sound healing &middot; acupuncture &middot; massage &middot; adventure sports &middot; hiking &middot; cooking &middot; learning how to play a musical instrument</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="seekListening" class="section-image-right">
			<div class="content-wrap">
				<div class="row clearfix common-height">
					<div class="col-md-6 center col-padding" style="background-color: #ffffff; min-height: 610px;">
						<div>
							<div class="heading-block nobottomborder">	
								<span class="emphasized-header">
									SeekListening
								</span>
							</div>
							<div class="center bottommargin">
								<img src="images/owlFriends.png" width="200px" height="auto">
							</div>
							<p class="lead">
								Mobile app that connect seekers to listeners and connection booster reps in their local area. Listeners can switch profile status back to seeker as needed.

							</p>
							<div class="center nobottommargin">
								<div class="image-left">
									<img src="images/rehab-icon.png" width="135px" height="auto">
									<p class="image-caption">Traditional Rehab</p>
								</div>
								<div class="image-right">
									<img src="images/friends-icon.png" width="120px" height="auto">
									<p class="image-caption">SeekListening Model</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 center col-padding split-bkgrnd-images">
						<div class="row" style="background: url('images/traditional-rehab.jpg') center center no-repeat; background-size: cover; min-height: 250px;">
						</div>
						<div class="row" style="background-color: #fff; background-size: cover; min-height: 100px;">
							<p class="lefthand-text">
								<span class="non-emphasized-header">
									Traditional
								</span>
								<span class="emphasized-header">
									Rehab
								</span>
							</p>
							<p class="middle-text">
								<span class="emphasized-header">
									vs.
								</span>
							</p>
							<p class="righthand-text">
								<span class="non-emphasized-header">
									Authentic
								</span>
								<span class="emphasized-header">
									Connection
								</span>
							</p>
						</div>
						<div class="row" style="background: url('images/authentic-connection.jpg') center center no-repeat; background-size: cover; min-height: 250px;">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="healingHubs" class="section-image-left">
			<div class="content-wrap">
				<div class="row clearfix common-height">

					<div class="col-md-6 center col-padding plan-description" style="background: url('images/healing-hubs.jpg') center center no-repeat; background-size: cover; min-height: 610px;">

					</div>

					<div class="col-md-6 center col-padding" style="background-color: #ffffff; min-height: 610px;">
						<div>
							<div class="heading-block nobottomborder">
								<span class="emphasized-header">
									<strong>Healing Hubs</strong>
								</span>
							</div>

							<div class="center bottommargin">
								<img src="images/owlFriends.png" width="200px" height="auto">
							</div>
							<p class="lead">
								Self-sustaining farming communities that leverage the SeekConnection library and SeekListening principles to implement a non-medicalized protocol for recovery. Seekers who live in Hubs will comply with a program that empowers them to rewire their own brains and practice the art of living life in a more connected way. Hub facilities help people transition from detox back to real life, and engage other disconnected groups of people (like retirees and grad students) to thrive together in a healthy &amp; productive community.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Content
		============================================= -->
		
		

{% include footer.html %}
