---
page_title: Our Programs
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					{% include nav.html %}
				</div>

			</div>

		</header><!-- #header end -->

		<section class="explanation-text-section">
			<div class="section" >
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="non-emphasized-header">Our </span>
						<span class="emphasized-header">
							Programs
						</span>
						
					</div>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-2 text-center">
							
							<p>Our programs & services target populations of disconnected individuals (like adults recovering from opioid bonds, retired & older adults, younger adults early in career development, adults of all ages suffering from chronic pain or illness) and intentionally connect people in virtual and real recovery environments. </p>
							<p>Right now, we have a three-phase plan to establish those environments:</p>
						</div>
					</div>
					<div class="row" id="three-phase-plan">
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="plan">
								<div class="plan-title">
									<div class="heading-block center">
										<div class="super-header">
											Phase 1:
										</div>
										<span class="emphasized-header">
											SeekConnection
										</span>									
									</div>
								</div>
								<div class="plan-body">
									<p>Help people figure out what psychospiritual practices resonate with them personally and help them transition into a community of their choice</p>
									<a href="#seekConnection" class="button button-3d button-rounded button-plan-purple">Learn More</a>
								</div>
							</div>
								
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="plan">
								<div class="plan-title">
									<div class="heading-block center">
										<div class="super-header">
											Phase 2:
										</div>
										<span class="emphasized-header">
											SeekListening
										</span>									
									</div>
								</div>
								<div class="plan-body">
									<p>Connect people in therapeutic relationships that reject the classic medicalization model and emphasizes symbiotic personal growth in both parties.</p>
									<a href="#seekListening" class="button button-3d button-rounded button-plan-purple">Learn More</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="plan">
								<div class="plan-title">
									<div class="heading-block center">
										<div class="super-header">
											Phase 3:
										</div>
										<span class="emphasized-header">
											Healing Hubs
										</span>									
									</div>
								</div>
								<div class="plan-body">
									<p>Build facilities where people can change their environment completely by living and working (physical labor) in a safe, healthy, and non-dogmatic environment </p>
									<a href="#healingHubs" class="button button-3d button-rounded button-plan-purple">Learn More</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<section id="seekConnection" class="section-image-left">
			<div class="content-wrap">
				<div class="row clearfix common-height">

					<div class="col-md-6 center col-padding plan-description" style="background: url('images/seekconnection-bkgrnd.jpg') center center no-repeat; background-size: cover; min-height: 610px;">
						<p>Providing you with resources for authentic connection, like:</p>
						<ul class="dark-bkgrnd-ul">
							<li>Yoga</li>
							<li>Plant Medicine</li>
							<li>Bible Study</li>
							<li>Parkour</li>
							<li>NA/AA</li>
							<li>Cognitive Behavioral Therapy</li>
							<li>Animal healing</li>
							<li>Martial arts</li>
							<li>Hip hop dance</li>
							<li>Sculpture</li>
							<li>Open-source programming</li>
						</ul>
					</div>

					<div class="col-md-6 center col-padding" style="background-color: #ffffff; min-height: 610px;">
						<div>
							<div class="heading-block nobottomborder">
								<span class="emphasized-header">
									<strong>SeekConnection</strong>
								</span>
							</div>

							<div class="center bottommargin">
								<img src="images/owlFriends.png" width="200px" height="auto">
							</div>
							<p class="lead nobottommargin">
								Virtual library that’s easy to navigate and that documents and organizes information about connection-enhancing practices, and then connects the seeker to official community rep for SeekHealing.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="seekListening" class="section-image-right">
			<div class="content-wrap">
				<div class="row clearfix common-height">
					<div class="col-md-6 center col-padding" style="background-color: #ffffff; min-height: 610px;">
						<div>
							<div class="heading-block nobottomborder">	
								<span class="emphasized-header">
									SeekListening
								</span>
							</div>
							<div class="center bottommargin">
								<div class="image-left">
									<img src="images/rehab-icon.png" width="135px" height="auto">
									<p class="image-caption">Traditional Rehab</p>									
								</div>								
								<div class="image-right">
									<img src="images/friends-icon.png" width="120px" height="auto">
									<p class="image-caption">SeekListening Model</p>
								</div>								
							</div>
							<p class="lead nobottommargin">
								Mobile app that connect seekers to listeners and healers in their local area. Listeners can switch profile status back to seeker as needed.
							</p>
						</div>
					</div>
					<div class="col-md-6 center col-padding split-bkgrnd-images">
						<div class="row" style="background: url('images/traditional-rehab.jpg') center center no-repeat; background-size: cover; min-height: 250px;">
						</div>
						<div class="row" style="background-color: #fff; background-size: cover; min-height: 100px;">
							<p class="lefthand-text">
								<span class="non-emphasized-header">
									Traditional
								</span>
								<span class="emphasized-header">
									Rehab
								</span>
							</p>
							<p class="middle-text">
								<span class="emphasized-header">
									vs.
								</span>
							</p>
							<p class="righthand-text">
								<span class="non-emphasized-header">
									Authentic
								</span>
								<span class="emphasized-header">
									Connection
								</span>
							</p>
						</div>
						<div class="row" style="background: url('images/authentic-connection.jpg') center center no-repeat; background-size: cover; min-height: 250px;">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="healingHubs" class="section-image-left">
			<div class="content-wrap">
				<div class="row clearfix common-height">

					<div class="col-md-6 center col-padding plan-description" style="background: url('images/seekconnection-bkgrnd.jpg') center center no-repeat; background-size: cover; min-height: 610px;">
						<p>Sustainable live-work community farms where seekers can:</p>
						<ul class="dark-bkgrnd-ul">
							<li>practice community living with equal opportunity through co-op sustainable farming & building maintenance work</li>
							<li>guided interaction with the SeekConnection library</li>
							<li>regular on-site workshops with SeekConnection reps</li>
							<li>access the global network of SeekConnection reps</li>
							<li>work with a case manager to develop personalized connection strategy with shortterm and longterm goals</li>
							<li>access to financing options for implementing their strategy</li>
							<li>have opportunities to get involved in production, administration, and management functions involved in Hub operation</li>
							<li>get assistance with small business setup and/or job-hunting</li>
							<li>get on-site skills training (both discrete technical skills, as well as generalized job-searching and communication skills)</li>
						</ul>
					</div>

					<div class="col-md-6 center col-padding" style="background-color: #ffffff; min-height: 610px;">
						<div>
							<div class="heading-block nobottomborder">
								<span class="emphasized-header">
									<strong>Healing Hubs</strong>
								</span>
							</div>

							<div class="center bottommargin">
								<img src="images/owlFriends.png" width="200px" height="auto">
							</div>
							<p class="lead">
								Practice living life in a more connected way and prepare to transition into a new community of their choice.
							</p>
							<p class="lead nobottommargin">
								Healing Hubs require application and approval process for residential stays, are accessible to both resourced and resource-limited seekers, and are available for both short-term and long-term stays.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Content
		============================================= -->
		
		

{% include footer.html %}
