---
page_title: Rethinking Rehab
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					{% include nav.html %}
				</div>

			</div>

		</header><!-- #header end -->

		<section id="standardNarrative">
			<div class="section">
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="non-emphasized-header">If you follow the </span>
						<span class="emphasized-header">
							<strong>standard narrative,</strong> 
						</span>
						<span class="non-emphasized-header">
							</br>you’ve probably been raised to believe that addiction is either:
						</span>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="sticky-note first-sticky sticky-note-font start">
								<p>A. A character flaw that comes from laziness and too much partying</p>
								<img class="slash-left" src="images/slash-left.png"/>
								<img class="slash-right" src="images/slash-right.png"/>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="sticky-note second-sticky sticky-note-font start">
								<p>B. A disease that hijacks a person's brain and a chemical reality that you cannot change.</p>
								<img class="slash-left" src="images/slash-left.png"/>
								<img class="slash-right" src="images/slash-right.png"/>
							</div>
						</div>
					</div>
					<div class="heading-block center sticky-correct-answer">
						<span class="non-emphasized-header">
							As it turns out,
						</span>
						<span class="emphasized-header">
							both
						</span>
						<span class="non-emphasized-header">
							these answers are
						</span>
						<span class="emphasized-header">
							incomplete.
						</span>
					</div>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
							<div class="sticky-note third-sticky sticky-note-font">
								<p>C. None of the above</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="recentStudies" class="section-image-left">
			<div class="content-wrap">
				<div class="row clearfix common-height">

					<div class="col-md-6 center col-padding" style="background: url('images/peter-cohen-quote.jpg') center center no-repeat; background-size: cover;">
						<div class="image-quote">
							<div class="sh-quote-sign initial">&nbsp;</div>
							<div class="sh-quote">								
								<p>Human beings have a deep need to bond and form connections. It's how we get our satisfaction. If we can't connect with each other, we will connect with anything we can find. A heroin addict has bonded with heroin because she couldn't bond safely with something else.</p>
							</div>
							<div class="sh-quote-sign after">&nbsp;</div>
							<div class="sh-quote-author">
								<em>- Dr. Peter Cohen</em>
							</div>
						</div>
					</div>

					<div class="col-md-6 center col-padding" style="background-color: #ffffff;">
						<div>
							<div class="heading-block nobottomborder">
								<span class="emphasized-header">
									<strong><a href="science-of-connection.html">Recent studies</a> </strong>
								</span>
								<span class="non-emphasized-header">
									in neuroscience, psychology and sociology suggest that
								</span>
								<span  class="emphasized-header">
									<strong>the opposite of addiction is not sobriety:</strong> 
								</span>
								<span class="non-emphasized-header">
									rather, it is authentic connection and a deeply rooted sense of purpose & belonging.
								</span> 
							</div>

							<div class="center bottommargin">
								<img src="images/owl-science-250.png" width="100px" height="auto">
							</div>
							<p class="lead nobottommargin">
								Sadly, connection experiences are often outsourced or missing from the modern human experience, regardless of socioeconomic background or cultural affiliation. 
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="crisisText" class="explanation-text-section">
			<div class="section">
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="non-emphasized-header">The modern opioid addiction crisis is </span>
						<span class="emphasized-header">
							<a href="why-we-care.html">out of control.</a>
						</span>
					</div>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-2 col-xs-offset-2 text-center">
							<p>
								The people we love who are recovering from opiate or heroin bonds have a limited set of options for their post-detox life, and often even fewer resources available to create and follow plans that lead to sustainable health. Most return to the dysfunctional environments they came from, or find their way into rehab facilities, halfway houses and prisons where they feel lonelier than ever.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="longTermHealing" class="section-image-right">
			<div class="content-wrap">
				<div class="row clearfix common-height">
					<div class="col-md-6 center col-padding" style="background-color: #ffffff;">
						<div>
							<div class="heading-block nobottomborder">								
								<span class="non-emphasized-header">
									Long-term healing is rare because
								</span>
								<span class="emphasized-header">
									most options
								</span>
								<span class="non-emphasized-header">
									  make people feel
								</span> 
								<span class="emphasized-header">
									even lonelier
								</span>
							</div>

							<div class="center bottommargin">
								<div class="image-left">
									<img src="images/rehab-icon.png" width="135px" height="auto">
									<p class="image-caption">Rehab</p>
									
								</div>
								<div class="image-center">
									<img src="images/prison-icon.png" width="135px" height="auto">
									<p class="image-caption">
										Prison and/or solitary confinement
									</p>
								</div>
								<div class="image-right">
									<img src="images/chemical-bond.png" width="135px" height="auto">
									<p class="image-caption">Methadone clinics</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 center col-padding" style="background: url('images/addiction-is-a-cage.jpg') center center no-repeat; background-size: cover;">
						<div class="image-quote">
							<div class="sh-quote-sign initial">&nbsp;</div>
							<div class="sh-quote">								
								<p>Addiction is an adaptation.</p>
								<p>It's not you.</p>
								<p>It's your cage</p>
							</div>
							<div class="sh-quote-sign after">&nbsp;</div>
							<div class="sh-quote-author">
								<em>- Johann Hari</em>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="upsideDown" class="explanation-text-section">
			<div class="section">
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="non-emphasized-header">The SeekHealing project implements</span>
						<span class="emphasized-header">creative ideas </span>
						<span class="non-emphasized-header">that turn the traditional rehab model </span>
						<span class="emphasized-header">upside-down </span>
					</div>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-2 col-xs-offset-2 text-center">
							<p>
								 Our <a href="project-plan.html">facilities & programs</a>  are intentionally designed to enhance an individual’s experience of connectedness, rather than diagnosing & treating specific problems.
							</p>
							<p>
								We believe that using the label <em>addict</em> facilitates socially-acceptable shaming. Stigmatizing people as addicts and creating non-addict/addict relationships in therapeutic settings often worsens the roots causes of addiction: isolation and disconnectedness.
							</p>
						</div>
					</div>
					<div class="footer-block center">
						<span class="non-emphasized-header">We're all </span>
						<span class="emphasized-header">humans first, </span>
						<span class="non-emphasized-header">and we all experience </span>
						<span class="emphasized-header">hardship and loneliness </span>
					</div>
				</div>
			</div>
		</section>
		<section id="seekerDefinition" class="section-image-left">
			<div class="content-wrap">
				<div class="row clearfix common-height">

					<div class="col-md-6 col-padding" style="background: url('images/seeker-def-image.jpg') center center no-repeat; background-size: cover;">
						<div class="image-definition">
							<div class="sh-definition-word">seek &middot; er / ˈsēkər / <em>noun</em>
							</div>
							<div class="sh-definition">
								a person who is actively seeking to become a better human by overcoming unhealthy behaviors, addications, and/or compulsions and their associated emotional triggers.
							</div>
						</div>
					</div>

					<div class="col-md-6 center col-padding" style="background-color: #ffffff;">
						<div>
							<div class="heading-block nobottomborder">
								<span class="non-emphasized-header">In the 	</span>
								<span class="emphasized-header">face of pain </span>
								<span class="non-emphasized-header">we all have the choice to either do nothing, or to </span>
								<span class="emphasized-header">become seekers.</span> 
							</div>

							<div class="center bottommargin">
								<img src="images/owlHeartThoughtBubble-250.png" width="120px" height="auto">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="listenerDefinition" class="section-image-right">
			<div class="content-wrap">
				<div class="row clearfix common-height">
					<div class="col-md-6 center col-padding" style="background-color: #ffffff;">
						<div>
							<div class="heading-block nobottomborder">
								<span class="non-emphasized-header">If we choose to </span>
								<span class="emphasized-header">accept the challenge </span>
								<span class="non-emphasized-header">and to seek healing, we will each also have the opportunity to </span>
								<span  class="emphasized-header">become a listener </span> 
								<span class="non-emphasized-header">& support our fellow seekers.</span>
							</div>

							<div class="center bottommargin">
								<img src="images/owlFriends-h474.png" width="auto" height="150px">
							</div>
						</div>
					</div>
					<div class="col-md-6 col-padding" style="background: url('images/recent-studies-background.jpg') center center no-repeat; background-size: cover;">
						<div class="image-definition">
							<div class="sh-definition-word">lis·ten·er / ˈlis(ə)nər / <em>noun</em>
							</div>
							<div class="sh-definition">
								a seeker who chooses to help another seeker by intentionally creating a context for authentic interpersonal connection
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="connectionBoosterDefinition" class="section-image-left">
			<div class="content-wrap">
				<div class="row clearfix common-height">

					<div class="col-md-6 col-padding" style="background: url('images/connection-booster-def.jpg') center center no-repeat; background-size: cover;">
						<div class="image-definition">
							<div class="sh-definition-word">con·nec·tion boost·er / kəˈnekSH(ə)n / ˈbo͞ostər / <em>noun</em>
							</div>
							<div class="sh-definition">
								any ritual, activity or practice that facilitates healing, personal growth, mindfulness, inner peace, and/or a sense of connectedness to self/other/nature
							</div>
						</div>
					</div>

					<div class="col-md-6 center col-padding" style="background-color: #ffffff;">
						<div>
							<div class="heading-block nobottomborder">
								<span class="non-emphasized-header">As we grow, we learn how to 	</span>
								<span class="emphasized-header">continuously transition </span>
								<span class="non-emphasized-header">between these roles with humility and grace. Usually, with the help & community support of a </span>
								<span  class="emphasized-header">particular booster</span> 
							</div>

							<div class="center bottommargin">
								<img src="images/owlLightbulb-250.png" width="120px" height="auto">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="connectionMedicine" class="explanation-text-section">
			<div class="section">
				<div class="container clearfix">
					<div class="heading-block center">						
						<span class="emphasized-header">Healing </span>
						<span class="non-emphasized-header">and </span>						
						<span class="emphasized-header">happiness </span>
						<span class="non-emphasized-header">don’t come in a pill</span>
					</div>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-2 col-xs-offset-2 text-center">
							<p>
								The right prescription might help you get started, but the journey to integrated health is a long road in which we need each other to help navigate. The truth is, the only ‘medicine’ that works for everyone is connection: meaningful and authentic connection with ourselves, with each other, and with our planet. 
							</p>
						</div>
					</div>
					<div class="footer-block center">
						<img src="images/owl-family.png" width="600px" height="auto">
					</div>
				</div>
			</div>
		</section>
		<div id="weAreMedicine" class="section parallax dark nobottommargin" style="background-image: url('images/we-are-the-medicine-background.jpg'); background-position: bottom; padding: 100px 0;" data-stellar-background-ratio="0.4">
			<div class="testimonial testimonial-full" data-animation="fade">
					<div class="image-quote text-center">
						<div class="sh-quote-sign initial">&nbsp;</div>
						<div class="sh-quote">								
							<p>We are the medicine</p>
						</div>
						<div class="sh-quote-sign after">&nbsp;</div>
						<div class="sh-quote-author">
							<em>- Dimitri Mugianis</em>
						</div>
					</div>
			</div>
		</div>
		<!--
		<section id="actionItemsQuadrant">
			<div class="content-wrap">
				<div class="container clearfix">
					<div class="col-md-3 col-sm-3 col-xs-3 text-center action-item" id="siren">
						<span class="initial-text">
							<p>
								<span class="p-link">I need help now</span>
							</p>
						</span>
						<span class="hover-text">
							<p>Connect with our healers now to get the help you need</p>
							<a href="get-help-now.html" class="button button-3d button-rounded button-purple">Learn More</a>
						</span>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-3 text-center action-item" id="donate">
						<span class="initial-text">
							<p>
								<span class="p-link">Donate</span>
							</p>
						</span>
						<span class="hover-text">
							<p>Contribute to the project with time or resources</p>
							<a href="get-involved.html#donate" class="button button-3d button-rounded button-purple">Learn More</a>
						</span>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-3 text-center action-item" id="shop">
						<span class="initial-text">
							<p>
								<span class="p-link">Shop</span>
							</p>
						</span>
						<span class="hover-text">
							<p>Get meaningful merchandise to help support the project</p>
							<a href="shop.html" class="button button-3d button-rounded button-purple">Learn More</a>
						</span>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-3 text-center action-item" id="helpingHand">
						<span class="initial-text">
							<p>
								<span class="p-link">I want to help</span>
							</p>
						</span>
						<span class="hover-text">
							<p>Volunteer by becoming a community agent or a listener</p>
							<a href="volunteer.html" class="button button-3d button-rounded button-purple">Learn More</a>
						</span>
					</div>
				</div>
			</div>
		</section>
		-->
		<!-- #content end -->

{% include footer.html %}
