---
page_title: The Science of Connection
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					{% include nav.html %}
				</div>

			</div>

		</header><!-- #header end -->

		<section class="explanation-text-section">
			<div class="section" >
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="non-emphasized-header">Neuroscience of </span>
						<span class="emphasized-header">
							Connection and connectedness:
						</span>
						
					</div>
					<div class="row">
						<img src="images/owlScienceCrop.png" width="150px" height="auto" class="pull-right" />
						<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-2 text-center">
							
							<p>What does disconnectedness look like socially and behaviorally, and how does it affect the human brain? How can modern science support the concept of a spiritual and social illness?</p>
							<p>When human beings are spiritually and socially sick/injured, and we *heal* by connection to a *transcendent nexus*: our personal experience of higher power/nature/source of consciousness. It connotes something that is1) Greater than self, and 2) Exists in a state of connection and interdependence to all elements of an indicidual’s environment. Illness of both the body and mind indicate disconnection and disintegration physically, psychologically, and socially-- from ones self and from one's existential nexus.  </p>
						</div>
					</div>

				</div>
			</div>
		</section>
		<section class="explanation-text-section">
			<div class="section" style="background-color: #fff;">
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="non-emphasized-header">Classic </span>
						<span class="emphasized-header">Rat Park </span>
						<span class="non-emphasized-header">experiments </span>
						
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<p>There's a classic experiment repeated time and time again where the scientist will put a rat in a cage with two options for drinking water: one clean and pure, one laced with heroin or other opiates. Time and time again, without fail, the rat will choose the drugged water and drink it until it dies.</p>
							<p>The interpretation of this result was simple: the opiates were so powerful that a person would sacrifice everything, even at the risk of their own life, to continue to obtain them, and eventually, it will cost them their own life. The neuroscience of addiction set off to figure out what in the brain would support such behavior.</p>
							<p>In the late 1970's, psychologist Dr. Bruce K. Alexander of Simon Fraser University in British Columbia interpreted the classic study differently. The problem as he saw it wasn't the drugs; it was the cage. There was only one rat. The rat had nothing to do. It was lonely and depressed. Maybe <em>that</em> is why it preferred the drugged water.</p>
							<p>So he and his colleagues set up a different experiment: provide the same two drinking water options, but populate the cage with a whole community of rats, and give them nesting material, toys, and other diversions to give them an otherwise happy life. He called it "Rat Park."</p>
							<p>In Dr. Alexander's experiments, <a href="https://www.ncbi.nlm.nih.gov/pubmed/98787">published</a> in the journal Psychopharmacology, the rats in Rat Park <em>didn't</em> prefer the opiate-laced water. None of them overdosed or died. And most remarkably, when he introduced rats into Rat Park who were already addicted to opiates, they preferred community connection; they stopped drinking the drugged water, and after exhibiting withdrawal symptoms, they enjoyed living in Rat Park just like the others.</p>

						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 text-center">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/ao8L-0nSYzg" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>

				</div>
			</div>
		</section>
		<section class="explanation-text-section">
			<div class="section" >
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="emphasized-header">
							A spark was lit
						</span>
						
					</div>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-2 text-center">
							<p>Addiction neuroscience, in its quest to find out why a human would choose heroin to the point of his or her own death, bumped into social neuroscience, which was trying to figure out how the brain processes empathy and morality to the point that a person would sacrifice themselves for others or for something bigger than themselves.</p>
							<p>It turns out that the exact same chemical pathways and circuits that are hijacked by addiction were evolved in mammals for a very different purpose: to make social interactions feel good. We don’t just need social interaction because it gives us economic advantages, like a better ability to find food or build shelters by working together. In humans, meaningful social connection is so important that babies will literally die without touch, even if all other biological needs are satisfied.</p>
							<p>What does this have to do with addiction? <strong>Meaningful social interactions and connectedness with others release powerful hormones that can in turn modify activity in every brain system that sustains life</strong>, from metabolic circuits that also control "fight or flight" responses to executive control circuits that give us the ability to switch activities when we choose or override automatic behaviors, like habits. Hormones like oxytocin and neurotransmitters like dopamine do different things in different brain species' systems, and in humans, these systems are arranged so that empathy feels <em>good</em>, like the things we get compulsive about feel good, like the best ice cream, new love, and, yes, like being high. But there’s more. These brain systems are arranged so they make social disconnection feel <em>bad</em>, just like withdrawal feels bad, as it turns out. It is not an accident that grief and withdrawal have cause some of the same physical symptoms.</p>
							<p>Programs that most successfully and lastingly transform addicts' lives may borrow medical language and metaphors, but they don’t work by providing a cure. Instead, what they do is provide a context full of opportunities for social connection, where the mechanism for healing is in the interactions between peers, some of whom might be further along their own journey of healing. The emphasis is on outward-focused living, and on taking practical steps to mitigate disconnection between addicted people and their families and social contacts, by repairing relationships and reclaiming personal responsibility.</p>
							<p>But importantly, the healing can't be administered like medicine, it must be sought, and then it must be lived.</p>

						</div>
					</div>
					<!--
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<iframe src="https://embed.ted.com/talks/martin_seligman_on_the_state_of_psychology" width="100%" height="360" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 text-center">
							<iframe src="https://embed.ted.com/talks/mihaly_csikszentmihalyi_on_flow" width="100%" height="360" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
						</div>
					</div>
					-->

				</div>
			</div>
		</section>
		<!--
		<section class="explanation-text-section">
			<div class="section" style="background-color: #fff;">
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="emphasized-header">Attachment </span>
						<span class="non-emphasized-header">therapy </span>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius orci nec sapien molestie, at sagittis urna ultrices. Mauris dignissim, nibh lobortis ultrices ultricies, dui dolor eleifend nisl, in vulputate elit sem et neque. Quisque pellentesque enim at tempus elementum. Fusce dignissim sapien interdum, rutrum ante sit amet, ullamcorper ipsum. Aliquam convallis nisl nec ante tincidunt, ac pretium massa congue. </p>
							<p>Fusce pretium neque non consequat convallis. Suspendisse vitae rutrum sapien. Vestibulum mattis, nibh eu euismod eleifend, ante justo faucibus urna, sit amet luctus lacus mi non lectus. Pellentesque lobortis, ipsum vitae porta sagittis, magna felis suscipit libero, hendrerit commodo purus metus at ante. Nullam nec rutrum leo, non tempor velit. Maecenas eu fermentum ex. Etiam interdum tristique finibus.</p>
							<p>Morbi accumsan enim ullamcorper feugiat elementum. Nulla eget est mattis lacus tristique vulputate. Praesent blandit sodales efficitur. Suspendisse pellentesque massa finibus condimentum sodales. Duis pretium finibus magna. Proin blandit odio in nisl maximus finibus. Suspendisse a massa congue ipsum pretium eleifend. Nunc tincidunt est nibh, at mattis neque finibus gravida. Nam iaculis eget enim quis consequat. Aliquam.</p>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 text-center">
							<div class="row">
								<div class="col-md-12">
									<img src="images/owlScienceCrop.png" width="130px" height="auto" />
									<a href="#" class="button button-3d button-rounded button-purple">LINK</a>
								</div>
								<div class="col-md-12">
									<a href="#" class="button button-3d button-rounded button-purple">LINK</a>
									<img src="images/owlScienceCrop.png" width="130px" height="auto" />
								</div>
								<div class="col-md-12">
									<img src="images/owlScienceCrop.png" width="130px" height="auto" />
									<a href="#" class="button button-3d button-rounded button-purple">LINK</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		-->
		<!-- Content
		============================================= -->
		
		

{% include footer.html %}
