---
page_title: Upcoming Events
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->


					{% include nav.html %}
				</div>

			</div>

		</header><!-- #header end -->

		
		<section id="eventsPromo">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="nobottommargin">

						<div id="posts" class="events small-thumbs">

							<div class="entry clearfix">
								<div class="entry-image">
									<a href="#">
										<img src="images/events-placeholder.jpg" alt="Inventore voluptates velit totam ipsa tenetur">
										<div class="entry-date">06<span>May</span></div>
									</a>
								</div>
								<div class="entry-c">
									<div class="entry-title">
										<h2>
											<span class="non-emphasized-header">SeekHealing </span>
											<span class="emphasized-header">Launch Party</span>
										</h2>
									</div>
									<ul class="entry-meta clearfix">
										<li><a href="#"><i class="fa fa-clock-o"></i> 4:00pm - 7:00pm</a></li>
										<li><a href="#"><i class="fa fa-map-marker"></i> Washington, DC</a></li>
									</ul>
									<div class="entry-content">
										<p>Join us on Saturday May 6th at 4pm for our first public fundraising event: come dance, donate, and connect! We'll be hanging out at at the Lost Society in Washington D.C. and live-launching a Crowdrise campaign to reconnect those who have lost themselves or others to opioid & heroin addiction.</p>
										<a href="https://www.eventbrite.com/e/seekhealing-launch-party-tickets-32637108470" target="_blank" class="button button-border button-rounded button-sh-purple">Buy Tickets</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>				
		</section>

		<!-- Content
		============================================= -->
		
		

{% include footer.html %}
