---
page_title: Volunteer
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					{% include nav.html %}
				</div>

			</div>

		</header><!-- #header end -->
		<section id="volunteer" class="explanation-text-section">
			<div class="section" style="background-color: #fff;">
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="emphasized-header">General Volunteer </span>
					</div>
					<div class="row">
						<div class="col-xs-12 text-center">
							<p>We are always looking for volunteers who share our vision to help support our operations.</p>
							<p>Right now, we're particularly in need of volunteers who have the following skills:</p>
							<ul class="volunteer-skills">
								<li>accounting (specifically nonprofit or tax accounting)</li>
								<li>web development (proficiency in Python preferred)</li>
								<li>web design (able to create wire frames)</li>
								<li>research &amp; data analysis (a detail oriented person who can stay on top of collecting and organizing weekly, confidential psychometric data from our pilot program participants)</li>
								<li>community manager (someone to help manage relationships (remotely) and triage support issues with connection agents, listeners and seekers. Communities will be managed through Facebook and private messaging)</li>
							</ul>
							<p>(last updated: January 2018)</p>
							<p>Please click the button below to submit an application for a general volunteering position in our organization.</p>

							<a href="https://docs.google.com/forms/d/e/1FAIpQLScEc_LvhC85sTBeHLUKUlEf7BG8m-kXZxJXdj9NE5uj6jmm8g/viewform" class="button button-3d button-rounded button-purple" target="_blank">Apply to Volunteer</a>

						</div>
					</div>

				</div>
			</div>
		</section>

		<section id="volunteer" class="explanation-text-section">
			<div class="section">
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="emphasized-header">Listeners </span>
					</div>
					<div class="row">
						<div class="col-xs-12 text-center">
							<p>Are you committed to constantly striving to become the best person you can be? Have you experienced firsthand how meaningful connection leads to healing and growth?</p>
							<p>Apply today to give the gift of listening and peer-based support to another seeker actively healing from an addiction crisis?  <span class="italic">You don't have to have a history with chemical addiction yourself to become a Listener - just a humble awareness of your own personal growth and healing journey.</span></p>
							<p><span class="purple">January 2018</span>: We're currently recruiting Listeners for our pilot program in Asheville, NC.<p>

							<a href="https://bit.ly/listenAVL" class="button button-3d button-rounded button-purple" target="_blank">Apply to Listen in Asheville, NC</a>

						</div>
					</div>

				</div>
			</div>
		</section>

		<!-- Content
		============================================= -->
		
		

		<!-- Footer
		============================================= -->
{% include footer.html %}
