---
page_title: Volunteer
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					{% include nav.html %}
				</div>

			</div>

		</header><!-- #header end -->
		<section id="volunteer" class="explanation-text-section">
			<div class="section" style="background-color: #fff;">
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="emphasized-header">Volunteer </span>
					</div>
					<div class="row">
						<div class="col-xs-12 text-center">
							<p>All of us can be seekers, searching for connection, for meaning, and for growth in our lives. All of us can support other seekers in their own journeys.</p>
							<p>You can volunteer to help SeekHealing in its mission to facilitate the healing journey of seekers struggling with heroin or opioid addiction.</p>
							<p>Whatever your background, wherever you are in live, reach out today to find out how you can help a fellow seeker through the SeekHealing project.</p>
							<p><a href="mailto:info@seekhealing.org">info@seekhealing.org</a><p>
						</div>
					</div>

				</div>
			</div>
		</section>

		<!-- Content
		============================================= -->
		
		

		<!-- Footer
		============================================= -->
{% include footer.html %}
