---
page_title: Why We Care
---
{% include header.html %}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-white.png"><img src="images/logo@2x.png" alt="SeekHealing Logo"></a>
					</div><!-- #logo end -->

					{% include nav.html %}
				</div>

			</div>

		</header><!-- #header end -->

		<section class="explanation-text-section">
			<div class="section" style="padding-bottom: 0px;">
				<div class="container clearfix">
					<div class="heading-block center">
						<span class="non-emphasized-header">Why Are We </span>
						<span class="emphasized-header">
							Doing This?
						</span>
						
					</div>
					<div class="row">
						<img src="images/WhyWeCare.png" width="150px" height="auto" class="pull-right" />
						<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-2 col-xs-offset-2 text-center">
							
							<p>Because we’re tired of watching opioid and heroin addiction cripple and kill our friends and loved ones.</p>
							<p>Because we’re tired of watching tragedy unfold through the collateral damage that addiction causes within families and communities.</p>
							<p>We’re doing this because we’re outraged that human beings are <span style="text-decoration: underline;">dying in large numbers</span> over profit-seeking in the cyclical feedback loop between the pharmaceutical industry, private industry, and rapidly ballooning rehab industry.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-image-left">
			<div class="content-wrap" style="padding-bottom: 0px;">
				<div class="row clearfix common-height">

					<div class="col-md-6 center col-padding" style="background: url('images/ambulance-placeholder.jpg') center center no-repeat; background-size: cover;">
						
					</div>

					<div class="col-md-6 center col-padding" style="background-color: #ffffff;">
						<div>
							<div class="heading-block nobottomborder">
								<span class="non-emphasized-header">
									Because
								</span>
								<span class="emphasized-header">
									<strong><a href="https://addiction.surgeongeneral.gov/executive-summary.pdf" target="_blank">7.7 million Americans are currently living with an illicit drug use disorder,</a></strong>
								</span>
								<span class="non-emphasized-header">
									according to the most recent report from the US Surgeon General’s office. 
								</span>
							</div>
							<div class="heading-block nobottomborder">
								<span class="non-emphasized-header">
									Because
								</span>
								<span class="emphasized-header">
									<strong><a href="https://www.cdc.gov/drugoverdose/epidemic/index.html" target="_blank">91 people in this country die everyday </a></strong>
								</span>
								<span class="non-emphasized-header">
									from opioid-related overdoses.
								</span>
							</div>
							<div class="heading-block nobottomborder">
								<span class="non-emphasized-header">
									Because in 2014, 
								</span>
								<span class="emphasized-header">
									<strong><a href="https://www.cdc.gov/drugoverdose/opioids/prescribed.html" target="_blank">nearly 2 million Americans</a></strong> 
								</span>
								<span class="non-emphasized-header">
									 either abused or were dependent on prescription opioid pain relievers.
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="upsideDown" class="explanation-text-section">
			<div class="section">
				<div class="container clearfix">
					<div class="inner-block center">
						<span class="non-emphasized-header">Because Overdose deaths now account for </span>
						<span class="emphasized-header"><a href="http://www.nbcnews.com/health/health-news/drug-overdoses-killed-50-000-u-s-more-car-crashes-n694001" target="_blank">more unintentional fatalities every year than automobile accidents.</a></span>
					</div>
					<div class="inner-block center">
						<span class="non-emphasized-header">Because each day, </span>
						<span class="emphasized-header"><a href="https://www.cdc.gov/drugoverdose/data/overdose.html" target="_blank">more than 1,000 people are treated in emergency departments</a> </span>
						<span class="non-emphasized-header">for misusing prescription opioids.</span>
					</div>
					<div class="inner-block center">
						<span class="non-emphasized-header">Because </span>
						<span class="emphasized-header"><a href="https://www.drugabuse.gov/related-topics/trends-statistics/infographics/abuse-prescription-rx-drugs-affects-young-adults-most" target="_blank">those ages 18-25 are the most affected demographic.</a> </span>
						<span class="non-emphasized-header">In 2014 nearly 1,700 died from prescription drug overdoses (mainly opioids).   </span>
					</div>
					<div class="inner-block center">
						<span class="non-emphasized-header">Because the rate of heroin-related overdose deaths </span>
						<span class="emphasized-header"><a href="https://www.drugabuse.gov/related-topics/trends-statistics/overdose-death-rates" target="_blank">QUADRUPLED between 2002 and 2015.</a> </span>
					</div>
					<div class="inner-block center">
						<span class="non-emphasized-header">Because between 2002 and 2015 there was a </span>
						<span class="emphasized-header"><a href="https://www.drugabuse.gov/related-topics/trends-statistics/overdose-death-rates" target="_blank">6.2 fold increase </a> </span>
						<span class="non-emphasized-header">in the total number of heroin related deaths.</span>
					</div>
				</div>
			</div>
		</section>
		<section id="longTermHealing" class="section-image-right">
			<div class="content-wrap" style="padding-bottom: 0px;">
				<div class="row clearfix common-height">
					<div class="col-md-6 center col-padding" style="background-color: #ffffff;">
						<div>
							<div class="heading-block nobottomborder">
								<span class="non-emphasized-header">
									Because opioid overdoses killed
								</span>
								<span class="emphasized-header">
									<strong><a href="https://www.cdc.gov/drugoverdose/" target="_blank">more than 33,000 people</a></strong>
								</span>
								<span class="non-emphasized-header">
									in 2015.
								</span>
							</div>
							<div class="heading-block nobottomborder">
								<span class="non-emphasized-header">
									Because
								</span>
								<span class="emphasized-header">
									<strong><a href="http://www.journal-news.com/news/local/drug-expert-heroin-putting-employers-very-difficult-position/FBypLrFondvvdk1rfc2l2M/" target="_blank">67% of heroin users </a></strong>
								</span>
								<span class="non-emphasized-header">
									who are revived by Narcan will use heroin again within the next 24 hours.
								</span>
							</div>
							<div class="heading-block nobottomborder">
								<span class="non-emphasized-header">
									Because although it’s impossible to approximate, most medical professionals agree that
								</span>
								<span class="emphasized-header">
									<strong><a href="https://www.drugabuse.gov/publications/drugs-brains-behavior-science-addiction/treatment-recovery" target="_blank">between 40-60% of all substance-abuse patients</a></strong> 
								</span>
								<span class="non-emphasized-header">
									 who go through ‘rehabilitation’ relapse.
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-6 center col-padding" style="background: url('images/overdose-placeholder.jpg') center center no-repeat; background-size: cover;">
						
					</div>
				</div>
			</div>
		</section>
		<div id="weCareBecause" class="section parallax dark nobottommargin" data-stellar-background-ratio="0.4">
			<div class="testimonial testimonial-full" data-animation="fade">
					<div class="because-ending text-center">
						<div class="heading-block nobottomborder">
							<span class="non-emphasized-header">
								Because we're
							</span>
							<span class="emphasized-header">
								<strong>angry.</strong> 
							</span>
						</div>
						<div class="heading-block nobottomborder">
							<span class="non-emphasized-header">
								Because we've
							</span>
							<span class="emphasized-header">
								<strong>lost friends.</strong> 
							</span>
							<span class="non-emphasized-header">
								Because we've
							</span>
							<span class="emphasized-header">
								<strong>lost loved ones.</strong> 
							</span>
						</div>
						<div class="heading-block nobottomborder">
							<span class="non-emphasized-header">
								Because it needs to
							</span>
							<span class="emphasized-header">
								<strong>STOP.</strong> 
							</span>
						</div>
					</div>
			</div>
		</div>

		<!-- Content
		============================================= -->
		
		

{% include footer.html %}
