{% comment %}
<!--
  Boxes Section

  This partial is included on any page that has a 3 column feature box layout.
  Currently used on the Donate & contact page.

-->
{% endcomment %}

{% assign data_cat = include.title %}

{% assign boxes = site.data.[data_cat] %}

<section>
  <div class="section">
    <div class="container clearfix">
      <div class="row text-center normal-header">

      {% if boxes.header %}
        <h1>{{ boxes.header }}</h1>
      {% endif %}
      {% if data_cat == 'contact' %}
        <div class="row">
          <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="location-box">
              <div class="icon">
                <a href="#"><i class="fas fa-question"></i></a>
              </div>
              <h2>General Questions</h2>
              <h2>&#8203;</h2>
              <p><a href="mailto:conversations@seekhealing.org">conversations@seekhealing.org</a></p>
            </div>
          </div>
        </div>
      {% endif %}
        <div class="row">
        {% for box in boxes.box-content %}

        <div class="col-sm-6 bottommargin">
          <div class="location-box">
            <div class="icon">
              <a href="#"><i class="{{ box.icon-class }}"></i></a>
            </div>
            {% if include.title == 'contact' %}

              {% if box.secondary-heading %}
                <h2>{{ box.heading }} — {{ box.secondary-heading }}</h2>
              {% elsif box.heading %}
                <h2>{{ box.heading }}</h2>
              {% endif %}

              <h2>&#8203;</h2>

              {% if box.address %}
                <address>{{ box.address }}</address>
              {% elsif box.content %}
                <p>{{ box.content }}</p>
              {% endif %}

            {% else %}
              <h2>{{ box.header }}</h2>
              <p class="small"> {{ box.content }}</p>
              <p><a href="{{ box.link }}">{{ box.link-text }}</a></p>
            {% endif %}
          </div>
        </div>

        {% endfor %}
        </div>
      </div>

    </div>
  </div>
</section>
