{% comment %}
<!--
  Connect Section

  This partial is included on any page that should include social sharing info.
  Currently used on the Contact page and is using the footer data file to get
  social sharing information.

-->
{% endcomment %}

{% assign footer = site.data.footer %}
{% assign global = site.data.global %}
{% assign connect = site.data.contact %}

<section>
  <div class="section">
    <div class="container clearfix">
      <div class="row text-center">

        <div class="row" style="margin: 0px;">
          <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
            <div class="location-box connect">
              <div class="text-center">
              {% for social in footer.social-media %}

                <a href="{{ social.url }}" target="_blank">
                  <i class="{{ social.alt-icon }}"></i>
                </a>

              {% endfor %}

                <a href="mailto:{{ global.email }}"><i class="{{ global.email-icon }}"></i></a>

              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>

    </div>
  </div>
</section>
