{% comment %} 
<!--
  Connection Agent Registration Form Section

  This partial is used for the connection agent registration form

--> 
{% endcomment %}

{% assign form = site.sections |where:"type","connection-agent-form" %}

<section>
  <div class="section">
    <div class="container clearfix">
      <div class="row normal-header">
        <div class="col-md-10 col-md-offset-1 col-xs-12">  
        {% for content in form %}
          
          <h1 class="text-center">{{ content.header }}</h1>

          <div class="alert alert-success text-center">
            <h4>
              <i class="fa fa-check fa-big" aria-hidden="true"></i> Thank you for your interest!</h4>
              <hr class="message-inner-separator">
            <p>Your registration form has been successfully submitted.  Someone from SeekHealing will be in touch with you shortly.</p>
          </div>

          <div class="connection-agent-form text-left">
            {{ content.content | markdownify }}
          </div>

        {% endfor %}
        </div>

        <div class="col-md-10 col-md-offset-1 col-xs-12">

          <form name="cuForm" id="cuForm" method="POST">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-legend">
                  <span class="req">* Required</span>
                </div>
              </div>
            </div>
            <div class="row form-subheader">
              <div class="col-xs-12">
                <div class="form-subheader-container" role="heading">
                  <div>Contact Information</div>
                </div>
                <div class="form-subheader-triangle">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 14 10" preserveAspectRatio="none">
                    <polygon class="freebirdSolidFill" points="0,0 13,0 0,13"></polygon>
                  </svg>
                </div>
              </div>
            </div>  
            <div class="row">
              <div class="col-xs-12 col-sm-6 field">
                <div>
                  <label for="entry.793816360">First Name <span class="req">*</span></label>
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Your first name" id="entry.793816360" name="entry.793816360" required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 field">
                <div>
                  <label for="entry.2030509906">Last Name <span class="req">*</span></label>
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Your last name" id="entry.2030509906" name="entry.2030509906" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 field">
                <div>
                  <label for="entry.614603117">Email Address <span class="req">*</span></label>
                </div>
                <div>
                  <input type="email" class="form-control" placeholder="Your email" id="emailAddress" name="entry.614603117" required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 field">
                <div>
                  <label for="entry.932379836">Phone <span class="req">*</span></label>
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Your phone number" id="entry.932379836" name="entry.932379836" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-4 field">
                <div>
                  <label for="entry.1889243273">City <span class="req">*</span></label>
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Your city" id="entry.1889243273" name="entry.1889243273" required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 field">
                <div>
                  <label for="entry.590672483">State <span class="req">*</span></label>
                </div>
                <div>
                  <select name="entry.590672483">
                    <option value="">Choose Your State</option>
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="District Of Columbia">District Of Columbia</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="New Hampshire">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 field">
                <div>
                  <label for="entry.936394878">Zip Code <span class="req">*</span></label>
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Your zip code" id="entry.936394878" name="entry.936394878" required>
                </div>
              </div>
            </div>
            <div class="row form-subheader">
              <div class="col-xs-12">
                <div class="form-subheader-container" role="heading">
                  <div>Connection Booster</div>
                </div>
                <div class="form-subheader-triangle">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 14 10" preserveAspectRatio="none">
                    <polygon class="freebirdSolidFill" points="0,0 13,0 0,13"></polygon>
                  </svg>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 field">
                <div>
                  <label for="entry.1585474730">What is the <a href="#" class="definition" rel="tooltip" title="Any ritual, activity or practice that facilitates healing, personal growth, mindfulness, inner peace, and/or a sense of connectedness to self/other/nature" tabindex="0">connection booster</a> you’re passionate about? <span class="req">*</span></label>
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Your answer" id="entry.1585474730" name="entry.1585474730" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 field">
                <div>
                  <label for="entry.589724623">How does your work help people heal through connection? <span class="req">*</span></label>
                </div>
                <div>
                  <textarea id="entry.589724623" name="entry.589724623" required rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 field">
                <div>
                  <label for="entry.622248581">Tell us how your connection booster activity has helped you or someone you know overcome addiction, mental health, or other issues. <span class="req">*</span></label>
                </div>
                <div>
                  <textarea id="entry.622248581" name="entry.622248581" required rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 field">
                <div>
                  <label for="entry.2117418303">How long have you been practicing this connection booster? <span class="req">*</span></label>
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Your answer" id="entry.2117418303" name="entry.2117418303" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 field">
                <div>
                  <label for="entry.1368240241">Do you have any certifications? Please describe below. </label>
                </div>
                <div>
                  <textarea id="entry.1368240241" name="entry.1368240241" rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 field">
                <div>
                  <label for="entry.794881550">Do you currently do any work, or have any specific programs designed for people in addiction recovery?  <span class="req">*</span></label>
                </div>
                <div>
                  <textarea id="entry.794881550" name="entry.794881550" required rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 field">
                <div>
                  <label for="entry.2065526215">Why do you think you'd be a good fit for this program for seekers? </label>
                </div>
                <div>
                  <textarea id="entry.2065526215" name="entry.2065526215" rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 field">
                <div>
                  <label for="entry.2067517310">What is the typical demographic that you serve? </label>
                </div>
                <div>
                  <textarea id="entry.2067517310" name="entry.2067517310" rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 field">
                <div>
                  <label for="entry.1911243071">Are you willing to help post-detox seekers learn about your connection booster by volunteering teaching time or offer discounted services? Please explain.  <span class="req">*</span>
                  <br/><span class="form-question-example">(i.e., video chat educational sessions, onsite pro-bono services, discounted services/membership, free workshops, discounted workshops, introductory sessions, specially designed recovery program, etc)</span></label>
                </div>
                <div>
                  <textarea id="entry.1911243071" name="entry.1911243071" required rows="4"></textarea>
                </div>
                <div><span class="form-question-desc">Once your application is processed, we’ll work with you individually to develop a contract that’s appropriate for your organization.</span></div>
              </div>
            </div>
            <div class="row form-subheader">
              <div class="col-xs-12">
                <div class="form-subheader-container" role="heading">
                  <div>Organization Information</div>
                </div>
                <div class="form-subheader-triangle">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 14 10" preserveAspectRatio="none">
                    <polygon class="freebirdSolidFill" points="0,0 13,0 0,13"></polygon>
                  </svg>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 field">
                <div>
                  <label for="entry.245085719">Do you have the authority to offer the services described in the previous question on behalf of your organization? <span class="req">*</span></label>
                </div>
                <div class="btn-group btn-group-vertical" data-toggle="buttons">
                  <label class="form-control radio-inline">
                    <input type="radio" name="entry.245085719" value="Yes" required>Yes
                  </label>
                  <label class="form-control radio-inline">
                    <input type="radio" name="entry.245085719" value="No">No
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 field">
                <div>
                  <label for="entry.340570523">Please Explain: </label>
                </div>
                <div>
                  <textarea id="entry.340570523" name="entry.340570523" rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 field">
                <div>
                  <label for="entry.273927557">Name of organization you represent </label>
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Your answer" id="entry.273927557" name="entry.273927557">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 field">
                <div>
                  <label for="entry.1358899925">Your title at your organization </label>
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Your answer" id="entry.1358899925" name="entry.1358899925">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div>
                  <label for="entry.1967897905">Type of organization <span class="req">*</span></label>
                </div>
                <div class="btn-group btn-group-vertical" data-toggle="buttons">
                  <label class="form-control radio-inline">
                    <input type="radio" name="entry.1967897905" value="small business" required>small business
                  </label>
                  <label class="form-control radio-inline">
                    <input type="radio" name="entry.1967897905" value="nonprofit">nonprofit
                  </label>
                  <label class="form-control radio-inline">
                    <input type="radio" name="entry.1967897905" value="individual teacher">individual teacher
                  </label>
                  <label class="form-control radio-inline">
                    <input type="radio" name="entry.1967897905" value="local co-op">local co-op
                  </label>
                  <label class="form-control radio-inline">
                    <input type="radio" name="entry.1967897905" id="entry.1967897905.other-option" value="__other_option__">Other <input type="text" class="form-control other" id="entry.1967897905.other_option_response" name="entry.1967897905.other_option_response">
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 field">
                <div>
                  <label for="entry.658573229">How long has your organization been providing services/creating a community for this connection booster?  </label>
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Your answer" id="entry.658573229" name="entry.658573229">
                </div>
              </div>
            </div>
            <div class="row form-subheader">
              <div class="col-xs-12">
                <div class="form-subheader-container" role="heading">
                  <div>Other</div>
                </div>
                <div class="form-subheader-triangle">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 14 10" preserveAspectRatio="none">
                    <polygon class="freebirdSolidFill" points="0,0 13,0 0,13"></polygon>
                  </svg>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 field">
                <div>
                  <label for="entry.340216213">Is there anything else you’d like us to know about you, your work, or the connection booster you’re passionate about? </label>
                </div>
                <div>
                  <textarea id="entry.340216213" name="entry.340216213" rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">  
                  <button type="submit" class="btn btn-lg btn-success submitbtn">Submit</button>
                </div>
              </div>
            </div>
          </form>


        </div>

      </div>
    </div>
  </div>
</section>
