{% comment %} 
<!--
  Directors Section

  This partial is used for directors types of layouts.  Currently used on the
  Board of Directors page.
  
--> 
{% endcomment %}

{% assign portfolio = site.sections |where:"type","team" |where:"category",include.title |sort: "order" %}

<section>
  <div class="section no-top-padding">
    <div class="container clearfix">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12 text-center normal-header">
          <h1 class="no-bot-border">{{ include.title }}</h1>
        </div>
      </div>      
    
      <div class="row display-flex">

        {% for profile in portfolio %}
        
          <div class="col-md-6 bottommargin">
            <div class="director clearfix">
              <div class="director-image">
                <img src="{{ site.baseurl }}{{ profile.image }}" alt="{{ profile.name }}, {{ profile.title }}">
              </div>
              <div class="director-desc">
                {% if profile.name-link %}
                  <h2><a href="{{ profile.name-link }}">{{ profile.name }}</a></h2>
                {% else %}
                  <h2>{{ profile.name }}</h2>
                {% endif %}
                <div class="director-content">
                  {{ profile.content | markdownify }}
                </div>
              </div>
            </div>
          </div>

        {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>