{% comment %}
<!--
  Double Section

  This partial is used for 2 column layouts.
  Currently used on the Our Programs page.

-->
{% endcomment %}

{% assign doubles = site.sections |where:"type","double-flex" |where:"title",include.title %}

{% for double in doubles %}

<section{% if double.section-bottom-border %} class="bottom-border"{% endif %}>
  <div class="section{% if double.white-bg %} white{% elsif double.black-bg %} black{% endif %}{% if double.padding %} {{ double.padding }}{% endif %}">
    <div class="container clearfix">
      <div class="row">
        <div class="{% if double.col-width == "thin" %}col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2{% elsif double.col-width == "wide" %}col-md-12{% else %}col-md-8 col-md-offset-2{% endif %} col-xs-12 text-center {% if double.header %}{{ double.header }}{% else %}normal-header{% endif %}">
          {{ double.content | markdownify }}
        </div>
      </div>
      <div class="row flex-row">

        {% assign cols = site.sections |where:"type","double-col" |where:"col-names",double.col-names |sort: "order" %}

        {% for col in cols %}

          <div class="flex-item double{% if col.center %} text-center{% endif %}{% if col.margin =="no-margin" %} no-margin{% endif %}">

          {% if col.sticky-note %}
            <div class="sticky-note">
          {% endif %}

              {{ col.content | markdownify }}

          {% if col.sticky-note %}
            </div>
          {% endif %}

          </div>

        {% endfor %}

      </div>
    </div>
  </div>
</section>

{% endfor %}
