{% comment %} 
<!--
  Connect Section

  This partial is included on any page that should include social sharing info.
  Currently used on the Contact page and is using the footer data file to get
  social sharing information.
  
--> 
{% endcomment %}

{% assign events = site.sections |where:"type","event" |sort: "date" %}

<section>
  <div class="section">
    <div class="container clearfix">
      <div class="row display-flex">

        {% for event in events %}
        
          <div class="col-md-12 bottommargin">
            <div class="clearfix">
              <div class="event-image">
                <img src="{{ site.baseurl }}{{ event.image }}" alt="Event">
                <div class="event-date">06<span>May</span></div>
              </div>
              <div class=" subnav-header">
                <h1>{{ event.name }}</h1>
                <p class="event-meta">
                  <i class="far fa-clock"></i>{{ event.time }}
                  <span class="meta-separator">/</span>
                  <i class="fas fa-map-marker-alt"></i>{{ event.location }}</p>
                <div class="event-content">
                  {{ event.content }}

                  <p><a href="{{ event.ticket-url }}" target="_blank" class="button button-purple">{{ event.ticket-btn }}</a></p>
                </div>
              </div>
            </div>
          </div>

        {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>


<!-- 
<section id="eventsPromo">

      <div class="content-wrap">

        <div class="container clearfix">

          <div class="nobottommargin">

            <div id="posts" class="events small-thumbs">

              <div class="entry clearfix">
                <div class="entry-image">
                  <a href="#">
                    <img src="images/events-placeholder.jpg" alt="Event">
                    <div class="entry-date">06<span>May</span></div>
                  </a>
                </div>
                <div class="entry-c">
                  <div class="entry-title">
                    <h2>
                      <span class="non-emphasized-header">SeekHealing </span>
                      <span class="emphasized-header">Launch Party</span>
                    </h2>
                  </div>
                  <ul class="entry-meta clearfix">
                    <li><a href="#"><i class="fa fa-clock-o"></i> 4:00pm - 7:00pm</a></li>
                    <li><a href="#"><i class="fa fa-map-marker"></i> Washington, DC</a></li>
                  </ul>
                  <div class="entry-content">
                    <p>Join us on Saturday May 6th at 4pm for our first public fundraising event: come dance, donate, and connect! We'll be hanging out at at the Lost Society in Washington D.C. and live-launching a fundraising campaign to reconnect those who have lost themselves or others to opioid & heroin addiction.</p>
                    <a href="https://www.eventbrite.com/e/seekhealing-launch-party-tickets-32637108470" target="_blank" class="button button-border button-rounded button-sh-purple">Buy Tickets</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>        
    </section> -->