{% comment %} 
<!--
  Connect Section

  This partial is included on any page that should include social sharing info.
  Currently used on the Contact page and is using the footer data file to get
  social sharing information.
  
--> 
{% endcomment %}

{% if include.title == "upcoming" %}
  {% assign events = site.sections |where:"type","event" | where:"timing",include.title |sort: "date" %}
{% else %}
  {% assign events = site.sections |where:"type","event" | where:"timing",include.title |sort: "date" | reverse %}
{% endif %}

{% assign events_content = site.data.global %}

<section>
  <div class="section{% if include.title == "upcoming" %} white{% endif %}">
    <div class="container clearfix events">
      <div class="row display-flex {% if include.title == "upcoming" %}upcoming-events{% else %}past-events{% endif %}">

        <div class="normal-header">
          <h1>
            {% if include.title == "upcoming" %}
              {{ events_content.events-upcoming-text }}
              {% assign event_class = "col-md-12 bottommargin expiration-date" %}
            {% else %}
              {{ events_content.events-past-text }}
              {% assign event_class = "col-md-12 bottommargin" %}
            {% endif %}
          </h1>
        </div>

        {% for event in events %}
        
          <div class="{{ event_class }}"{% if include.title == "upcoming" %} data-limit="{{ event.date }}"{% endif %}>
            <div class="clearfix">
              <div class="event-image">
                <img src="{{ site.baseurl }}{{ event.image }}" alt="Event">
                <div class="event-date">{{ event.date | date: "%d" }}<span>{{ event.date | date: "%b" }}</span></div>
              </div>
              <div class="subnav-header">
                <h1>{{ event.name }}</h1>
                <p class="event-meta">
                  <i class="far fa-clock"></i>{{ event.time }}
                  <span class="meta-separator">/</span>
                  <i class="fas fa-map-marker-alt"></i>{{ event.location }}</p>
                <div class="event-content">
                  {{ event.content | markdownify }}

                  {% if event.ticket-btn %}
                    <p><a href="{{ event.ticket-url }}" target="_blank" class="button button-purple rsvp">{{ event.ticket-btn }}</a></p>
                  {% endif %}

                </div>
              </div>
            </div>
          </div>

        {% endfor %}

      </div>
    </div>
  </div>
</section>