{% comment %}
<!--
  Schedule Section

  This partial is in use on the WATM Festival page.
-->
{% endcomment %}

{% assign schedules = site.sections | where:"type","festival-schedule" | where:"title",include.title %}

{% for schedule in schedules %}

<section{% if schedule.section-bottom-border %} class="bottom-border"{% endif %}>
  <div class="section{% if schedule.white-bg %} white{% endif %}{% if schedule.padding %} {{ schedule.padding }}{% endif %}">
    <div class="container clearfix">

      <div class="row">
        <div class="{% if schedule.col-width == "thin" %}col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2{% elsif schedule.col-width == "wide" %}col-md-12{% else %}col-md-8 col-md-offset-2{% endif %} col-xs-12 text-center {% if schedule.header %}{{ schedule.header }}{% else %}normal-header{% endif %}">
          {{ schedule.content | markdownify }}
        </div>
      </div>

      <div class="row display-flex">

      {% for day in (1..schedule.days) %}

        {% assign events = site.sections | where:"type","watm-event" | where:"day",day | sort: "start-time" %}

        <div class="col-sm-4 col-xs-12">
          <div class="day-of-events">

            <h4 style="text-align: center; margin-bottom: 0px;">
            {% assign index = day | minus: 1 %}
            {{ schedule.dates[index] }}
            </h4>

          {% for event in events %}

            <div class="{{ event_class }}"{% if include.title == "upcoming" %} data-limit="{{ event.date }}"{% endif %}>
              <div id="{{ event.name }}" class="event-box clearfix">
                <div class="subnav-header">

                  <div class="event-type">
                    {% if event.event-type == "presentation" %}
                    <p class="color-presentation"><i class="fas fa-chalkboard-teacher"></i>  Presentation</p>
                    {% elsif event.event-type == "interactive" %}
                    <p class="color-interactive"><i class="fas fa-users color-interactive"></i>  Interactive</p>
                    {% elsif event.event-type == "interview" %}
                    <p class="color-interview"><i class="fas fa-microphone-alt color-interview"></i>  Interview</p>
                    {% elsif event.event-type == "music" %}
                    <p class="color-music"><i class="fas fa-music color-music"></i>  Music</p>
                    {% endif %}
                  </div>

                  <h3>{{ event.name }}</h3>
                  <h4><span class="emphasized-header">{{ event.facilitator }}</span></h4>

                  <blockquote class="event-timing">
                  {% assign today_date = "today" | date: "%Y-%m-%d" %}
                  {% assign event_date = event.date | date: "%Y-%m-%d" %}
                  {% if today_date == event_date %}
                    <h3 class="event-meta" style="margin-bottom: 0px;">
                      <i class="far fa-clock"></i>
                      {{ event.start-time | date: "%l:%M%P" }} {{ schedule.dates[index] | split: "," | first }}
                      <a href="{{ event.link }}" class="button zoom-button" target="_blank"><i class="fas fa-hand-point-right"></i>Join in Zoom!</a>
                    </h3>
                  {% else %}
                    <h3 class="event-meta" {% if today_date > event_date %}style="margin-bottom: 0px;"{% endif %}>
                      <i class="far fa-clock"></i>
                      {{ event.start-time | date: "%l:%M%P" }} {{ schedule.dates[index] | split: "," | first }}
                    </h3>
                    {% if today_date < event_date %}{% include lightboxes/addtocalendar.html %}{% endif %}
                  {% endif %}
                  </blockquote>

                  <div class="event-content">
                    {% if event.tagline %}
                    {{ event.tagline | markdownify }}
                    {% else %}
                    {{ event.content | split: ">" | first | markdownify }}
                    {% endif %}

                    <a href="#{{ event.title }}" class="button">More</a>
                  </div>

                </div>
              </div>
            </div>

            <div id="{{ event.title }}" class="overlay">

              <a class="cancel" href="#_"></a>

              <div class="lightbox">
                <div class="section white">
                  <div class="event-details lightbox-column-wide">

                    <div class="lightbox-content subnav-header">

                      <div class="event-type">
                        {% if event.event-type == "presentation" %}
                        <p class="color-presentation"><i class="fas fa-chalkboard-teacher"></i>  Presentation</p>
                        {% elsif event.event-type == "interactive" %}
                        <p class="color-interactive"><i class="fas fa-users color-interactive"></i>  Interactive</p>
                        {% elsif event.event-type == "interview" %}
                        <p class="color-interview"><i class="fas fa-microphone-alt color-interview"></i>  Interview</p>
                        {% elsif event.event-type == "music" %}
                        <p class="color-music"><i class="fas fa-music color-music"></i>  Music</p>
                        {% endif %}
                      </div>

                      <h3 class="event-name">{{ event.name }}</h3>
                      <h4><span class="emphasized-header">{{ event.facilitator }}</span></h4>

                      <blockquote class="event-timing">
                        <h3 class="event-meta">
                          <i class="far fa-calendar-alt"></i>
                          {{ schedule.dates[index] }}
                        </h3>
                      {% assign today_date = "today" | date: "%Y-%m-%d" %}
                      {% assign event_date = event.date | date: "%Y-%m-%d" %}
                      {% if today_date == event_date %}
                        <h3 class="event-meta" style="margin-bottom: 0px;">
                          <i class="far fa-clock"></i>
                          {{ event.start-time | date: "%l:%M%P" }} {{ schedule.dates[index] | split: "," | first }}
                          <a href="{{ event.link }}" class="button zoom-button" target="_blank"><i class="fas fa-hand-point-right"></i>Join in Zoom!</a>
                        </h3>
                      {% else %}
                        <h3 class="event-meta" {% if today_date > event_date %}style="margin-bottom: 0px;"{% endif %}>
                          <i class="far fa-clock"></i>
                          {{ event.start-time | date: "%l:%M%P" }}{% if event.end-time %} — {{ event.end-time | date: "%l:%M%P" }}{% endif %}
                        </h3>
                        {% if today_date < event_date %}{% include lightboxes/addtocalendar.html %}{% endif %}
                      {% endif %}
                      </blockquote>

                      <div class="event-content">
                        {{ event.content | markdownify }}
                      </div>
                    </div>

                    <div class="lightbox-buttons">
                      <a class="button" href="#_">Close</a>
                    </div>

                  </div>
                </div>
              </div>

            </div>

          {% endfor %}

          </div>
        </div>

      {% endfor %}

      </div>
    </div>
  </div>
</section>

{% endfor %}
