{% comment %}
<!--
  Form section

  This partial is used for Netlify forms.
-->
{% endcomment %}

{% assign forms = site.sections | where:"type","form" | where:"title",include.title %}

{% for form in forms %}

<div id="{{ form.title }}">

  <div class="form">
    <div class="section white">

        <div class="form-content">

          <script type="text/javascript">
            function CheckPronouns(val){
             var element=document.getElementById('other-pronouns');
             if(val=='(please select or specify other)'||val=='other')
               element.style.display='block';
             else
               element.style.display='none';
            }
          </script>

          <form id="listening-training-registration" name="listening-training-registration" method="POST" data-netlify="true">
            <p>
              <label>Name: <input type="text" name="name" /></label>
            </p>
            <p>
              <label>Pronouns: <select name="pronouns" onchange='CheckPronouns(this.value);'>
                  <option>(please select or specify other)</option>
                  <option value="he/his">he/his</option>
                  <option value="she/hers">she/hers</option>
                  <option value="they/theirs">they/theirs</option>
                  <option value="they/we">they/we</option>
                  <option value="other">other (please specify)</option>
                </select>
                <input type="text" name="pronouns" id="other-pronouns" style='display:none;'/>
              </label>
            </p>
            <p>
              <label>Email: <input type="text" name="email" /></label>
            </p>
            <p>
              <label>Phone: <input type="text" name="phone" /></label>
            </p>
            <p>
              <label>How did you hear about the program? <textarea name="referred-by"></textarea></label>
            </p>
            <p>
              <label>Which course do you want to sign up for? <select name="course">
                <option>(please select)</option>
                <option value="online">Online Weekly Series (Thursday nights)</option>
                <option value="retreat">2-day Weekend Retreat</option>
              </select></label>
            </p>
            <p>
              <button type="submit">Send</button>
            </p>
          </form>

        </div>

    </div>
  </div>

</div>

{% endfor %}
