<div class="container clearfix" style="z-index: 1001;">
  <div class="row">
    <script>gl=document.createElement('script');gl.src='https://secure.givelively.org/widgets/branded_donation/seekhealing/we-are-the-medicine-an-online-festival-for-real-human-connection.js';document.getElementsByTagName('head')[0].appendChild(gl);</script><div data-widget-src='https://secure.givelively.org/donate/seekhealing/we-are-the-medicine-an-online-festival-for-real-human-connection?ref=sd_widget' id="give-lively-widget" class="gl-branded-donation-widget"></div>
  </div>
</div>
