{% comment %}
<!--
  WATM Hero Section
-->
{% endcomment %}

{% assign heros = site.sections | where:"type","hero-watm" | where:"title",include.title %}

{% for hero in heros %}

<section id="slider" class="slider-parallax full-screen dark">

  <div class="slider-parallax-inner">

    <div id="watm-hero" class="hero-area" style="background: url({{ hero.background }}) center center / cover no-repeat;">
      <div class="container clearfix">
        <div id="watm-hero-row" class="row slider-caption">

          <div class="col-md-6 col-xs-12">
            {{ hero.content | markdownify }}
          </div>

          <div class="col-md-6 col-xs-12">
            <div class="large max-vid-width hero-vid">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="{{ hero.video-src }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</section>

{% endfor %}
