{% comment %}
<!--
  Hero Section

  This partial is included on any page that has a "hero" layout with a full bg
  picture and text/video in a 2 column layout.  Currently on the Home page.

-->
{% endcomment %}

{% assign heros = site.sections | where:"type","hero" | where:"title",include.title %}

{% for hero in heros %}

<section id="slider" class="slider-parallax full-screen dark">

  <div class="slider-parallax-inner">

    <div {% if hero.darkened %}id="{{ hero.title }}"{% endif %} class="hero-area" style="background: url({{ hero.background }}) center center / cover no-repeat;">
      <div class="container clearfix">
        <div {% if hero.darkened %}id="{{ hero.title }}-row"{% endif %} class="row slider-caption hero-columns">

          <div class="col-md-6 col-xs-12{% if hero.darkened %} text-shadow{% endif %}">
            {{ hero.content | markdownify }}
          </div>

          <div class="col-md-6 col-xs-12">
            {% if hero.image %}
            <div class="hero-img">
              {% if hero.image-link %}
              <a href="{{ hero.image-link }}">
                {% include responsive-image.html image=hero.image alt=hero.image-alt %}
              </a>
              {% else %}
              {% include responsive-image.html image=hero.image alt=hero.image-alt %}
              {% endif %}
            </div>
            {% elsif hero.video %}
            <div class="embed-responsive embed-responsive-16by9 hero-vid">
              <video class="embed-responsive-item" controls poster="{% if hero.video-preview %}{{ hero.video-preview }}{% endif %}">
                <source src="{{ hero.video }}" type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
            </div>
            {% elsif hero.video-embed %}
            <div class="large max-vid-width hero-vid">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="" data-src="{{ hero.video-embed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
            {% endif %}
          </div>

        </div>
      </div>
    </div>

  </div>

</section>

{% endfor %}
