{% comment %}
<!--
  Leadership Section — This partial is used on the Leadership page.
-->
{% endcomment %}

{% assign portfolio = site.sections | where:"type","team" | where:"category",include.title | sort: "order" %}

<section>
  <div class="section no-top-padding">
    <div class="container clearfix">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
          <h2 class="bottommargin">{{ include.title }}</h2>
        </div>
      </div>

      <div class="row display-flex">

        {% for profile in portfolio %}

          <div class="col-md-6 bottommargin">
            <div class="director clearfix">
              <div class="director-image">
                <img src="{{ site.baseurl }}{{ profile.image }}" alt="{{ profile.name }}, {{ profile.title }}">
              </div>
              <div class="director-desc">

                {% if profile.name-link %}
                  <h2><a href="{{ profile.name-link }}">{{ profile.name }}</a></h2>
                {% else %}
                  <h2>{{ profile.name }}</h2>
                {% endif %}

                {% if profile.role %}
                <div class="director-content">
                  <b>{{ profile.role | markdownify }}</b>
                </div>
                {% endif %}

                <div class="director-content">
                {% if profile.summary %}
                  {{ profile.summary | markdownify }}
                {% else %}
                  {{ profile.content | markdownify }}
                {% endif %}
                </div>

                {% if profile.location %}
                <div class="location-icon" style="float: left; padding: .6em .5em .4em 0; vertical-align: bottom; color: #57AF98">
                  <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="director-content">
                  {{ profile.location | markdownify }}
                </div>
                {% endif %}

              </div>
            </div>
          </div>

        {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>
