{% comment %}
<!--
  Lightbox Section

  This partial is used for lightboxes.
-->
{% endcomment %}

{% assign lightboxes = site.sections | where:"type","lightbox" | where:"title",include.title %}

{% for lightbox in lightboxes %}

<div id="{{ lightbox.title }}" class="overlay">

  {% if lightbox.click-outside-close != false %}
  <a class="cancel" href="#_"></a>
  {% endif %}

  <div class="lightbox">
    <div class="section white">
      <div class="{% if lightbox.col-width == "thin" %}lightbox-column-thin{% elsif lightbox.col-width == "wide" %}lightbox-column-wide{% else %}lightbox-column{% endif %} {% if lightbox.header %}{{ lightbox.header }}{% else %}normal-header{% endif %}">

        <div class="lightbox-content">
          {{ lightbox.content | markdownify }}
        </div>

        <div class="lightbox-buttons">
          {% if lightbox.extra-buttons %}
          {% include {{ lightbox.extra-buttons }} %}
          {% endif %}

          {% if lightbox.close-button-href %}
          <a href="{{ lightbox.close-button-href }}" class="button">
          {% if lightbox.close-button-text %}{{ lightbox.close-button-text }}{% else %}Close Window{% endif %}
          </a>
          {% else %}
          <a href="#_" class="button">Close</a>
          {% endif %}
        </div>

      </div>
    </div>
  </div>

</div>

{% endfor %}
