{% comment %}
<!--
  Listening Training Registration Form Section

  This partial is used for the listening training registration form

-->
{% endcomment %}

{% assign form = site.sections | where:"type","listening-training-form" %}

<section>
  <div class="section no-top-padding">
    <div class="container clearfix">
      <div class="row normal-header">

        <div class="col-md-10 col-md-offset-1 col-xs-12 form-container">

          <form name="listening-training-form" id="listening-training-form" method="POST" netlify>
            <div class="row form-subheader" style="padding: 20px 0;">
              <div class="col-xs-12">
                <div class="form-subheader-container" role="heading">
                  <div>Contact Information</div>
                </div>
                <div class="form-subheader-triangle">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 14 10" preserveAspectRatio="none">
                    <polygon class="freebirdSolidFill" points="0,0 13,0 0,13"></polygon>
                  </svg>
                </div>
                <div class="form-legend" style="text-align: right; padding: 10px;">
                  <span class="req">*&nbsp;Required</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-field">
                  <div>
                    <label for="firstname">First Name</label>&nbsp;<span class="req">*</span>
                  </div>
                  <div>
                    <input type="text" class="form-control" placeholder="Your first name" id="firstname" name="firstname" required>
                  </div>
                </div>
                <div class="form-field">
                  <div>
                    <label for="lastname">Last Name</label>&nbsp;<span class="req">*</span>
                  </div>
                  <div>
                    <input type="text" class="form-control" placeholder="Your last name" id="lastname" name="lastname" required>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-field">
                  <div>
                    <label for="pronouns">Pronouns</label>
                  </div>
                  <div class="btn-group btn-group-vertical" data-toggle="buttons">
                    <label class="form-control radio-inline">
                      <input type="radio" name="pronouns" value="he/him">he/him
                    </label>
                    <label class="form-control radio-inline">
                      <input type="radio" name="pronouns" value="she/her">she/her
                    </label>
                    <label class="form-control radio-inline">
                      <input type="radio" name="pronouns" value="they/them">they/them
                    </label>
                    <label class="form-control radio-inline">
                      <input type="radio" name="pronouns" id="pronouns.other-option" value="__other_option__">other <input type="text" class="form-control other" id="pronouns.other_option_response" name="pronouns.other_option_response">
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 form-field">
                <div>
                  <label for="email">Email</label>&nbsp;<span class="req">*</span>
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Your email address" id="email" name="email" required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 form-field">
                <div>
                  <label for="phone">Phone</label>&nbsp;<span class="req">*</span>
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Your phone number" id="phone" name="phone" required>
                </div>
              </div>
            </div>
            <div class="row form-subheader">
              <div class="col-xs-12">
                <div class="form-subheader-container" role="heading">
                  <div>Additional Information</div>
                </div>
                <div class="form-subheader-triangle">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 14 10" preserveAspectRatio="none">
                    <polygon class="freebirdSolidFill" points="0,0 13,0 0,13"></polygon>
                  </svg>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 form-field">
                <div>
                  <label for="course">Which course do you want to sign up for?</label>&nbsp;<span class="req">*</span>
                </div>
                <div class="btn-group btn-group-vertical" data-toggle="buttons">
                  <label class="form-control radio-inline">
                    <input type="radio" name="course" value="Online Weekly Series" required>Online Weekly Series (Thursday nights)
                  </label>
                  <label class="form-control radio-inline">
                    <input type="radio" name="course" value="2-Day Weekend Retreat">2-day Weekend Retreat
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 form-field">
                <div>
                  <label for="referredby">How did you hear about the program?</label>&nbsp;<span class="req">*</span>
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Your answer" id="referredby" name="referredby" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 form-field">
                <div>
                  <label for="miscellaneous">Is there anything else you’d like us to know?</label>
                </div>
                <div>
                  <textarea id="miscellaneous" name="miscellaneous" rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group" style="margin: 15px 0;">
                  <button type="submit" class="button button-green submitbtn">Submit</button>
                </div>
              </div>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
</section>
