{% comment %} 
<!--
  Parallax Section

  This partial is used for parallax sections.  Currently used on the Why We
  Care page.
  
--> 
{% endcomment %}

{% assign laxes = site.sections |where:"type","parallax" |where:"title",include.title %}

{% for lax in laxes %}


<div id="weCareBecause" class="section parallax nobottommargin" data-stellar-background-ratio="0.4" style="background-image: url({{ lax.bg-img }});">
  <div class="section{% if double.white-bg %} white{% endif %}" data-animation="fade">
    <div class="container clearfix">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center parallax-txt-bg">
          <div class="inner{% if lax.font == "large"%} font-lg-light{% endif %}">
            {{ lax.content | markdownify }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--       <div class="because-ending text-center">
        
      </div>
  </div>
</div> -->

{% endfor %}