{% comment %}
<!--
  Partners Section

  This partial is used for groups of partner logos to include on a page.

-->
{% endcomment %}

{% assign partner_pages = site.sections|where:"type","partners"|where:"title",include.title %}

{% assign partners = site.data.partners.partners|where:"include-page",include.title %}

{% for partner_page in partner_pages %}

<section{% if partner_page.section-bottom-border %} class="bottom-border"{% endif %}>
  <div class="section{% if partner_page.white-bg %} white{% endif %}{% if partner_page.font == "large"%} font-lg-light{% endif %}">
    <div class="container clearfix">
      <div class="row">
        <div class="{% if partner_page.col-width == "thin" %}col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2{% elsif partner_page.col-width == "wide" %}col-md-12{% elsif partner_page.col-width == "sticky" %}col-sm-6 col-sm-offset-3{% else %}col-md-8 col-md-offset-2{% endif %} col-xs-12 text-center {% if partner_page.header %}{{ partner_page.header }}{% else %}normal-header{% endif %}">

          {% if partner_page.heading %}
            <h1>{{ partner_page.heading }}</h1>
          {% endif %}

          {{ partner_page.content | markdownify }}
          
          <ul class="partners">
            {% for partner in partners %}
            <li class="partner-item">

              {% if partner.link %}
              <a href="{{ partner.link }}" target="_blank">
              {% endif %}

                {% if partner.image %}
                <image src="{{ partner.image | prepend: "/assets/images/" | prepend: site.baseurl }}" class="" title="{{ partner.title }}">
                {% else %}
                {{ partner.title }}
                {% endif %}

              {% if partner.link %}
              </a>
              {% endif %}

            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% endfor %}
