{% comment %} 
<!--
  Press Section

  This partial is used for "press" and external resources sections of text.
  
--> 
{% endcomment %}

{% assign resources = site.sections|where:"type","press" | reverse %}

<section class="bottom-border ">
  <div class="section no-bot-padding">
    <div class="container clearfix">
      <div class="row">
        <div class="col-md-12 col-xs-12 text-center normal-header">
          
          <h1>{{ include.title }}</h1>
        </div>
      </div>
    </div>

        {% for resource in resources %}
        
          <article class="press{% cycle ' white', '' %}">
            <div class="container clearfix">
              <div class="row">
                <div class="col-md-12 bottommargin">
                  <div class="clearfix">
                    <div class="press-image {% if resource.image-class %}{{ resource.image-class }}{% endif %}">
                      <img src="{{ site.baseurl }}/assets/images/{{ resource.image }}" alt="Event">
                    </div>
                    <div class="press-content text-left">
                      {{ resource.content | markdownify }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>

        {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>
