{% comment %} 
<!--
  Single Section

  This partial is used for "single" column sections of text.
  
--> 
{% endcomment %}

{% assign singles = site.sections|where:"type","single"|where:"title",include.title %}

{% for single in singles %}

<section{% if single.section-bottom-border %} class="bottom-border"{% endif %}>
  <div class="section{% if single.white-bg %} white{% endif %}">
    <div class="container clearfix">
      <div class="row">
        <div class="{% if single.col-width == "thin" %}col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2{% elsif single.col-width == "wide" %}col-md-12{% else %}col-md-8 col-md-offset-2{% endif %} col-xs-12 text-center {% if single.header %}{{ single.header }}{% else %}normal-header{% endif %}">
          {{ single.content | markdownify }}
        </div>
      </div>
    </div>
  </div>
</section>

{% endfor %}