{% comment %} 
<!--
  Single Section

  This partial is used for "single" column sections of text.
  
--> 
{% endcomment %}

{% assign singles = site.sections|where:"type","single"|where:"title",include.title %}

{% for single in singles %}

<section{% if single.section-bottom-border %} class="bottom-border"{% endif %}>
  <div class="section{% if single.white-bg %} white{% endif %}{% if single.font == "large"%} font-lg-light{% endif %}">
    <div class="container clearfix">
      <div class="row">
        <div class="{% if single.col-width == "thin" %}col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2{% elsif single.col-width == "wide" %}col-md-12{% elsif single.col-width == "sticky" %}col-sm-6 col-sm-offset-3{% else %}col-md-8 col-md-offset-2{% endif %} col-xs-12 text-center {% if single.header %}{{ single.header }}{% else %}normal-header{% endif %}">
          
          {% if single.sticky-header %}
            <h1>{{ single.sticky-header }}</h1>
            <div class="sticky-note green-note">
          {% endif %}

          {{ single.content | markdownify }}

          {% if single.sticky-header %}
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>

{% endfor %}