{% comment %}
<!--
  Subnav Section

  This partial is used for the 3 column "sub-navigational" layout that is
  currently utilized on the Learn and About pages.

-->
{% endcomment %}

{% assign subnavs = site.sections|where:"type","subnav"|where:"nav",include.title | sort: "order" %}

{% comment %}
<!-- Determine column layout for page based on collection size -->
{% endcomment %}
{% assign subnavs_count = subnavs | size %}
{% if subnavs_count == 4 %}
  {% assign layout_size = "col-lg-3 col-sm-6" %}
{% else %}
  {% assign layout_size = "col-sm-4" %}
{% endif %}

<section>
  <div class="section" >
    <div class="container clearfix text-center normal-header">

      {{ page.content | markdownify }}

      <div class="row subnav-row">

      {% for nav in subnavs %}
        {% if forloop.index == 4 and layout_size == "col-sm-4" %}
          {% assign layout_size = "col-sm-5 col-sm-offset-1 subnav-wrapped-item" %}
        {% elsif forloop.index == 5 %}
          {% assign layout_size = "col-sm-5 subnav-wrapped-item" %}
        {% endif %}
        
        <div class="{{ layout_size }} col-xs-12">
          <div class="feature-box">
            <div class="icon">
              <a href="{{ site.baseurl }}{{ nav.link }}"><i style="background-image: url({{ nav.image }})"></i></a>
            </div>
            {{ nav.content | markdownify }}
          </div>
        </div>

      {% endfor %}

      </div>

    </div>
  </div>
</section>
