{% comment %} 
<!--
  Subnav Section

  This partial is used for the 3 column "sub-navigational" layout that is
  currently utilized on the Learn and About pages.
  
--> 
{% endcomment %}

{% assign subnavs = site.sections|where:"type","subnav"|where:"nav",include.title | sort: "order" %}

<section>
  <div class="section" >
    <div class="container clearfix text-center normal-header">

      {{ page.content | markdownify }}

      {% for nav in subnavs %}
      
      <div class="col-sm-4 col-xs-12">
        <div class="feature-box">
          <div class="icon">
            <a href="{{ site.baseurl }}{{ nav.link }}"><i style="background-image: url({{ nav.image }})"></i></a>
          </div>
          {{ nav.content }}
        </div>
      </div>      

      {% endfor %}

    </div>
  </div>
</section>