{% comment %}
<!--
  Webinar Schedule Section

  This partial is in use on the WATMF and OBT pages.
-->
{% endcomment %}

{% assign schedules = site.sections | where:"type","webinar-schedule" | where:"title",include.title %}

{% for schedule in schedules %}

<section{% if schedule.section-bottom-border %} class="bottom-border"{% endif %}>
  <div class="section{% if schedule.white-bg %} white{% endif %}{% if schedule.padding %} {{ schedule.padding }}{% endif %}">
    <div class="container clearfix">

      <div class="row">
        <div class="{% if schedule.col-width == "thin" %}col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2{% elsif schedule.col-width == "wide" %}col-md-12{% else %}col-md-8 col-md-offset-2{% endif %} col-xs-12 text-center {% if schedule.header %}{{ schedule.header }}{% else %}normal-header{% endif %}">
          {{ schedule.content | markdownify }}
        </div>
      </div>

      <div class="row display-flex">

        {% for day in (1..schedule.days) %}

        {% assign events = site.sections | where:"type","webinar-event" | where:"webinar",schedule.webinar | where:"day",day | sort: "start-time" %}

        <div class="col-sm-4 col-xs-12">
          <div class="day-of-events">

            <h4 style="text-align: center; margin-bottom: 0px;">
              {% assign index = day | minus: 1 %}
              {{ schedule.dates[index] }}
            </h4>

            {% for event in events %}

              {% comment %}
              <!-- Compensate for CMS saving start & end times as integers -->
              {% endcomment %}
              {% if event.start-time contains ":" %}
                {% assign start_time = event.start-time %}
              {% else %}
                {% assign start_hour = event.start-time | divided_by: 60 | to_integer %}
                {% assign start_minute = event.start-time | modulo: 60 | to_integer %}
                {% if start_minute < 10 %}{% assign start_minute = start_minute | prepend: "0" %}{% endif %}
                {% assign start_time = start_hour | append: ":" | append: start_minute %}
              {% endif %}
              {% if event.end-time contains ":" %}
                {% assign end_time = event.end-time %}
              {% else %}
                {% assign end_hour = event.end-time | divided_by: 60 | to_integer %}
                {% assign end_minute = event.end-time | modulo: 60 | to_integer %}
                {% if end_minute < 10 %}{% assign end_minute = end_minute | prepend: "0" %}{% endif %}
                {% assign end_time = end_hour | append: ":" | append: end_minute %}
              {% endif %}

            <div class="event-block"
              data-date="{{ event.date | date: "%-m/%-e/%Y" }}"
              data-starthour="{{ start_hour }}"
              data-startminute="{{ start_minute }}"
              data-endhour="{{ end_hour }}"
              data-endminute="{{ end_minute }}"
              data-utcoffset="{{ event.utc-offset }}"
              />

              <div class="event-box">
                <div class="subnav-header">

                  {% include webinar/schedule-event-meta.html %}
                  {% include webinar/schedule-event-time-block.html overlay=false %}

                  <div class="event-content">
                    {% if event.tagline %}
                    {{ event.tagline | markdownify }}
                    {% else %}
                    {{ event.content | split: ">" | first | markdownify }}
                    {% endif %}

                    <a href="#{{ event.title }}" class="button">More</a>
                  </div>

                </div>
              </div>

              <div id="{{ event.title }}" class="overlay">
                <a class="cancel" href="#_"></a>

                <div class="lightbox">
                  <div class="section white">
                    <div class="event-details lightbox-column-wide">

                      <div class="lightbox-content subnav-header">
                        {% include webinar/schedule-event-meta.html %}
                        {% include webinar/schedule-event-time-block.html overlay=true %}
                        {% include webinar/schedule-event-content.html %}
                      </div>

                      <div class="lightbox-buttons">
                        <a class="button" href="#_">Close</a>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

            </div>

            {% endfor %}

          </div>
        </div>

        {% endfor %}

        {% include webinar/schedule-event-link-js.html %}

      </div>

    </div>
  </div>
</section>

{% endfor %}
