{% comment %} 
<!--
  Footer

  This partial is included on every page except the observatory page to
  consistently display the same footer on each page.
  
--> 
{% endcomment %}

{% assign footer = site.data.footer %}
{% assign global = site.data.global %}

<!-- Footer
============================================= -->
<footer id="footer" class="dark">
  <div class="footer-inner">

    <div class="container clearfix">
      <div class="row">

        <div class="col-xs-12 col-sm-6 footer-cp">
          <div class="copyright-links">

          <!-- Footer Navigation Links
          ============================================= -->
          {% for nav in footer.nav %}

            {% if nav.url contains '://' %}
              {% assign nav_url = nav.url %}
            {% else %}
              {% capture nav_url %}{{ site.baseurl }}{{ nav.url }}{% endcapture%}
            {% endif %}

            <a href="{{ nav_url }}"{% if nav.target %} target="{{ nav.target }}"{% endif %}>
              {{ nav.title }}
            </a>

          {% endfor %}

          </div>

          <!-- Footer Copyright Text
          ============================================= -->
          {{ footer.copyright-text }}

        </div>

        <div class="col-xs-12 col-sm-6 footer-soc">
          <div>

          <!-- Social Media Links
          ============================================= -->
          {% for social in footer.social-media %}

            <a href="{{ social.url }}" target="_blank" class="footer-social-icon">
              <i class="{{ social.icon }}"></i>
            </a>

          {% endfor %}

          </div>

          <i class="{{ global.email-icon }}"></i> {{ global.email }}
        </div>

      </div>

    </div>

  </div><!-- #copyrights end -->

</footer><!-- #footer end -->