		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						<div class="copyright-links"><a href="learn.html">Learn</a> / <a href="our-programs.html">Our Programs</a> / <a href="get-involved.html">Get Involved</a> / <a href="blog.html">Blog</a><!-- / <a href="get-help-now.html">Get help now</a> --></div>
						Copyrights &copy; 2017 SeekHealing.
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">
							<a href="https://www.facebook.com/seekhealing/" target="_blank" class="footer-social-icon">
								<i class="fa fa-facebook-official"></i>
							</a>
							<a href="https://twitter.com/seek_healing" target="_blank" class="footer-social-icon">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a href="https://www.instagram.com/seekhealing/" target="_blank" class="footer-social-icon">
								<i class="fa fa-instagram"></i>
							</a>
							<a href="https://www.linkedin.com/company/15230410/" target="_blank" class="footer-social-icon">
								<i class="fa fa-linkedin"></i>
							</a>
							<a href="https://www.youtube.com/channel/UCSM8rmdOFdHop_8z2UFz5-g" target="_blank" class="footer-social-icon">
								<i class="fa fa-youtube"></i>
							</a>
						</div>

						<div class="clear"></div>

						<i class="fa fa-envelope"></i> info@seekhealing.com
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="fa fa-caret-up"></div>

	<!-- Google Analytics -->
		<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', '{{ site.ga_property_id }}', 'auto');
	ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->
	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="{{ site.baseurl}}/assets/js/jquery.js"></script>
	<script type="text/javascript" src="{{ site.baseurl}}/assets/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="{{ site.baseurl}}/assets/js/functions.js"></script>
	<script type="text/javascript" src="{{ site.baseurl}}/assets/js/custom-functions.js"></script>

</body>
</html>
