{% comment %}
<!--
  Footer

  This partial is included on every page except the observatory page to
  consistently display the same footer on each page.

-->
{% endcomment %}

{% assign footer = site.data.footer %}
{% assign global = site.data.global %}

<!-- Footer
============================================= -->
<footer id="footer" class="dark">
  <div class="footer-inner vcard">

    <div class="container clearfix">
      <div class="row footer-row">

        <!-- Section 1
        ============================================= -->
        <div id="footer-section-1" class="col-xs-12 col-sm-4">

          <!-- Footer Copyright
          ============================================= -->
          <div class="copyright-links">
            &copy; 2020 <span class="org">SeekHealing</span>
          </div>

          <!-- Address
          ============================================= -->
          <span class="adr">
            <span class="street-address">50 S. French Broad Avenue #300</span><br>
            <span class="locality">Asheville</span>, <span class="region">NC</span> <span class="postal-code">28801</span>
          </span>

        </div>

        <!-- Section 2
        ============================================= -->
        <div id="footer-section-2" class="col-xs-12 col-sm-4">

          <!-- GuideStar Seal
          ============================================= -->
          <a href="https://www.guidestar.org/profile/81-4832857" target="_blank">
            <img src="https://widgets.guidestar.org/gximage2?o=9609521&l=v4"/>
          </a>

          <!-- GreatNonprofits Badge
          ============================================= -->
          <a href="https://greatnonprofits.org/org/seekhealing" target="_blank">
            <img src="//cdn.greatnonprofits.org//img/2020-top-rated-awards-badge-embed.png?id=997092596" title="Seekhealing Nonprofit Overview and Reviews on GreatNonprofits"/>
          </a>

        </div>

        <!-- Section 3
        ============================================= -->
        <div id="footer-section-3" class="col-xs-12 col-sm-4">

          <!-- Social Media Links
          ============================================= -->
          <div>
          {% for social in footer.social-media %}
            <a href="{{ social.url }}" target="_blank" class="footer-social-icon">
              <i class="{{ social.icon }}"></i>
            </a>
          {% endfor %}
          </div>

          <span class="contact-info">

            <!-- Email Address
            ============================================= -->
            <span class="email">
              <!-- <i class="email {{ global.email-icon }}"></i> -->
              <a href="mailto:{{ global.email }}" style="border-bottom: none;">{{ global.email }}</a>
            </span><br>

            <!-- Phone Number
            ============================================= -->
            <span class="tel">
              <!-- <i class="phone {{ global.phone-icon }}"></i> -->
              {{ global.phone }}
            </span>

          </span>

        </div>

      </div>
    </div>

  </div><!-- #copyrights end -->
</footer><!-- #footer end -->
