{% comment %}
<!--
  HEAD

  This partial is included on every page to consistently display the same HEAD tag
  information on each page.

-->
{% endcomment %}

<head>

  <!-- General metadata -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="author" content="SeekHealing">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.page_title %}{{ page.page_title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  {% if page.sitemap == false %}
    <meta name="robots" content="noindex">
  {% endif %}

  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}" >
  {% endif %}

  {% if page.description %}
    <meta name="Description" content="{{ page.description }}">
  {% endif %}

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/assets/images/favicons/site.webmanifest">
  <link rel="mask-icon" href="{{ site.baseurl }}/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="{{ site.baseurl }}/assets/images/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Styles -->
  <link href="//fonts.googleapis.com/css?family=Permanent+Marker|Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic|Cousine" rel="stylesheet" type="text/css">
  <link href="{{ site.baseurl }}/css/base.css?{{site.time | date: '%s'}}" rel="stylesheet" />

  {% if page.webinar %}
  <link href="//addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css">
  {% endif %}

  <!-- JS Libs
  <script src="{{ site.baseurl }}/js/libs/modernizr-2.6.2.min.js"></script> -->

  {% if page.title == "We Are The Medicine Auction" %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js" integrity="sha256-+2SfyuYhd9/mPmcIHdzrgwtc4fBaQYTpu7fYesS49OU=" crossorigin="anonymous"></script>
  {% endif %}

</head>
