{% comment %}
<!--
  Header

  This partial is included on every page except to consistently
  display the same header on each page.

-->
{% endcomment %}

{% assign header = site.data.header %}

<header id="header" class="{% if page.transparent-header %}transparent-header {% endif %}dark">

  <div id="header-wrap">

    <div class="container clearfix">

      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="{{ site.baseurl }}/" class="standard-logo" data-dark-logo="{{ site.baseurl }}{{ header.logo }}"><img src="{{ site.baseurl }}{{ header.logo }}" alt="{{ header.logo-alt }}"></a>
      </div><!-- #logo end -->


      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu">
        <ul>

          {% for nav in header.nav %}

            {% if nav.url contains '://' %}
              {% assign nav_url = nav.url %}
            {% else %}
              {% capture nav_url %}{{ site.baseurl }}{{ nav.url }}{% endcapture%}
            {% endif %}

            <li>
              <a href="{{ nav_url }}"{% if nav.class %} class="{{ nav.class }}"{% endif %}{% if nav.target-blank %} target="_blank"{% endif %}>
                {{ nav.title }}
              </a>

              <!-- Submenu Navigation
              ============================================= -->
              {% if nav.submenu %}
              <ul>

                {% for subnav in nav.submenu %}

                  {% if subnav.url contains '://' %}
                    {% assign subnav_url = subnav.url %}
                  {% else %}
                    {% capture subnav_url %}{{ site.baseurl }}{{ subnav.url }}{% endcapture%}
                  {% endif %}

                  <li>
                    <a href="{{ subnav_url }}"{% if subnav.target-blank %} target="_blank"{% endif %}>
                      {{ subnav.title }}
                    </a>
                  </li>

                {% endfor %}

              </ul>
              {% endif %}

            </li>

          {% endfor %}

        </ul>
      </nav><!-- #primary-menu end -->


      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

    </div>

  </div>

</header><!-- #header end -->
