					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul>
							<li><a href="learn.html"><div>Learn</div></a>
								<ul>
									<li><a href="why-we-care.html"><div>The Heroin Epidemic</div></a></li>
									<li><a href="rethinking-rehab.html"><div>Rethinking Rehab</div></a></li>
									<li><a href="science-of-connection.html"><div>The Science of Connection</div></a></li>
								</ul>
							</li>
							<li><a href="our-programs.html"><div>Heal</div></a>
								<ul>
									<li><a href="our-programs.html"><div>Our Programs</div></a></li>
									<li><a href="guidance-for-detox.html"><div>Guidance for Detox</div></a></li>
									<li><a href="seekconnection.html"><div>SeekConnection</div></a></li>
								</ul>
							</li>
							<li><a href="get-involved.html"><div>Help</div></a>
								<ul>
									<li><a href="https://seekhealing.kindful.com" target="_blank"><div>Donate</div></a></li>
									<li><a href="http://shop.seekhealing.org/" target="_blank"><div>Shop</div></a></li>
									<li><a href="volunteer.html"><div>Volunteer</div></a></li>
									<li><a href="connection-agents.html"><div>Connection Agents</div></a></li>
								</ul>
							</li>
							<li><a href="blog.html"><div>Connect</div></a>
								<ul>
									<li><a href="blog.html"><div>Blog</div></a></li>
									<!--<li><a href="gallery.html"><div>Gallery</div></a></li>-->
									<li><a href="upcoming-events.html"><div>Upcoming Events</div></a></li>
								</ul>
							</li>
							<li><a href="they-were-here.html"><div>Remember</div></a></li>
							<li><a href="about.html"><div>About Us</div></a>
								<ul>
									<li><a href="board-of-directors.html"><div>Board of Directors</div></a></li>
									<li><a href="financials.html"><div>Financials</div></a></li>
									<li><a href="contact.html"><div>Contact</div></a></li>
								</ul>
							</li>
							<!-- <li><a href="get-help-now.html" class="button button-border button-rounded button-sh-purple">I need help now</a></li> -->
						</ul>
					</nav><!-- #primary-menu end -->
