

<div id="{{ event.title }}" class="overlay">

  <a class="cancel" href="#_"></a>

  <!-- <div onclick="goBack()" class="cancel"></div>
  <script>function goBack() { window.history.back(); }</script> -->

  <div class="lightbox">
    <div class="section white">
      <div class="event-details lightbox-column-wide">

        <div class="lightbox-content subnav-header">

          <div class="event-type">
            {% if event.event-type == "presentation" %}
            <p class="color-presentation"><i class="fas fa-chalkboard-teacher"></i>  Presentation</p>
            {% elsif event.event-type == "interactive" %}
            <p class="color-interactive"><i class="fas fa-users color-interactive"></i>  Interactive</p>
            {% elsif event.event-type == "interview" %}
            <p class="color-interview"><i class="fas fa-microphone-alt color-interview"></i>  Interview</p>
            {% elsif event.event-type == "music" %}
            <p class="color-music"><i class="fas fa-music color-music"></i>  Music</p>
            {% endif %}
          </div>

          <h3 class="event-name">{{ event.name }}</h3>
          <h4><span class="emphasized-header">{{ event.facilitator }}</span></h4>

          <blockquote class="event-timing">
            <h3 class="event-meta">
              <i class="far fa-calendar-alt"></i>
              {{ schedule.dates[index] }}
            </h3>
          {% assign today_date = "today" | date: "%Y-%m-%d" %}
          {% assign event_date = event.date | date: "%Y-%m-%d" %}
          {% if today_date == event_date %}
            <h3 class="event-meta" style="margin-bottom: 0px;">
              <i class="far fa-clock"></i>
              {{ event.start-time | date: "%l:%M%P" }} {{ schedule.dates[index] | split: "," | first }}
              <a href="{{ event.link }}" class="button zoom-button" target="_blank"><i class="fas fa-hand-point-right"></i>Join in Live!</a>
            </h3>
          {% else %}
            <h3 class="event-meta">
              <i class="far fa-clock"></i>
              {{ event.start-time | date: "%l:%M%P" }}{% if event.end-time %} — {{ event.end-time | date: "%l:%M%P" }}{% endif %}
            </h3>
            {% include lightboxes/addtocalendar.html %}
          {% endif %}
          </blockquote>

          <!-- <p class="event-meta subnav"> -->
            <!-- <i class="fas fa-link"></i> -->
            <!-- <a class="event-link button" href="{{ event.link }}">Join this Event!</a> -->
          <!-- </p> -->

          <div class="event-content">
            {{ event.content | markdownify }}
          </div>
        </div>

        <div class="lightbox-buttons">
          <a class="button" href="#_">Close</a>
          <!-- {% include lightboxes/back-button.html text="Back" %} -->
        </div>

      </div>
    </div>
  </div>

</div>
