

<div id="{{ event.title }}" class="overlay">

  <div onclick="goBack()" class="cancel"></div>
  <script>function goBack() { window.history.back(); }</script>

  <div class="lightbox">
    <div class="section white">
      <div class="event-details lightbox-column-wide">

        <div class="lightbox-content subnav-header">

          <h3 class="event-name">{{ event.name }}</h3>
          <h2>with <span class="emphasized-header">{{ event.facilitator }}</span></h2>

          <p class="event-meta subnav">
            <i class="far fa-clock"></i>
            {{ event.start-time | date: "%l:%M%P" }} —{{ event.end-time | date: "%l:%M%P" }}
            <!-- <span class="meta-separator">/</span> -->
            <i class="fas fa-link"></i>
            <a class="event-link" href="{{ event.link }}">{{ event.link }}</a>
          </p>

          <div class="event-content">
            {{ event.content | markdownify }}
          </div>
        </div>

        <div class="lightbox-buttons">
          {% include lightboxes/back-button.html %}
        </div>

      </div>
    </div>
  </div>

</div>
