{% comment %}
<!-- Generate Oxford comma-separated facilitator lists -->
{% endcomment %}

{% if event.facilitator %}
  {% assign facilitators = event.facilitator %}
{% else %}
  {% if event.facilitators.size == 1 %}
    {% assign facilitators = event.facilitators[0].name %}
  {% elsif event.facilitators.size == 2 %}
    {% assign facilitators = event.facilitators[0].name | append: " and " | append: event.facilitators[1].name %}
  {% else %}
    {% for facilitator in event.facilitators %}
      {% if forloop.first %}
        {% assign facilitators = facilitator.name %}
      {% elsif forloop.last %}
        {% assign facilitators = facilitators | append: ", and " | append: facilitator.name %}
      {% else %}
        {% assign facilitators = facilitators | append: ", " | append: facilitator.name %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}
