<script>
  window.setInterval(function() {

    var Now = new Date(),
    dateNow = Now.toISOString().slice(0, 10);

    $(".event-promo-box").each(function() {
      var date = $( this ).data( "date" ),
      startHour = $( this ).data( "starthour" ),
      startMinute = $( this ).data( "startminute" ),
      endHour = $( this ).data( "endhour" ),
      endMinute = $( this ).data( "endminute" ),
      utcOffset = $( this ).data( "utcoffset" );

      if (dateNow === date) {

        var startTime = new Date(Now.getFullYear(), Now.getMonth(), Now.getDate(), startHour, startMinute),
        endTime = new Date(Now.getFullYear(), Now.getMonth(), Now.getDate(), endHour, endMinute);

        var ShowTime = (Now.getTime() > startTime.getTime() && Now.getTime() < endTime.getTime());

        if (ShowTime) {
          $( this ).show();
        } else {
          $( this ).hide();
        }
      } else {
        $( this ).hide();
      }

    });

  }, 1000 * 10) // this will run every 10 seconds
</script>
