<script>
  window.setInterval(function() {

    var localNow = new Date(),
    localizedNow = localNow.toLocaleString('en-US', { timeZone: 'America/New_York', hour12: false }),
    localizedDateNow = localizedNow.substring(0, localizedNow.indexOf(','));

    var localizedDateNow2 = localNow.toLocaleDateString('en-US', { timeZone: 'America/New_York' });

    $(".event-promo-box").each(function() {
      var date = $( this ).data( "date" ),
      startHour = $( this ).data( "starthour" ),
      startMinute = $( this ).data( "startminute" ),
      endHour = $( this ).data( "endhour" ),
      endMinute = $( this ).data( "endminute" ),
      utcOffset = $( this ).data( "utcoffset" );

      if (localizedDateNow === date) {

        var localizedDateArray = localizedDateNow.split("/"),
        year = localizedDateArray[2],
        month = localizedDateArray[0]-1,
        day = localizedDateArray[1];

        var startTime = new Date(year, month, day, startHour, startMinute),
        endTime = new Date(year, month, day, endHour, endMinute);

        var ShowTime = (localNow.getTime() > startTime.getTime() && localNow.getTime() < endTime.getTime());

        if (ShowTime) {
          $( this ).show();
        } else {
          $( this ).hide();
        }
      } else {
        $( this ).hide();
      }
    });

  }, 1000 * 10) // this will run every 10 seconds
</script>
