<script>
  function update_schedule() {

    var localNow = new Date(),
    localizedDateNow = localNow.toLocaleDateString('en-US', { timeZone: 'America/New_York' });

    $(".event-block").each(function() {
      var date = $( this ).data( "date" ),
      startHour = $( this ).data( "starthour" ),
      startMinute = $( this ).data( "startminute" ),
      endHour = $( this ).data( "endhour" ),
      endMinute = $( this ).data( "endminute" );

      if (localizedDateNow === date) {

        var localizedDateArray = localizedDateNow.split("/"),
        year = localizedDateArray[2],
        month = localizedDateArray[0]-1,
        day = localizedDateArray[1];

        var startTime = new Date(year, month, day, startHour, startMinute),
        endTime = new Date(year, month, day, endHour, endMinute);

        var upcoming = (localNow.getTime() < ( startTime.getTime()-(900*1000) ));
        var ShowTime = (localNow.getTime() > ( startTime.getTime()-(900*1000) ) && localNow.getTime() < ( endTime.getTime() ));

        if (upcoming) {
          $( this ).find(".addtocalendar").show();
          $( this ).find(".zoom-button").hide();
        } else if (ShowTime) {
          $( this ).find(".addtocalendar").hide();
          $( this ).find(".zoom-button").show();
        } else {
          $( this ).find(".addtocalendar").hide();
          $( this ).find(".zoom-button").hide();
        }
      }

    });

  }
  window.setTimeout(update_schedule, 1000);
  window.setInterval(update_schedule, 1000 * 10);
</script>
