<div class="event-content">
  {{ event.content | markdownify }}

  {% for facilitator in event.facilitators %}
  <blockquote class="facilitator-section">

    {% if facilitator.photo %}
    <p class="facilitator-photo">
      {% include responsive-image.html image=facilitator.photo alt=facilitator.name title=facilitator.name %}
    </p>
    {% endif %}

    <blockquote class="facilitator-text">
      {% assign paragraphs = facilitator.bio | newline_to_br | strip_newlines | split: '<br />' %}
      {% for paragraph in paragraphs %}
      <p class="facilitator-bio">{{ paragraph }}</p>
      {% endfor %}

      {% if facilitator.link %}
      <p class="facilitator-link">
        <a href="{{ facilitator.link }}">
        {% if facilitator.link-text %}
          {{ facilitator.link-text }}
        {% else %}
          {{ facilitator.link }}
        {% endif %}
        </a>
      </p>
      {% endif %}
    </blockquote>

  </blockquote>
  {% endfor %}
</div>
