// Contains footer layout styles

footer {
  position: relative;
  border-top: 5px solid rgba(0,0,0,0.2);
  background-color: #333;
  color: #CCC;
  display: block;

  .footer-inner {
    padding: 40px 0;
    font-size: 14px;
    line-height: 1.8;
    background-color: rgba(0,0,0,0.2);
    color: rgba(255,255,255,0.25);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  }
}

.copyright-links a {
  color: rgba(255,255,255,0.25);
  display: inline-block;
  margin: 0 3px;
  border-bottom: 1px dotted #444;
  border-bottom-color: rgba(255,255,255,0.25);

  &:hover {
    color: rgba(255,255,255,0.35);
    border-bottom-color: rgba(255,255,255,0.35);
  }

  &:first-child {
    margin-left: 0;
  }
}

.footer-social-icon {
  padding: 5px 8px 5px 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: #fff;
  background-color: #7f3472;
  border-radius: 5px;
}

.footer-cp {
  text-align: center;

  @media screen and (min-width: $screen-sm-min) {
    text-align: left;
  }
}

.footer-soc {
  padding-top: 25px;
  text-align: center;

  @media screen and (min-width: $screen-sm-min) {
    padding-top: 0px;
    text-align: right;
  }
}