// Contains footer layout styles

footer {
  position: relative;
  border-top: 5px solid rgba(0,0,0,0.2);
  background-color: #333;
  color: #BBB;
  display: block;

  .footer-inner {
    padding: 40px 0;
    font-size: 14px;
    line-height: 1.8;
    background-color: rgba(0,0,0,0.2);
    color: #888;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  }
}

.copyright-links a {
  color: #888;
  display: inline-block;
  // margin: 0 3px;
  border-bottom: 1px dotted #888;
  border-bottom-color: #888;

  &:hover {
    text-decoration: none;
    color: #BBB;
    border-bottom: 1px solid #BBB;
    border-bottom-color: #BBB;
  }

  &:first-child {
    margin-left: 0;
  }
}

.contact-info {
  a {
    color: #888;
    &:hover {
      color: #BBB;
    }
  }

  i {
    margin: 0 3px;
  }
}

.footer-social-icon {
  padding: 5px 8px 5px 10px;
  margin: 0px 5px 10px;
  color: #fff;
  background-color: #57AF98;
  border-radius: 5px;

  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: darken(#57AF98,8%);
  }
}


.footer-row {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $screen-sm-min) {
    flex-direction: row;
  }
  justify-content: space-evenly;
  align-items: baseline;
}

.footer-row > div {
  flex: 1;

  display: flex;
  justify-content: space-evenly;

  min-height: 100px;
  margin-top: 20px;
  &:first-child {
		margin-top: 0;
	}
  @media screen and (min-width: $screen-sm-min) {
    margin-top: 0;
  }
  text-align: center;
  white-space: nowrap;
}

#footer-section-1,
#footer-section-3 {
  @media screen and (min-width: $screen-sm-min) {
    flex: 2;
  }

  flex-direction: column;
}

#footer-section-2 {
  align-self: center;

  flex-direction: row;
}
