// Contains hero section styles

#header.transparent-header + #slider {
  top: -100px;
  margin-bottom: -100px;
}

#slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #f9f9f9;
}

#header.transparent-header + .slider-parallax .slider-parallax-inner {
  top: 0;
}

body:not(.side-header) .slider-parallax .slider-parallax-inner {
  left: 0;
}

.slider-parallax .slider-parallax-inner, .slider-parallax .slider-caption, .slider-parallax .ei-title {
  will-change: transform;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: transform 0s linear;
  -webkit-backface-visibility: hidden;
}

.slider-parallax .slider-parallax-inner {
  position: fixed;
  width: 100%;
  height: 100% !important;
}

.dark .slider-caption, .dark .slider-caption h2 {
  color: #EEE;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.slider-parallax .slider-parallax-inner, .slider-parallax .slider-caption, .slider-parallax .ei-title {
  will-change: transform;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: transform 0s linear;
  -webkit-backface-visibility: hidden;
}

.slider-caption {
  position: relative;
  z-index: 20;
  max-width: none;
  color: #EEE;
  font-size: 22px;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
  -webkit-transition: top .3s ease;
  -o-transition: top .3s ease;
  transition: top .3s ease;
}

#slider h1 {
  font-size: 32px;
  line-height: 1.2;
  color: #EEE;
  padding-top: 20px;

  @media screen and (min-width: $screen-sm-min) {
    font-size: 42px;
  }

  @media screen and (min-width: $screen-md-min) {
    font-size: 52px;
    padding-top: 0px;
    margin: 0px;
  }
}

#slider h2 {
  margin-bottom: 10px;
  font-size: 20px;

  @media screen and (min-width: $screen-sm-min) {
    font-size: 22px;
  }

  @media screen and (min-width: $screen-md-min) {
    font-size: 24px;
    margin: 20px 0 0 0;
  }
}

#slider p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 0px;

  @media screen and (min-width: $screen-sm-min) {
    font-size: 20px;
  }

  @media screen and (min-width: $screen-md-min) {
    font-size: 22px;
    // margin: 20px 0 0 0;
  }
}

.hero-area {
  height: 100%;
  width: 100%;
  transform: translate3d(0px, 0px, 0px);
  touch-action: pan-y;
  z-index: 1;
}

#eventsPromo {
  background-color: #f9f9f9;
  border-bottom: 3px solid #EEE;
  position: relative;
}

.content-wrap {
  position: relative;
  padding: 80px 0;
}

@media (max-width: 1024px) {
  #slider:not(.swiper_wrapper) .slider-caption {
    display: block !important;
  }
}

@media (max-width: 991px) {
  .slider-parallax .slider-parallax-inner {
    position: relative;
  }
  #header.transparent-header + #slider, #header.transparent-header + #page-title.page-title-parallax, #slider + #header.transparent-header, #header.transparent-header.floating-header + #slider, #header.transparent-header + #google-map {
    top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 736px) {
  .hero-area {
    margin: 0 0 25px 0;
  }
}

.hero-vid {
  margin: 20px 0 40px;
}

.hero-img {
  margin: 20px 0 40px;

  @media screen and (min-width: $screen-md-min) {
    margin: 0;
  }
}

.hero-columns {
  display: flex;
  align-items: center;
}


#watm-hero,
#obt-hero {

  #watm-hero-row,
  #obt-hero-row {
    h2 {
      margin-bottom: 20px;
    }

    h1, h2, h3, h4, h5, h6, p {
      text-shadow: 2px 2px 4px #000;
    }
  }
  
}

#watm-hero:after,
#obt-hero:after {
    content: '\A';
    position: absolute;
		width: 100vw;
		height: 100%;
    top:0;
		left:0;
    background:rgba(0,0,0,0.3);
    opacity: 1;
    // transition: opacity 0.5s;
    // -webkit-transition: opacity 0.5s;
	  // -moz-transition: opacity 0.5s;
}
