// Contains section styles

.section {
  position: relative;
  padding: 60px 0;
  overflow: hidden;
  background-color: #F9F9F9;
  font-size: 18px;

  &.double-full {
    padding: 0;
  }

  &.white, .col-padding.white {
    background-color: #FFF;
  }

  &.black, .col-padding.black {
    background-color: #333;
  }

  &.no-top-padding {
    padding-top: 0;
  }

  &.no-bot-padding {
    padding-bottom: 0;
  }

  &.no-padding {
    padding: 0;
  }

  .normal-header h1 {
    font-size: 22px;
    color: #777;
    font-weight: 300;

    &:after {
      content: '';
      display: block;
      margin: 30px auto 0;
      width: 40px;
      border-top: 2px solid #444;
    }
  }

  .custom-header {
    margin-bottom: 50px;
    
    h1 {
      font-size: 22px;
      color: #777;
      font-weight: 300;
      margin: 0;    
    }

    .subnav {
      font-size: 16px;
    }

    &:after {
      content: '';
      display: block;
      margin: 30px auto 0;
      width: 40px;
      border-top: 2px solid #444;
    }
  }

  .subnav-header {
    margin-bottom: 50px;
    
    h1 {
      font-size: 22px;
      color: #777;
      font-weight: 300;
      margin: 0;    
    }

    .subnav {
      font-size: 16px;

      &:after {
        content: '';
        display: block;
        margin: 30px auto 0;
        width: 40px;
        border-top: 2px solid #444;
      }
    }    
  }

  &.font-lg-light {
    font-size: 22px;
    font-weight: 300;
  }

  h2, .heading-two {
    font-size: 22px;
    color: #777;
    font-weight: 300;
  }
}

section.bottom-border {
  border-bottom: 3px solid #EEE;
}

section.dark-grey {
  background-color: #333;
}

section.thin {
  padding: 35px;
}

.col-padding {
  padding: 60px;
}


.parallax {
  background-repeat: repeat;
  margin-top: 0px;

  .section {
    background-color: transparent;
    padding: 0;
  }
}

.parallax-txt-bg {
  border: 0;
  box-shadow: none;
  color: #EEE;

  .inner {
    background-color: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;

    &.font-lg-light {
      font-size: 22px;
      font-weight: 300;
    }
  }
}


.social-share {
  text-align: right;
  img {
    max-width: 100%;
  }

  .social-share__content {
    background: #d6e5ef;
    padding: 15px 20px;
    text-align: left;
  }

  .social-share__content__icon {
    display: inline-block;
    height: 24px;
    fill: #032959;
    margin: 5px 10px 0 0;
    width: 24px;
    vertical-align: top;
  }

  .social-share__content__copy {
    display: inline-block;
    width: calc(100% - 50px);
  }


  .button.button--has-icon {
    color: #fff;
    display: inline-block;
    line-height: 1.125rem;
    padding: 13px 12px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    margin: 0;
    border-radius: 0;
    height: auto;

    .button__icon {
      display: inline-block;
      fill: #fff;
      height: 24px;
      margin: 0 7px 0 0;
      width: 24px;
      vertical-align: text-bottom;
    }
  }
}
