// Contains subnav layout styles

.subnav-row>div {
  padding: 50px 0 0;

  @media screen and (min-width: $screen-sm-min) { 
    padding: 50px 0 0;
  }
}

.subnav-row>div.subnav-wrapped-item {
	padding: 50px 0 0;
}