// Contains form styles

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

// Subscribe Form Specific Styles
form#mc-embedded-subscribe-form {
  border: 0;
  padding: 0;
  background-color: transparent;

  .input-group {
    width: 100%;
    margin: 0 auto 10px;

    @media screen and (min-width: $screen-sm-min) {
      width: 50%;
    }
  }

  input#mce-EMAIL {
    width: 100%;
    background-color: #fff;
    padding: 6px 12px;
  }

  .sbsrb-donate {
    width: 100%;
    margin: 0 auto;
    display: table;
    position: relative;
    padding-bottom: 25px;

    @media screen and (min-width: $screen-sm-min) {
      width: 50%;
    }
  }

  .sbscrb-donate-blurb {
    display: table-cell;
    width: 99%;
  }

  .sbscrb-donate-link {
    display: table-cell;
    width: 1%;
  }
}

/* Form Styling */
form {
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  font-size: 16px;
}

label {
  font-size: 16px;
  font-family: Lato, sans-serif;
}

select {
  margin: 10px 0 0 0;
  width: 100%;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
}

.req {
  color:#db4437;
}

.form-control, .btn.form-control, .form-control:focus, .form-control.focus, 
.form-control.active.focus, .form-control>span:focus, label, label:focus,
.btn.active:focus {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  outline: 0;
}

.form-control {
  background-color: transparent;
}

input[type="text"].form-control, input[type="email"].form-control  {
  padding: 6px 0px;
  border-bottom: 1px solid #ccc;
}

input[type="text"].form-control.other {
  display: inline;
  margin: 0;
  padding: 0;
  height: 75%;
  width: 75%;
}

.btn.form-control {
  text-align: left;
  padding-left: 0px;
}

a.definition {
  border-bottom: 1px dashed #7f3472;
  padding-bottom: 5px;
}

.tooltip {
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 2px 5px);
}

.tooltip.top .tooltip-inner{
  max-width:310px;
  padding:8px;
  color:#fff;
  text-align:center;
  background-color:#333;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px
}

.fa-big {
  font-size: 20px;
}

.alert.alert-success {
	display: none;
}

.radio-inline + .radio-inline {
	margin-left: 0;
}

.checkbox-inline+.checkbox-inline {
  margin-left: 0px;
}

.row.invalid-row {
  background-color: #ffebee;
}

#cuForm .field {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.error-message {
  color: red;
  padding-top: 10px;
}

.form-subheader {
  margin-left: -35px;
  padding: 40px 0 20px;
}

.form-subheader-container {
  background-color: #7f3472;
  padding: 10px 0px 10px 20px;
  color: #fff;
  float: left;
}

.form-subheader-triangle {
  float:left;

  svg {
    height: 100%;
    overflow: hidden;
    position: absolute;
  }

  svg polygon {
    fill: #7f3472;
    stroke: #7f3472;
    stroke-width: 1;
  }
}

.form-question-desc {
  font-size: 12px;
}

.form-question-example {
  font-size: 12px;
  color: #7f3472;
  font-style: italic;
  text-transform: none;
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 16px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input[type="radio"]:checked ~ .reveal-if-active,
input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px;
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow: visible;
}


#slider .infoCard {
  -moz-box-shadow: 0px 0px 15px rgba(155,155,155,0.8);
  -webkit-box-shadow: 0px 0px 15px rgba(155,155,155,0.8);
  box-shadow: 0px 0px 15px rgba(155,155,155,0.8);
  background: rgba(255,255,255,0.85);
  margin: 20px auto;
  border-radius: 10px;

  h3 {
    color: #3e203a;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    border-bottom: 1px solid #bbb;
    margin-bottom: 0;
  }

  h4 {
    font-size: 14px;
    color: #777;
    font-weight: 500;
    margin: 5px 0;
  }

  .goal-progress {
    font-size: 14px;
    color: #777;
    font-weight: 300;   

    .label-raised {
      float: left;
    }

    .label-goal {
      float: right;
    }
  }

  >form {
    background-color: initial;
    border: 0;
    padding: 10px 20px;

    >p {
      color: #777;
      margin: 10px 0;
      font-size: 16px;
    }

    .progress {
      margin-bottom: 15px;
    }

    .progress-bar {
      background-color: #3e203a;
      min-width: 2em;
    }

    .donate-btn-group {
      margin: 0 10px 0 0;
      height: 35px;
      line-height: 35px;
    }

    .form-group {
      margin: 10px 0;
    }

    .form-control {
      background-color: #eee;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-radius: 4px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      width: 50%;
    }
  }
}
