// Contains form styles

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

#mc-embedded-subscribe-form .input-group {
  width: 100%;
  margin: 0 auto 10px;

  @media screen and (min-width: $screen-sm-min) {
    width: 50%;
  }
}