// Contains lightbox styles

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	transition: opacity 200ms;
	visibility: hidden;
	opacity: 0;

	z-index: 999;
	overflow: scroll;
}

.overlay .cancel {
	position: fixed;
	width: 100%;
	height: 100%;
	cursor: default;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}


.lightbox {

	background: #fff;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	// position: relative;


	/* Probably need media queries here */
  // width: 600px;
  // max-width: 90%;
  // height: 400px;
  // max-height: 90%;

  margin: 50px 30px;
	padding: 40px;

	.lightbox-column,
	.lightbox-column-thin,
	.lightbox-column-wide {
		width: 100%;
	}

	@media screen and (min-width: $screen-sm-min) {
		margin: 50px 60px;
		padding: 60px;

		.lightbox-column-thin {
			width: 65%;
		}
		.lightbox-column {
			width: 80%;
		}
		.lightbox-column-wide {
			width: 95%;
		}
	}

	@media screen and (min-width: $screen-md-min) {
		margin: 50px 90px;
	}

	@media screen and (min-width: $screen-lg-min) {
		margin: 50px 120px;
	}


	.close {
		position: fixed;
		width: 20px;
		height: 20px;
		top: 20px;
		right: 20px;
		opacity: 0.8;
		transition: all 200ms;
		font-size: 24px;
		font-weight: bold;
		text-decoration: none;
		color: #777;
	}
	.close:hover {
		opacity: 1;
	}


	.section {
		display: flex;
	  align-items: center;
	  justify-content: center;

		padding: 0px;

		.event-details {
			h1 {
				margin-bottom: 20px;
			}
			h2 {
				margin-bottom: 15px;
			}
			h3 {
				margin-bottom: 10px;
			}
			p {
				margin-bottom: 30px;
				font-size: 16px;
			}
		}

	}


	text-align: center;

	// .content {
	// 	max-height: 400px;
	// 	overflow: auto;
	// }

	h2 {
		margin-top: 0;
	}

	p {
		margin: 0 0 1em;
	}

	p:last-child {
		margin: 0 0 1.5em;
	}

	img {
		/** Pad the lightbox image */
		max-width: 80%;

		@media screen and (min-width: $screen-md-min) {
	    max-width: 40%;
			float: right;
	  }
	}


	.lightbox-buttons {
		display: flex;
	  justify-content: center;
	}

}
