// Contains Lists styles

// default style used in most content layouts
p.list-header {
  margin-bottom: 10px;
}

li {
  margin-bottom: 10px;
}

ul {
  display: inline-block;
  text-align: left;
  width: 70%;
  line-height: 25px;

  &.full {
    width: 100%;
    padding: 0 0px 0 40px;
  }

  li:last-child {
    margin-bottom: 0;
  }
}

ul.remembered {
  list-style-type: none;
  font-size: 14px;

  &>li {
    padding-bottom: 30px;
  }

  span {
    font-size: 12px;
  }

  .by {
    font-style: italic;
    display: block;
  }
}

//double column lists
.double ul {
  padding: 0px 10px 0px 40px;
  font-size: 16px;
  width: 100%;
}

ol.references {
  text-align: left;
  font-size: 14px;
  padding: 0px 10px 0px 40px;
  word-wrap: break-word;
}

.citations ol {
  list-style-position: inside;
  font-size: 12px;
  line-height: 25px;
}

ul.resources {
  list-style-type: none;
  font-size: 14px;
  width: 100%;

  li {
    margin-bottom: 30px;
  }

  i {
    font-size: 35px;
    margin: 5px 10px 0 0;
  }

  .resources-item {
    display: table-cell;
  }
}

ul.centered {
  text-align: center;
  list-style-position: inside;
  font-size: 12px;
  line-height: 25px;
}

ul.partners {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  li {
    padding: 0;
    margin: 20px 2%;
    display: inline-block;
    list-style: none;
    width: 22%;
    vertical-align: bottom;

    @media screen and (min-width: $screen-sm-min) {
      width: 18%;
    }

    @media screen and (min-width: $screen-md-min) {
      width: 14%;
    }

    table {
      margin: 0 auto;
      width: 100%;
      vertical-align: bottom;
      height: 70px;
      font-size: 16px;
    }
  }

  img {
    max-width: 100%;
    max-height: 250px;

    transition: all .15s ease-in-out;
  }

  a > img:hover {
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15);
  }

  p {
    font-size: 16px;
    padding-top: 15px;
  }
}

ul.blocks {
  padding: 0;
  margin: 30px 0 0 0;
  list-style: none;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  a {
    padding: 30px;
    margin: 15px 1%;
    display: inline-block;
    width: 75%;
    background-color: #A88CC6;
    border-radius: 25px;

    @media screen and (min-width: $screen-sm-min) {
      width: 46%;
    }

    @media screen and (min-width: $screen-md-min) {
      width: 25%;
    }

    h2 {
      font-size: 20px;
      font-weight: bold;
      color: #000;
    }

    p {
      font-size: 16px;
      color: #fff;
      margin: 0;
    }
  }
}

.list-checkmarks {
  padding-left:1.5rem;

  li {
    list-style-type:none;
    padding-left:1rem;

    &:before {
      font-family: 'FontAwesome';
      content: "\f14a";
      margin:0 10px 0 -28px;
      color: #57AF98;
    }
  }
}
