// Contains Lists styles

// default style used in most content layouts
ul {
  display: inline-block;
  text-align: left;
  width: 65%;
  line-height: 25px;

  &.full {
    width: 100%;
    padding: 0 0px 0 40px;
  }
}

ul.remembered {
  list-style-type: none;
  font-size: 14px;

  &>li {
    padding-bottom: 30px;
  }

  span {
    font-size: 12px;
  }

  .by {
    font-style: italic;
  }
}

//double column lists
.double ul {
  padding: 0px 10px 0px 40px;
  font-size: 16px;
  width: 100%;
}

ol.references {
  text-align: left;
  font-size: 14px;
  padding: 0px 10px 0px 40px;
  word-wrap: break-word;
}

.citations ol {
  list-style-position: inside;
  font-size: 12px;
  line-height: 25px;
}

ul.resources {
  list-style-type: none;
  font-size: 14px;
  width: 100%;

  li {
    margin-bottom: 30px;
  }

  i {
    font-size: 35px;
    margin: 5px 10px 0 0;
  }
  
  .resources-item {
    display: table-cell;
  }
}

ul.centered {
  text-align: center;
  list-style-position: inside;
  font-size: 12px;
  line-height: 25px;
}
ul.partners {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  width: 100%;

  li {
    padding: 0;
    margin: 15px 1%;
    display: inline-block;
    list-style: none;
    width: 20%;
  }

  img {
    max-width: 100%;
  }

  a>img:hover {
    opacity: 0.8;
    -moz-box-shadow: 0 0 40px #000;
    -webkit-box-shadow: 0 0 40px #000;
    box-shadow: 0 0px 40px #000;
  }
}

.list-checkmarks {
  padding-left:1.5rem;

  li {
    list-style-type:none;
    padding-left:1rem;

    &:before {    
      font-family: 'FontAwesome';
      content: "\f00c";
      margin:0 10px 0 -28px;
      color: #7f3472;
    }
  }
}
