// Contains Team Section Styles

.director-image {
  float: none;
  width: 100%;

  @media screen and (min-width: $screen-sm-min) {
    float: left;
    width: 200px;
    margin-right: 30px;
  }

  @media screen and (min-width: $screen-lg-min) {
    width: 250px;
  }

  img {
    display: block;
    width: 100%;
  }
}

.director-desc {
  position: relative;
  overflow: hidden;
  text-align: left;

  h2 {
    display: block;
    margin-bottom: 5px;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
  }

  .title {
    display: block;
    color: #57AF98;
    font-weight: 400;
    font-family: 'Crete Round', serif;
    font-style: italic;
    font-size: 15px;
  }
}

.director-content {
  margin-top: 15px;
  color: #777;
  font-size: 16px;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
  margin: 0 0 50px;

  &.no-margin {
    margin: 0;
  }

  &.no-margin.align-center {

    p {
      margin: 0;
    }
  }
}

.row.display-flex > [class*='col-'].align-center {
  align-self: center;
}

.row.display-flex > [class*='col-'].align-center.first-flex-item {
  margin: 10px 25px;

  @media screen and (min-width: $screen-sm-min) {
    margin: 0px;
  }
}

.row.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &.no-margin {
    margin: 0;
  }

  @media screen and (min-width: $screen-sm-min) {
    flex-wrap: nowrap;
  }
}

.row.flex-row > .flex-item {
  max-width: 85%;
  margin: 10px 25px;

  p {
    margin: 0;
  }

  @media screen and (min-width: $screen-sm-min) {
    max-width: 60%;
  }

  @media screen and (min-width: $screen-md-min) {
    max-width: 65%;
  }
}

.row.flex-row > .flex-item.first-flex-item {

  @media screen and (min-width: $screen-sm-min) {
    max-width: 25%;
  }
}

.team-image {
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: $screen-sm-min) {
    width: 200px;
  }

  @media screen and (min-width: $screen-lg-min) {
    width: 250px;
  }

  img {
    display: block;
    width: 100%;
    border-radius: 50%;
  }
}

.team-desc {
  position: relative;
  overflow: hidden;
  text-align: center;

  h2 {
    display: block;
    margin: 5px 0;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
  }

  .title {
    display: block;
    color: #57AF98;
    font-weight: 400;
    font-family: 'Crete Round', serif;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 5px
  }
}

.team-content {
  color: #777;
  font-size: 16px;

  a {
    font-size: 13px;

    @media screen and (min-width: $screen-sm-min) {
      font-size: 16px;
    }
  }

  .sub-title {
    font-family: 'Crete Round', serif;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 5px
  }
}
