---
layout: default
---

{% assign ash = site.data.asheville-pilot-program %}

<section class="section pilot-program-section white">
	<div class="container clearfix">

		<div class="row">
			<div class="col-xs-12 text-center subnav-header">
				<h1>{{ ash.header }}</h1>
				<p class="subnav bull-subheader">
					{{ ash.subheader }}
				</p>
			</div>
		</div>

		<div class="row text-center">
			<div class="col-xs-12 text-center">
				<img src="{{ ash.seeker-img }}" alt="{{ ash.seeker-img-alt }}">
				<h2>{{ ash.seeker-header }}</h2>
				<p>{{ ash.seeker-desc }}</p>
				<img src="{{ ash.seeker-img-2 }}" alt="{{ ash.seeker-img-2-alt }}" class="split-graphic">
			</div>
		</div>

		<div class="row text-center">
			<div class="col-xs-6 text-center">
				<p>{{ ash.seeker-side-1 }}</p>
			</div>

			<div class="col-xs-6 text-center">
				<p>{{ ash.seeker-side-2 }}</p>
			</div>
		</div>

		<div class="row text-center rowmargin">
			<div class="col-xs-12 col-sm-6 text-center">
				<img src="{{ ash.conn-agent-acts }}" alt="{{ ash.conn-agent-acts-alt }}">
			</div>

			<div class="col-xs-12 col-sm-6 text-center">
				<img src="{{ ash.conn-bball }}" alt="{{ ash.conn-bball-alt }}" class="ashe-bball">
				<h2 class="green-hdr">{{ ash.conn-agent-header }}</h2>
				<p>{{ ash.conn-agent-desc }}</p>
			</div>
		</div>

		<div class="row text-center rowmargin">
			<div class="col-xs-12 text-center">
				<img src="{{ ash.conn-gathering }}" alt="{{ ash.conn-gathering-alt }}">
				<h2>{{ ash.conn-gathering-header }}</h2>
				<p>{{ ash.conn-gathering-desc }}</p>
			</div>
		</div>

		<div class="row text-center rowmargin">
			<div class="col-xs-12 text-center">
				<div class="match-left">
					<img src="{{ ash.big-stick }}" alt="{{ big-stick-alt }}">
				</div>
				<div class="match-right">
					<div class="row">
						<div class="match-inner-left">
							<p>{{ ash.match }}</p>
						</div>
						<div class="match-inner-right">
							<img src="{{ ash.match-img }}" alt="{{ ash.match-img-alt }}">
						</div>
						<div class="match-inner-p">
							<p>{{ ash.match-desc }}</p>
						</div>
					</div>
					<div class="row">
						<div class="match-inner-left">
							<p>{{ ash.match-desc-2 }}</p>
						</div>
						<div class="match-inner-right">
							<img src="{{ ash.yoga }}" alt="{{ ash.yoga-alt }}">
						</div>
						<div class="match-inner-p">
							<p>{{ ash.match-desc-3 }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row text-center rowmargin">
			<div class="col-xs-12 text-center">
				<img src="{{ ash.data }}" alt="{{ ash.data-alt }}">
				<h2>{{ ash.data-header }}</h2>
				<p>{{ ash.data-desc }}</p>
			</div>
		</div>

		<div class="row text-center rowmargin">
			<div class="col-xs-12 text-center">
				<h3>{{ ash.heal-header }}</h3>
			</div>
		</div>

		<div class="row text-center">
			<div class="col-xs-12 text-center">
				<h4>{{ ash.apply-header }}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-offset-2 col-md-8 apply-rows">
				
				{% for link in ash.apply-links %}
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-5 apply-btns">
						<a href="{{ link.url }}" class="button button-3d button-rounded button-purple" target="_blank">{{ link.btn-txt }}</a>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-7">
						<p>{{ link.title }}</p>
					</div>
				</div>
				{% endfor %}
				
			</div>
		</div>

		<div class="row text-center">
			<div class="col-xs-12 text-center">
				<p class="size-16">{{ ash.subtext }}</p>
			</div>
		</div>

	</div>
</section>