---
layout: compress
---

<!DOCTYPE html>
<html dir="ltr" lang="en-US">

{% include head.html %} 

  <body class="stretched">

    <div id="wrapper" class="clearfix">

    {% include header.html %}

      {{ content }}
  
    {% include footer.html %}

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="fa fa-caret-up"></div>

    <!-- Google Analytics -->
     <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

     ga('create', '{{ site.ga_property_id }}', 'auto');
     ga('send', 'pageview');
     </script>
    <!-- End Google Analytics -->

    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="{{ site.baseurl}}/assets/js/jquery.js"></script>
    <script type="text/javascript" src="{{ site.baseurl}}/assets/js/plugins.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="{{ site.baseurl}}/assets/js/functions.js?{{site.time | date: '%s'}}"></script>
    <script type="text/javascript" src="{{ site.baseurl}}/assets/js/custom-functions.js?{{site.time | date: '%s'}}"></script>


  </body>

</html>