// File contains styles for base HTML Elements

body {
  color: #777;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}

dl, dt, dd, ol, ul, li {
  margin: 0;
  padding: 0;
}

a {
  color: #AF79F2;
  text-decoration: none;

  &:hover {
    color: #AF79F2;
    text-decoration: underline;
  }
}

img {
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 30px 0;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 767px) {

  h1 { font-size: 28px; }

  h2 { font-size: 24px; }

  h3 { font-size: 20px; }

  h4 { font-size: 16px; }
}

section {
  position: relative;
}

p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form {
  margin-bottom: 30px;
}

blockquote {
  font-size: 20px;
  font-style: italic;
  margin: 0 auto;
  line-height: 1.45;
  position: relative;
  border: 0;
  text-align: center;

  &:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -30px;
    top: -20px;
    font-family: Georgia, serif;
    font-size: 85px;
    font-weight: bold;
  }

  cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;

    &:before {
      content: "\2014 \2009";
    }
  }
}

blockquote.large-blockquote {
  font-size: 24px;

  cite {
    font-size: 17px;
  }

  @media screen and (min-width: $screen-md-min) {
    font-size: 27px;

    cite {
      font-size: 18px;
    }
  }
}

form {
  margin: 0;
}

audio {
  filter: sepia(10%) saturate(70%) grayscale(1) contrast(99%) invert(19%);
  width: 100%;
  height: 50px;

  @media screen and (min-width: $screen-sm-min) {
    width: 50%;
  }
}

// Bootstrap iOS fix
.row.display-flex:after, .row.display-flex:before {
  display: none;
}
