// Base Typography Classes

// Main fonts used in site
@font-face {
	font-family: 'font-icons';
	src:url('../assets/fonts/font-icons/font-icons.eot');
	src:url('../assets/fonts/font-icons/font-icons.eot') format('embedded-opentype'),
		url('../assets/fonts/font-icons/font-icons.woff') format('woff'),
		url('../assets/fonts/font-icons/font-icons.ttf') format('truetype'),
		url('../assets/fonts/font-icons/font-icons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.bold-purple {
  color: #7f3472;
  font-weight: 800;
}

.white-txt {
  color: #FFF;
}

.purple-label {
  background-color: #611bb8;
  padding: 20px;
  display: table;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}